In [1]:
from sqlparsemodel.split_subquery import split_subquery
from sqlparsemodel.split_subquery import subquey_replace
from sqlparsemodel.split_subquery import get_tokenstate
from sqlparse.tokens import Text
from sqlparse.sql import Identifier
import sqlparse
import re
from sqlparsemodel.Querystate import Querystate
Querystate = Querystate()

{}
|- 0 DDL 'CREATE'
|- 1 Whitespace ' '
|- 2 Keyword 'TABLE'
|- 3 Whitespace ' '
|- 4 Keyword 'FINAL'
|- 5 Whitespace ' '
|- 6 Keyword 'as'
|- 7 Whitespace ' '
|- 8 Newline ' '
|- 9 Whitespace ' '
|- 10 Whitespace ' '
|- 11 Whitespace ' '
|- 12 Whitespace ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 Whitespace ' '
|- 17 Whitespace ' '
|- 18 Whitespace ' '
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 DML 'select'
|- 25 Whitespace ' '
|- 26 IdentifierList 'a1, co...'
|  |- 0 Identifier 'a1'
|  |  `- 0 Name 'a1'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 'count'
|     `- 0 Name 'count'
|- 27 Parenthesis '(a2)'
|  |- 0 Punctuation '('
|  |- 1 Identifier 'a2'
|  |  `- 0 Name 'a2'
|  `- 2 Punctuation ')'
|- 28 Whitespace ' '
|- 29 Newline ' '
|- 30 Whitespace ' '
|- 31 Whitespace ' '
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
|- 39 Whitespace ' '
|- 40 Whitespace ' '
|- 41 Whitespace ' '
|- 42 Whitespace ' '
|- 43 Whitespace ' '
|- 44 Whitespace ' '
|- 45 Keyword 'from'
|- 46 Whitespace ' '
|- 47 Identifier 'MEOW.A...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  |- 2 Name 'AAA_ta...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'as'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 't3'
|     `- 0 Name 't3'
|- 48 Whitespace ' '
|- 49 Newline ' '
|- 50 Whitespace ' '
|- 51 Whitespace ' '
|- 52 Whitespace ' '
|- 53 Whitespace ' '
|- 54 Whitespace ' '
|- 55 Whitespace ' '
|- 56 Whitespace ' '
|- 57 Whitespace ' '
|- 58 Whitespace ' '
|- 59 Whitespace ' '
|- 60 Whitespace ' '
|- 61 Whitespace ' '
|- 62 Whitespace ' '
|- 63 Whitespace ' '
|- 64 Whitespace ' '
|- 65 Whitespace ' '
|- 66 Whitespace ' '
|- 67 Whitespace ' '
|- 68 Whitespace ' '
|- 69 Whitespace ' '
|- 70 Keyword 'left j...'
|- 71 Whitespace ' '
|- 72 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Wildcard '*'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier '(SELEC...'
|  |  |  |- 0 Parenthesis '(SELEC...'
|  |  |  |  |- 0 Punctuation '('
|  |  |  |  |- 1 DML 'SELECT'
|  |  |  |  |- 2 Whitespace ' '
|  |  |  |  |- 3 Wildcard '*'
|  |  |  |  |- 4 Whitespace ' '
|  |  |  |  |- 5 Keyword 'FROM'
|  |  |  |  |- 6 Whitespace ' '
|  |  |  |  |- 7 Identifier 'MEOW.C...'
|  |  |  |  |  |- 0 Name 'MEOW'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'CCC_ta...'
|  |  |  |  |- 8 Whitespace ' '
|  |  |  |  `- 9 Punctuation ')'
|  |  |  |- 1 Whitespace ' '
|  |  |  |- 2 Keyword 'as'
|  |  |  |- 3 Whitespace ' '
|  |  |  `- 4 Identifier 't1'
|  |  |     `- 0 Name 't1'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't2'
|     `- 0 Name 't2'
|- 73 Whitespace ' '
|- 74 Keyword 'on'
|- 75 Whitespace ' '
|- 76 Parenthesis '(t3.a1...'
|  |- 0 Punctuation '('
|  |- 1 Comparison 't3.a1 ...'
|  |  |- 0 Identifier 't3.a1'
|  |  |  |- 0 Name 't3'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'a1'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Identifier 't2.a5'
|  |     |- 0 Name 't2'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'a5'
|  `- 2 Punctuation ')'
|- 77 Newline ' '
|- 78 Whitespace ' '
|- 79 Whitespace ' '
|- 80 Whitespace ' '
|- 81 Whitespace ' '
|- 82 Whitespace ' '
|- 83 Whitespace ' '
|- 84 Whitespace ' '
|- 85 Whitespace ' '
|- 86 Whitespace ' '
|- 87 Whitespace ' '
|- 88 Whitespace ' '
|- 89 Whitespace ' '
|- 90 Whitespace ' '
|- 91 Whitespace ' '
|- 92 Whitespace ' '
|- 93 Where 'where ...'
|  |- 0 Keyword 'where'
|  |- 1 Whitespace ' '
|  |- 2 Comparison 't3.X1 ...'
|  |  |- 0 Identifier 't3.X1'
|  |  |  |- 0 Name 't3'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'X1'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Single "'thing'"
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'and'
|  |- 5 Whitespace ' '
|  |- 6 Identifier 't3.X2'
|  |  |- 0 Name 't3'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'X2'
|  |- 7 Whitespace ' '
|  |- 8 Keyword 'in'
|  |- 9 Whitespace ' '
|  |- 10 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Function 'distin...'
|  |  |  |- 0 Identifier 'distin...'
|  |  |  |  `- 0 Name 'distin...'
|  |  |  `- 1 Parenthesis '(b1)'
|  |  |     |- 0 Punctuation '('
|  |  |     |- 1 Identifier 'b1'
|  |  |     |  `- 0 Name 'b1'
|  |  |     `- 2 Punctuation ')'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier 'MEOW.B...'
|  |  |  |- 0 Name 'MEOW'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'BBB_ta...'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 11 Whitespace ' '
|  |- 12 Newline ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  `- 27 Whitespace ' '
|- 94 Keyword 'Group ...'
|- 95 Whitespace ' '
|- 96 Identifier 'a1--- ...'
|  |- 0 Name 'a1'
|  `- 1 Comment '--- ...'
|     |- 0 Single '--- '
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Whitespace ' '
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Whitespace ' '
|     |- 11 Whitespace ' '
|     |- 12 Whitespace ' '
|     |- 13 Whitespace ' '
|     |- 14 Whitespace ' '
|     `- 15 Whitespace ' '
|- 97 Keyword 'limit'
|- 98 Whitespace ' '
`- 99 Integer '15'
None
SELECT表示句:TABLE
OTHER表示句:FINAL
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1
(SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 )
{'MAIN': "CREATE TABLE FINAL as \n               select a1, count(a2) \n               from MEOW.AAA_table as t3 \n                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) \n               Group by a1---\n               limit 15", 'MAIN_FROM1': '(SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Wildcard '*'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Wildcard '*'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier 'MEOW.C...'
|  |  |  |- 0 Name 'MEOW'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'CCC_ta...'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't1'
|     `- 0 Name 't1'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1_FROM1
(SELECT * FROM MEOW.CCC_table )
{'MAIN': "CREATE TABLE FINAL as \n               select a1, count(a2) \n               from MEOW.AAA_table as t3 \n                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) \n               Group by a1---\n               limit 15", 'MAIN_FROM1': 'SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ', 'MAIN_FROM1_FROM1': '(SELECT * FROM MEOW.CCC_table )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Wildcard '*'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier 'MEOW.C...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  `- 2 Name 'CCC_ta...'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T3.X1 = 'THING' AND T3.X2 IN (SELECT DISTINCT(B1) FROM MEOW.BBB_TABLE )

MAIN_WHERE1
(SELECT distinct(b1) FROM MEOW.BBB_table )
{'MAIN': "CREATE TABLE FINAL as \n               select a1, count(a2) \n               from MEOW.AAA_table as t3 \n                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) \n               Group by a1---\n               limit 15", 'MAIN_FROM1': 'SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ', 'MAIN_FROM1_FROM1': 'SELECT * FROM MEOW.CCC_table ', 'MAIN_WHERE1': '(SELECT distinct(b1) FROM MEOW.BBB_table )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Function 'distin...'
|  |- 0 Identifier 'distin...'
|  |  `- 0 Name 'distin...'
|  `- 1 Parenthesis '(b1)'
|     |- 0 Punctuation '('
|     |- 1 Identifier 'b1'
|     |  `- 0 Name 'b1'
|     `- 2 Punctuation ')'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier 'MEOW.B...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  `- 2 Name 'BBB_ta...'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
LIMIT表示句:LIMIT
{}
|- 0 DDL 'CREATE'
|- 1 Whitespace ' '
|- 2 Keyword 'TABLE'
|- 3 Whitespace ' '
|- 4 Keyword 'FINAL'
|- 5 Whitespace ' '
|- 6 Keyword 'as'
|- 7 Whitespace ' '
|- 8 Newline ' '
|- 9 Whitespace ' '
|- 10 Whitespace ' '
|- 11 Whitespace ' '
|- 12 Whitespace ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 Whitespace ' '
|- 17 Whitespace ' '
|- 18 Whitespace ' '
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 DML 'select'
|- 25 Whitespace ' '
|- 26 IdentifierList 'a1, co...'
|  |- 0 Identifier 'a1'
|  |  `- 0 Name 'a1'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 'count'
|     `- 0 Name 'count'
|- 27 Parenthesis '(a2)'
|  |- 0 Punctuation '('
|  |- 1 Identifier 'a2'
|  |  `- 0 Name 'a2'
|  `- 2 Punctuation ')'
|- 28 Whitespace ' '
|- 29 Newline ' '
|- 30 Whitespace ' '
|- 31 Whitespace ' '
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
|- 39 Whitespace ' '
|- 40 Whitespace ' '
|- 41 Whitespace ' '
|- 42 Whitespace ' '
|- 43 Whitespace ' '
|- 44 Whitespace ' '
|- 45 Keyword 'from'
|- 46 Whitespace ' '
|- 47 Identifier 'MEOW.A...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  |- 2 Name 'AAA_ta...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'as'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 't3'
|     `- 0 Name 't3'
|- 48 Whitespace ' '
|- 49 Newline ' '
|- 50 Whitespace ' '
|- 51 Whitespace ' '
|- 52 Whitespace ' '
|- 53 Whitespace ' '
|- 54 Whitespace ' '
|- 55 Whitespace ' '
|- 56 Whitespace ' '
|- 57 Whitespace ' '
|- 58 Whitespace ' '
|- 59 Whitespace ' '
|- 60 Whitespace ' '
|- 61 Whitespace ' '
|- 62 Whitespace ' '
|- 63 Whitespace ' '
|- 64 Whitespace ' '
|- 65 Whitespace ' '
|- 66 Whitespace ' '
|- 67 Whitespace ' '
|- 68 Whitespace ' '
|- 69 Whitespace ' '
|- 70 Keyword 'left j...'
|- 71 Whitespace ' '
|- 72 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Wildcard '*'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier '(SELEC...'
|  |  |  |- 0 Parenthesis '(SELEC...'
|  |  |  |  |- 0 Punctuation '('
|  |  |  |  |- 1 DML 'SELECT'
|  |  |  |  |- 2 Whitespace ' '
|  |  |  |  |- 3 Wildcard '*'
|  |  |  |  |- 4 Whitespace ' '
|  |  |  |  |- 5 Keyword 'FROM'
|  |  |  |  |- 6 Whitespace ' '
|  |  |  |  |- 7 Identifier 'MEOW.C...'
|  |  |  |  |  |- 0 Name 'MEOW'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'CCC_ta...'
|  |  |  |  |- 8 Whitespace ' '
|  |  |  |  `- 9 Punctuation ')'
|  |  |  |- 1 Whitespace ' '
|  |  |  |- 2 Keyword 'as'
|  |  |  |- 3 Whitespace ' '
|  |  |  `- 4 Identifier 't1'
|  |  |     `- 0 Name 't1'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't2'
|     `- 0 Name 't2'
|- 73 Whitespace ' '
|- 74 Keyword 'on'
|- 75 Whitespace ' '
|- 76 Parenthesis '(t3.a1...'
|  |- 0 Punctuation '('
|  |- 1 Comparison 't3.a1 ...'
|  |  |- 0 Identifier 't3.a1'
|  |  |  |- 0 Name 't3'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'a1'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Identifier 't2.a5'
|  |     |- 0 Name 't2'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'a5'
|  `- 2 Punctuation ')'
|- 77 Newline ' '
|- 78 Whitespace ' '
|- 79 Whitespace ' '
|- 80 Whitespace ' '
|- 81 Whitespace ' '
|- 82 Whitespace ' '
|- 83 Whitespace ' '
|- 84 Whitespace ' '
|- 85 Whitespace ' '
|- 86 Whitespace ' '
|- 87 Whitespace ' '
|- 88 Whitespace ' '
|- 89 Whitespace ' '
|- 90 Whitespace ' '
|- 91 Whitespace ' '
|- 92 Whitespace ' '
|- 93 Where 'where ...'
|  |- 0 Keyword 'where'
|  |- 1 Whitespace ' '
|  |- 2 Comparison 't3.X1 ...'
|  |  |- 0 Identifier 't3.X1'
|  |  |  |- 0 Name 't3'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'X1'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Single "'thing'"
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'and'
|  |- 5 Whitespace ' '
|  |- 6 Identifier 't3.X2'
|  |  |- 0 Name 't3'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'X2'
|  |- 7 Whitespace ' '
|  |- 8 Keyword 'in'
|  |- 9 Whitespace ' '
|  |- 10 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Function 'distin...'
|  |  |  |- 0 Identifier 'distin...'
|  |  |  |  `- 0 Name 'distin...'
|  |  |  `- 1 Parenthesis '(b1)'
|  |  |     |- 0 Punctuation '('
|  |  |     |- 1 Identifier 'b1'
|  |  |     |  `- 0 Name 'b1'
|  |  |     `- 2 Punctuation ')'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier 'MEOW.B...'
|  |  |  |- 0 Name 'MEOW'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'BBB_ta...'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 11 Whitespace ' '
|  |- 12 Newline ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  `- 27 Whitespace ' '
|- 94 Keyword 'Group ...'
|- 95 Whitespace ' '
|- 96 Identifier 'a1--- ...'
|  |- 0 Name 'a1'
|  `- 1 Comment '--- ...'
|     |- 0 Single '--- '
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Whitespace ' '
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Whitespace ' '
|     |- 11 Whitespace ' '
|     |- 12 Whitespace ' '
|     |- 13 Whitespace ' '
|     |- 14 Whitespace ' '
|     `- 15 Whitespace ' '
|- 97 Keyword 'limit'
|- 98 Whitespace ' '
`- 99 Integer '15'
None
SELECT表示句:TABLE
OTHER表示句:FINAL
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1
(SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 )
{'MAIN': "CREATE TABLE FINAL as \n               select a1, count(a2) \n               from MEOW.AAA_table as t3 \n                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) \n               Group by a1---\n               limit 15", 'MAIN_FROM1': '(SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Wildcard '*'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Wildcard '*'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier 'MEOW.C...'
|  |  |  |- 0 Name 'MEOW'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'CCC_ta...'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't1'
|     `- 0 Name 't1'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1_FROM1
(SELECT * FROM MEOW.CCC_table )
{'MAIN': "CREATE TABLE FINAL as \n               select a1, count(a2) \n               from MEOW.AAA_table as t3 \n                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) \n               Group by a1---\n               limit 15", 'MAIN_FROM1': 'SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ', 'MAIN_FROM1_FROM1': '(SELECT * FROM MEOW.CCC_table )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Wildcard '*'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier 'MEOW.C...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  `- 2 Name 'CCC_ta...'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T3.X1 = 'THING' AND T3.X2 IN (SELECT DISTINCT(B1) FROM MEOW.BBB_TABLE )

MAIN_WHERE1
(SELECT distinct(b1) FROM MEOW.BBB_table )
{'MAIN': "CREATE TABLE FINAL as \n               select a1, count(a2) \n               from MEOW.AAA_table as t3 \n                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) \n               Group by a1---\n               limit 15", 'MAIN_FROM1': 'SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ', 'MAIN_FROM1_FROM1': 'SELECT * FROM MEOW.CCC_table ', 'MAIN_WHERE1': '(SELECT distinct(b1) FROM MEOW.BBB_table )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Function 'distin...'
|  |- 0 Identifier 'distin...'
|  |  `- 0 Name 'distin...'
|  `- 1 Parenthesis '(b1)'
|     |- 0 Punctuation '('
|     |- 1 Identifier 'b1'
|     |  `- 0 Name 'b1'
|     `- 2 Punctuation ')'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier 'MEOW.B...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  `- 2 Name 'BBB_ta...'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
LIMIT表示句:LIMIT
1
================
MAIN_FROM1===========
CREATE TABLE FINAL as
               select a1, count(a2)
               from MEOW.AAA_table as t3
                    left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)
               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table )
               Group by a1---
               limit 15
SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1
CREATE TABLE FINAL as
               select a1, count(a2)
               from MEOW.AAA_table as t3
                    left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)
               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table )
               Group by a1---
               limit 15
MAIN_WHERE1===========
CREATE TABLE FINAL as
               select a1, count(a2)
               from MEOW.AAA_table as t3
                    left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)
               where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table )
               Group by a1---
               limit 15
SELECT distinct(b1) FROM MEOW.BBB_table
CREATE TABLE FINAL as
               select a1, count(a2)
               from MEOW.AAA_table as t3
                    left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)
               where t3.X1 = 'thing' and t3.X2 in SUBQ.MAIN_WHERE1
               Group by a1---

# Flow chart 層級======

---------
1. TABLE NAMES (1:N)
2. FROM - 完整 join 表 (1)
3. WHER - 完整篩選條件列表(1)
4. GROUP BY - 完整group by 列表 (1)
5. ORDER BY - 完整order by 列表 (1)
6. limit - 數字 (1)
7. SELECT - 選取欄位列表 (1) 
8. CREATE TABLE NAME

# 抓出所有功能的名稱及TABLE NAME 
### 設定基本變數
 - stmt : parsed query 已解析過的查詢語句
 - statement : token的state 在 query_signs 又出現的。(get_tokenstate可以判別出來的)
   "TABLE", "SELECT", "FROM", "WHERE", "GROUP BY", "ORDER BY", "LIMIT", OTHER
 - token_dict : 記錄所有token的Value及細部token。
 - query_signs : get_tokenstate內判別的項目
 
### 所有Token逐一判斷
 - 00 Skip White space and Newline : 判斷 .ttype 決定是否為空白及換行
 - 01 Setting state : 利用get_tokenstate記錄目前的語句狀態。
 - 02 Investigate state and insert Values : 將各個 query sign 的文字結果(.value)儲存於字典檔(token_dict)裡
 - 03 FROM or TABLE state get table names : "FROM" 語句下抓出所有的table名稱
  - 1. 判斷：判斷isinstance(token, Identifier) 是否為 Identifier。(Identifier才會存table name)
  - 2. 抓取：.get_alias()、.get_parent_name()、.get_real_name() 抓取 (匿名、資料庫名、資料表名)
  - 3. 儲存：token_dict -> "FROM" -> token 中。

In [4]:
def get_token_dict(this_query):
    
    res = sqlparse.parse(this_query)
    stmt = res[0]
    
    statement = ""
    token_dict = {} # need to return 
    query_signs = Querystate.gettoken_statelist # by get_tokenstate SHOW signs.
    
    for token in stmt.tokens:

        # 00 Skip White space and Newline
        if token.ttype is Text.Whitespace or token.ttype is Text.Whitespace.Newline:
            continue

        # 01 Setting state
        statement = Querystate.get_tokenstate(token, statement) # MAIN、SELECT、FROM、WHERE (if no revised keep the values)

        # 02 Investigate state and insert Values (strip the "token.value" )
        ## 02_1 Only Query sign(tokenstate) token -> <Skip>
        ## 02_2 1st Insert token 
        ## 02_3 2nd... Inser token 
        if token.value.upper() in query_signs : 
            continue
        elif statement not in list(token_dict.keys()) :
            token_dict[statement] = {"value" : token.value.strip()}
        else :
            token_dict[statement]["value"] += (" " + token.value.strip())

        # 03 FROM or TABLE state get table names
        ## 02_1 Find Idntifier (Idntifier need use isinstance to check)
        ## 02_2 get alias_name, db_name, real_name
        ## 02_3 save alias_name, db_name, real_name
        if (statement == "FROM" or statement == "TABLE") and isinstance(token, Identifier):
            # 02_2 get names
            alias_name = token.get_alias()
            db_name = token.get_parent_name()
            real_name = token.get_real_name()

            if "token" not in list(token_dict[statement].keys()) :
                token_dict[statement]["token"] = [[alias_name, db_name, real_name]]
            else :
                token_dict[statement]["token"].append([alias_name, db_name, real_name])
    return token_dict

In [ ]:
def __main__():
    the_query = '''CREATE TABLE WORK.FINAL as 
                   select a1, count(a2), a3 
                   from AAA_table
                        left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)
                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct(b1) FROM MEOW.BBB_table ) 
                   Group by t3.a1, t3.a3
                   order by t3.a1, t3.a3
                   limit 15'''
    subquerys_list = split_subquery( the_query ,
                      state = "MAIN",
                      subquery_dict_params = {})
    ## MAIN
    subquery_all = subquey_replace(subquerys_list)
    subquery_struct = {}
    for item in subquery_all.items():
        subquery_struct[ item[0] ] = get_token_dict(  item[1]  )
    subquery_struct

In [5]:
the_query = '''CREATE TABLE WORK.FINAL as 
                   select a1, count(a2), a3 
                   from AAA_table
                        left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)
                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table ) 
                   Group by t3.a1, t3.a3
                   order by t3.a1, t3.a3
                   limit 15'''
subquerys_list = split_subquery( the_query ,
                  state = "MAIN",
                  subquery_dict_params = {})
## MAIN
subquery_all = subquey_replace(subquerys_list)
subquery_struct = {}
for item in subquery_all.items():
    subquery_struct[ item[0] ] = get_token_dict(  item[1]  )
subquery_struct

{}
|- 0 DDL 'CREATE'
|- 1 Whitespace ' '
|- 2 Keyword 'TABLE'
|- 3 Whitespace ' '
|- 4 Identifier 'WORK.F...'
|  |- 0 Name 'WORK'
|  |- 1 Punctuation '.'
|  `- 2 Name 'FINAL'
|- 5 Whitespace ' '
|- 6 Keyword 'as'
|- 7 Whitespace ' '
|- 8 Newline ' '
|- 9 Whitespace ' '
|- 10 Whitespace ' '
|- 11 Whitespace ' '
|- 12 Whitespace ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 Whitespace ' '
|- 17 Whitespace ' '
|- 18 Whitespace ' '
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 DML 'select'
|- 29 Whitespace ' '
|- 30 IdentifierList 'a1, co...'
|  |- 0 Identifier 'a1'
|  |  `- 0 Name 'a1'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 'count'
|     `- 0 Name 'count'
|- 31 Parenthesis '(a2)'
|  |- 0 Punctuation '('
|  |- 1 Identifier 'a2'
|  |  `- 0 Name 'a2'
|  `- 2 Punctuation ')'
|- 32 Punctuation ','
|- 33 Whitespace ' '
|- 34 Identifier 'a3'
|  `- 0 Name 'a3'
|- 35 Whitespace ' '
|- 36 Newline ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
|- 39 Whitespace ' '
|- 40 Whitespace ' '
|- 41 Whitespace ' '
|- 42 Whitespace ' '
|- 43 Whitespace ' '
|- 44 Whitespace ' '
|- 45 Whitespace ' '
|- 46 Whitespace ' '
|- 47 Whitespace ' '
|- 48 Whitespace ' '
|- 49 Whitespace ' '
|- 50 Whitespace ' '
|- 51 Whitespace ' '
|- 52 Whitespace ' '
|- 53 Whitespace ' '
|- 54 Whitespace ' '
|- 55 Whitespace ' '
|- 56 Keyword 'from'
|- 57 Whitespace ' '
|- 58 Identifier 'AAA_ta...'
|  `- 0 Name 'AAA_ta...'
|- 59 Newline ' '
|- 60 Whitespace ' '
|- 61 Whitespace ' '
|- 62 Whitespace ' '
|- 63 Whitespace ' '
|- 64 Whitespace ' '
|- 65 Whitespace ' '
|- 66 Whitespace ' '
|- 67 Whitespace ' '
|- 68 Whitespace ' '
|- 69 Whitespace ' '
|- 70 Whitespace ' '
|- 71 Whitespace ' '
|- 72 Whitespace ' '
|- 73 Whitespace ' '
|- 74 Whitespace ' '
|- 75 Whitespace ' '
|- 76 Whitespace ' '
|- 77 Whitespace ' '
|- 78 Whitespace ' '
|- 79 Whitespace ' '
|- 80 Whitespace ' '
|- 81 Whitespace ' '
|- 82 Whitespace ' '
|- 83 Whitespace ' '
|- 84 Keyword 'left j...'
|- 85 Whitespace ' '
|- 86 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Wildcard '*'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier '(SELEC...'
|  |  |  |- 0 Parenthesis '(SELEC...'
|  |  |  |  |- 0 Punctuation '('
|  |  |  |  |- 1 DML 'SELECT'
|  |  |  |  |- 2 Whitespace ' '
|  |  |  |  |- 3 Wildcard '*'
|  |  |  |  |- 4 Whitespace ' '
|  |  |  |  |- 5 Keyword 'FROM'
|  |  |  |  |- 6 Whitespace ' '
|  |  |  |  |- 7 Identifier 'MEOW.C...'
|  |  |  |  |  |- 0 Name 'MEOW'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'CCC_ta...'
|  |  |  |  |- 8 Whitespace ' '
|  |  |  |  `- 9 Punctuation ')'
|  |  |  |- 1 Whitespace ' '
|  |  |  |- 2 Keyword 'as'
|  |  |  |- 3 Whitespace ' '
|  |  |  `- 4 Identifier 't1'
|  |  |     `- 0 Name 't1'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't2'
|     `- 0 Name 't2'
|- 87 Whitespace ' '
|- 88 Keyword 'on'
|- 89 Whitespace ' '
|- 90 Parenthesis '(t3.a1...'
|  |- 0 Punctuation '('
|  |- 1 Comparison 't3.a1 ...'
|  |  |- 0 Identifier 't3.a1'
|  |  |  |- 0 Name 't3'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'a1'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Identifier 't2.a5'
|  |     |- 0 Name 't2'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'a5'
|  `- 2 Punctuation ')'
|- 91 Newline ' '
|- 92 Whitespace ' '
|- 93 Whitespace ' '
|- 94 Whitespace ' '
|- 95 Whitespace ' '
|- 96 Whitespace ' '
|- 97 Whitespace ' '
|- 98 Whitespace ' '
|- 99 Whitespace ' '
|- 100 Whitespace ' '
|- 101 Whitespace ' '
|- 102 Whitespace ' '
|- 103 Whitespace ' '
|- 104 Whitespace ' '
|- 105 Whitespace ' '
|- 106 Whitespace ' '
|- 107 Whitespace ' '
|- 108 Whitespace ' '
|- 109 Whitespace ' '
|- 110 Whitespace ' '
|- 111 Where 'where ...'
|  |- 0 Keyword 'where'
|  |- 1 Whitespace ' '
|  |- 2 Comparison 't3.X1 ...'
|  |  |- 0 Identifier 't3.X1'
|  |  |  |- 0 Name 't3'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'X1'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Single "'thing'"
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'and'
|  |- 5 Whitespace ' '
|  |- 6 Identifier 't3.X2'
|  |  |- 0 Name 't3'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'X2'
|  |- 7 Whitespace ' '
|  |- 8 Keyword 'in'
|  |- 9 Whitespace ' '
|  |- 10 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Keyword 'distin...'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Identifier 'b1'
|  |  |  `- 0 Name 'b1'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Keyword 'FROM'
|  |  |- 8 Whitespace ' '
|  |  |- 9 Identifier 'MEOW.B...'
|  |  |  |- 0 Name 'MEOW'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'BBB_ta...'
|  |  |- 10 Whitespace ' '
|  |  `- 11 Punctuation ')'
|  |- 11 Whitespace ' '
|  |- 12 Newline ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  |- 27 Whitespace ' '
|  |- 28 Whitespace ' '
|  |- 29 Whitespace ' '
|  |- 30 Whitespace ' '
|  `- 31 Whitespace ' '
|- 112 Keyword 'Group ...'
|- 113 Whitespace ' '
|- 114 IdentifierList 't3.a1,...'
|  |- 0 Identifier 't3.a1'
|  |  |- 0 Name 't3'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'a1'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 't3.a3'
|     |- 0 Name 't3'
|     |- 1 Punctuation '.'
|     `- 2 Name 'a3'
|- 115 Newline ' '
|- 116 Whitespace ' '
|- 117 Whitespace ' '
|- 118 Whitespace ' '
|- 119 Whitespace ' '
|- 120 Whitespace ' '
|- 121 Whitespace ' '
|- 122 Whitespace ' '
|- 123 Whitespace ' '
|- 124 Whitespace ' '
|- 125 Whitespace ' '
|- 126 Whitespace ' '
|- 127 Whitespace ' '
|- 128 Whitespace ' '
|- 129 Whitespace ' '
|- 130 Whitespace ' '
|- 131 Whitespace ' '
|- 132 Whitespace ' '
|- 133 Whitespace ' '
|- 134 Whitespace ' '
|- 135 Keyword 'order ...'
|- 136 Whitespace ' '
|- 137 IdentifierList 't3.a1,...'
|  |- 0 Identifier 't3.a1'
|  |  |- 0 Name 't3'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'a1'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 't3.a3'
|     |- 0 Name 't3'
|     |- 1 Punctuation '.'
|     `- 2 Name 'a3'
|- 138 Newline ' '
|- 139 Whitespace ' '
|- 140 Whitespace ' '
|- 141 Whitespace ' '
|- 142 Whitespace ' '
|- 143 Whitespace ' '
|- 144 Whitespace ' '
|- 145 Whitespace ' '
|- 146 Whitespace ' '
|- 147 Whitespace ' '
|- 148 Whitespace ' '
|- 149 Whitespace ' '
|- 150 Whitespace ' '
|- 151 Whitespace ' '
|- 152 Whitespace ' '
|- 153 Whitespace ' '
|- 154 Whitespace ' '
|- 155 Whitespace ' '
|- 156 Whitespace ' '
|- 157 Whitespace ' '
|- 158 Keyword 'limit'
|- 159 Whitespace ' '
`- 160 Integer '15'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1
(SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 )
{'MAIN': "CREATE TABLE WORK.FINAL as \n                   select a1, count(a2), a3 \n                   from AAA_table\n                        left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table ) \n                   Group by t3.a1, t3.a3\n                   order by t3.a1, t3.a3\n                   limit 15", 'MAIN_FROM1': '(SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Wildcard '*'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Wildcard '*'
|  |  |- 4 Whitespace ' '
|  |  |- 5 Keyword 'FROM'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Identifier 'MEOW.C...'
|  |  |  |- 0 Name 'MEOW'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'CCC_ta...'
|  |  |- 8 Whitespace ' '
|  |  `- 9 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't1'
|     `- 0 Name 't1'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1_FROM1
(SELECT * FROM MEOW.CCC_table )
{'MAIN': "CREATE TABLE WORK.FINAL as \n                   select a1, count(a2), a3 \n                   from AAA_table\n                        left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table ) \n                   Group by t3.a1, t3.a3\n                   order by t3.a1, t3.a3\n                   limit 15", 'MAIN_FROM1': 'SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ', 'MAIN_FROM1_FROM1': '(SELECT * FROM MEOW.CCC_table )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Wildcard '*'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Identifier 'MEOW.C...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  `- 2 Name 'CCC_ta...'
`- 7 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T3.X1 = 'THING' AND T3.X2 IN (SELECT DISTINCT B1 FROM MEOW.BBB_TABLE )

MAIN_WHERE1
(SELECT distinct b1 FROM MEOW.BBB_table )
{'MAIN': "CREATE TABLE WORK.FINAL as \n                   select a1, count(a2), a3 \n                   from AAA_table\n                        left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)\n                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table ) \n                   Group by t3.a1, t3.a3\n                   order by t3.a1, t3.a3\n                   limit 15", 'MAIN_FROM1': 'SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ', 'MAIN_FROM1_FROM1': 'SELECT * FROM MEOW.CCC_table ', 'MAIN_WHERE1': '(SELECT distinct b1 FROM MEOW.BBB_table )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Keyword 'distin...'
|- 3 Whitespace ' '
|- 4 Identifier 'b1'
|  `- 0 Name 'b1'
|- 5 Whitespace ' '
|- 6 Keyword 'FROM'
|- 7 Whitespace ' '
|- 8 Identifier 'MEOW.B...'
|  |- 0 Name 'MEOW'
|  |- 1 Punctuation '.'
|  `- 2 Name 'BBB_ta...'
`- 9 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
ORDERBY表示句:ORDER BY
LIMIT表示句:LIMIT
1
================
MAIN_FROM1===========
CREATE TABLE WORK.FINAL as
                   select a1, count(a2), a3
                   from AAA_table
                        left join (SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1 ) as t2 on (t3.a1 = t2.a5)
                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table )
                   Group by t3.a1, t3.a3
                   order by t3.a1, t3.a3
                   limit 15
SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1
CREATE TABLE WORK.FINAL as
                   select a1, count(a2), a3
                   from AAA_table
                        left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)
                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table )
                   Group by t3.a1, t3.a3
                   order by t3.a1, t3.a3
                   limit 15
MAIN_WHERE1===========
CREATE TABLE WORK.FINAL as
                   select a1, count(a2), a3
                   from AAA_table
                        left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)
                   where t3.X1 = 'thing' and t3.X2 in (SELECT distinct b1 FROM MEOW.BBB_table )
                   Group by t3.a1, t3.a3
                   order by t3.a1, t3.a3
                   limit 15
SELECT distinct b1 FROM MEOW.BBB_table
CREATE TABLE WORK.FINAL as
                   select a1, count(a2), a3
                   from AAA_table
                        left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)
                   where t3.X1 = 'thing' and t3.X2 in SUBQ.MAIN_WHERE1
                   Group by t3.a1, t3.a3
                   order by t3.a1, t3.a3
                   limit 15
2
================
MAIN_FROM1_FROM1===========
SELECT * FROM (SELECT * FROM MEOW.CCC_table ) as t1
SELECT * FROM MEOW.CCC_table
SELECT * FROM SUBQ.MAIN_FROM1_FROM1 as t1
3
================
2
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T3.X1 = 'THING' AND T3.X2 IN SUBQ.MAIN_WHERE1

GROUPBY表示句:GROUP BY
ORDERBY表示句:ORDER BY
LIMIT表示句:LIMIT
SELECT表示句:SELECT
FROM表示句:FROM
SELECT表示句:SELECT
FROM表示句:FROM
SELECT表示句:SELECT
FROM表示句:FROM

{'MAIN': {'': {'value': 'CREATE'},
  'TABLE': {'value': 'WORK.FINAL', 'token': [[None, 'WORK', 'FINAL']]},
  'OTHER': {'value': 'as'},
  'SELECT': {'value': 'a1, count (a2) , a3'},
  'FROM': {'value': 'AAA_table left join SUBQ.MAIN_FROM1 as t2 on (t3.a1 = t2.a5)',
   'token': [[None, None, 'AAA_table'], ['t2', 'SUBQ', 'MAIN_FROM1']]},
  'WHERE': {'value': "where t3.X1 = 'thing' and t3.X2 in SUBQ.MAIN_WHERE1"},
  'GROUPBY': {'value': 't3.a1, t3.a3'},
  'ORDERBY': {'value': 't3.a1, t3.a3'},
  'LIMIT': {'value': '15'}},
 'MAIN_FROM1': {'SELECT': {'value': '*'},
  'FROM': {'value': 'SUBQ.MAIN_FROM1_FROM1 as t1',
   'token': [['t1', 'SUBQ', 'MAIN_FROM1_FROM1']]}},
 'MAIN_FROM1_FROM1': {'SELECT': {'value': '*'},
  'FROM': {'value': 'MEOW.CCC_table', 'token': [[None, 'MEOW', 'CCC_table']]}},
 'MAIN_WHERE1': {'SELECT': {'value': 'distinct b1'},
  'FROM': {'value': 'MEOW.BBB_table', 'token': [[None, 'MEOW', 'BBB_table']]}}}

In [2]:
subquery_struct

NameError: name 'subquery_struct' is not defined