In [1]:
import pandas as pd

In [2]:
from sqlparsemodel.Sqlstructure import Sqlstructure
from sqlparsemodel.Sastructure import Sastructure
from sqlparsemodel.Mermaidplot import Sqltoflowchart
from sqlparsemodel.Querystate import Querystate
import re 
Querystate = Querystate()

In [3]:
query = '''


PROC SQL;
   CREATE TABLE MEOW.PAST_CLAIM_APLY_NO AS 
   SELECT DISTINCT t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO
      FROM Meow.POL_ALL_X_01
           INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.OCR_DATE ;
QUIT;



PROC SQL;
   CREATE TABLE WORK.PAST_CLAIM_ICDS AS 
   SELECT DISTINCT 
          t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO, 
          t2.DIAG_SER_NO, 
          t2.CFM_ICD_CODE1, 
          t2.CFM_ICD_CODE2, 
          t2.CFM_ICD_CODE3, 
          t2.CFM_ICD_CODE4, 
          t2.CFM_ICD_CODE5
      FROM MEOW.PAST_CLAIM_APLY_NO t1
	       INNER JOIN (SELECT * FROM QUERY.DTAAA020_AE) t2 ON (t1.APLY_NO = t2.APLY_NO);
QUIT;'''

query = '''


PROC SQL;
   CREATE TABLE MEOW.PAST_CLAIM_APLY_NO AS 
   SELECT DISTINCT t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO
      FROM Meow.POL_ALL_X_01
           INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.OCR_DATE ;
QUIT;



PROC SQL;
   CREATE TABLE WORK.PAST_CLAIM_ICDS AS 
   SELECT DISTINCT 
          t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO, 
          t2.DIAG_SER_NO, 
          t2.CFM_ICD_CODE1, 
          t2.CFM_ICD_CODE2, 
          t2.CFM_ICD_CODE3, 
          t2.CFM_ICD_CODE4, 
          t2.CFM_ICD_CODE5
      FROM MEOW.PAST_CLAIM_APLY_NO t1
	       INNER JOIN QUERY.DTAAA020_AE t2 ON (t1.APLY_NO = t2.APLY_NO);
QUIT;'''

query3 = '''
PROC SQL;
   CREATE TABLE Meow.product_mkt_type_cd AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
          t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1'
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;
PROC SQL;
   CREATE TABLE Meow.Main_policy AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
                 t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1' AND t1.BASE_COVERAGE_INDICATOR_CD='1'
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;
PROC SQL;
   CREATE TABLE Meow.ADD_policy AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
          t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1' AND t1.BASE_COVERAGE_INDICATOR_CD='2'
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;
PROC SQL;
   CREATE TABLE Meow.ALL_policy AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
          t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1' 
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;

'''

query4 = '''

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_01 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.CREATE_DATE,
          t1.INSD_ID_SAS,
          t2.APLY_NO,
		  t2.POLICY_NO AS POL_2, 
		  t2.PROD_ID,
	      t2.OCR_DATE,
		  t2.E_STR_DATE,
		  t2.E_END_DATE,
		  t2.CLAM_AMT_CODE,
		  t2.CLAM_AMT_NAME,
		  t2.CLAM_CAT,
		  t2.OCR_RESN, 
          t2.BONE_CODE, 
          t2.BONE_NAME, 
		  t2.OP_CODE,
          t2.OP_NAME,
		  t2.PAY_DAY,
		  t2.PAY_AMT,
		  t2.PAY_STS
      FROM Meow.POL_ALL_X_01 t1
           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ; /*因為後面會使用OCR_DATE、STR_DATE跟END_DATE(先篩OCR_DATE會有點問題)，先篩投保時間稍微減少資料量*/
QUIT;
/*先用Meow.HOSPITAL_5Y_01的檔案，因為每次從理賠檔裡撈資料太久*/
PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_02 AS 
   SELECT DISTINCT  t1.CONTRACT_NO, 
           t1.CREATE_DATE, 
          t1.INSD_ID_SAS,
          t1.APLY_NO,
		  t1.POL_2 , 
		  t1.PROD_ID,
	      t1.OCR_DATE,
		  t1.E_STR_DATE,
		  t1.E_END_DATE,
		  t1.OCR_RESN, 
          t1.BONE_CODE, 
          t1.BONE_NAME, 
		   t1.CLAM_AMT_CODE,
		  t1.CLAM_AMT_NAME,
		  t1.OP_CODE,
          t1.OP_NAME,
		  t1.PAY_DAY
      FROM MEOW.HOSPITAL_5Y_01 t1
      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;
QUIT;

%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_03_1);
PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_03 AS 
   SELECT DISTINCT  t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
           t1.CREATE_DATE, 
          t1.POL_2, 
          t1.OCR_DATE, 
		  t1.E_STR_DATE,
		  t1.E_END_DATE,
		    /* E_STR_DATE_NEW */
		  (CASE
         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE
          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,
  /* E_END_DATE_NEW */
		(CASE 
		WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE
		ELSE t1.OCR_DATE
		END)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,
		   t1.CLAM_AMT_CODE, 
          t1.CLAM_AMT_NAME,
		  t1.OCR_RESN, 
          t1.BONE_CODE, 
          t1.BONE_NAME,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_02 t1;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS 
   SELECT DISTINCT  t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
		  t1.OCR_RESN, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE ;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
		  t1.OCR_RESN, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_2to3 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
           t1.INSD_ID_SAS, 
		    t1.CREATE_DATE,
          t1.POL_2, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*3 AND t1.E_STR_DATE_NEW <   t1.CREATE_DATE-365*2 ;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_3to4 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
          t1.INSD_ID_SAS, 
		   t1.CREATE_DATE,
          t1.POL_2, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*4 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*3 ;
QUIT;
PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_4to5 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*5 AND t1.E_STR_DATE_NEW <   t1.CREATE_DATE-365*4 ;
QUIT;
 PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_05_year_0to1 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.INSD_ID_SAS, 
		 t1.POL_2, 
          t1.E_STR_DATE_NEW, 
          t1.E_END_DATE_NEW, 
          /* NEW_PAY_DAY */
            (MIN( t1.CREATE_DATE-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*1,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_04_year_0to1 t1;
QUIT;
 PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_05_year_1to2 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.INSD_ID_SAS, 
		 t1.POL_2, 
          t1.E_STR_DATE_NEW, 
          t1.E_END_DATE_NEW, 
          /* NEW_PAY_DAY */
            (MIN( t1.CREATE_DATE-365*1-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*2,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_04_year_1to2 t1;
QUIT;
 PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_05_year_2to3 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.INSD_ID_SAS, 
		 t1.POL_2, 
          t1.E_STR_DATE_NEW, 
          t1.E_END_DATE_NEW, 
          /* NEW_PAY_DAY */
            (MIN( t1.CREATE_DATE-365*2-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*3,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_04_year_2to3 t1;
QUIT;
 PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_05_year_3to4 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.INSD_ID_SAS, 
		 t1.POL_2, 
          t1.E_STR_DATE_NEW, 
          t1.E_END_DATE_NEW, 
          /* NEW_PAY_DAY */
            (MIN( t1.CREATE_DATE-365*3-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*4,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_04_year_3to4 t1;
QUIT;
 PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_05_year_4to5 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.INSD_ID_SAS, 
		 t1.POL_2, 
          t1.E_STR_DATE_NEW, 
          t1.E_END_DATE_NEW, 
          /* NEW_PAY_DAY */
            (MIN( t1.CREATE_DATE-365*4-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*5,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_04_year_4to5 t1;
QUIT;
%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_03_1_q);

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_06_0to1 AS 
   SELECT DISTINCT t1.POL_2, 
          t1.CONTRACT_NO, 
          /* SUM_of_NEW_PAY_DAY */
            (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_05_YEAR_0to1 t1
	  WHERE t1.NEW_PAY_DAY>0
      GROUP BY t1.POL_2,
               t1.CONTRACT_NO
      ORDER BY t1.CONTRACT_NO;

QUIT;
%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_05_YE_0000);

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_07_0to1 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
          /* MAX_of_SUM_of_NEW_PAY_DAY */
             (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2015
      FROM WORK.HOSPITAL_5Y_06_0to1 t1
      GROUP BY t1.CONTRACT_NO;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_06_1to2 AS 
   SELECT DISTINCT t1.POL_2, 
          t1.CONTRACT_NO, 
          /* SUM_of_NEW_PAY_DAY */
            (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_05_YEAR_1to2 t1
WHERE t1.NEW_PAY_DAY>0
      GROUP BY t1.POL_2,
               t1.CONTRACT_NO
      ORDER BY t1.CONTRACT_NO;
QUIT;
%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_05_YE_0000);

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_07_1to2 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
          /* MAX_of_SUM_of_NEW_PAY_DAY */
            (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2014
      FROM WORK.HOSPITAL_5Y_06_1to2 t1
      GROUP BY t1.CONTRACT_NO;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_06_2to3 AS 
   SELECT DISTINCT t1.POL_2, 
          t1.CONTRACT_NO, 
          /* SUM_of_NEW_PAY_DAY */
            (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_05_YEAR_2to3 t1
WHERE t1.NEW_PAY_DAY>0
      GROUP BY t1.POL_2,
               t1.CONTRACT_NO
      ORDER BY t1.CONTRACT_NO;
QUIT;

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_07_2to3 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
          /* MAX_of_SUM_of_NEW_PAY_DAY */
            (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2013
      FROM WORK.HOSPITAL_5Y_06_2to3 t1
      GROUP BY t1.CONTRACT_NO;
QUIT;
PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_06_3to4 AS 
   SELECT DISTINCT t1.POL_2, 
          t1.CONTRACT_NO, 
          /* SUM_of_NEW_PAY_DAY */
            (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_05_YEAR_3to4 t1
WHERE t1.NEW_PAY_DAY>0
      GROUP BY t1.POL_2,
               t1.CONTRACT_NO
      ORDER BY t1.CONTRACT_NO;
QUIT;

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_07_3to4 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
          /* MAX_of_SUM_of_NEW_PAY_DAY */
            (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2012
      FROM WORK.HOSPITAL_5Y_06_3to4 t1
      GROUP BY t1.CONTRACT_NO;
QUIT;
PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_06_4to5 AS 
   SELECT DISTINCT t1.POL_2, 
          t1.CONTRACT_NO, 
          /* SUM_of_NEW_PAY_DAY */
            (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY
      FROM WORK.HOSPITAL_5Y_05_YEAR_4to5 t1
WHERE t1.NEW_PAY_DAY>0
      GROUP BY t1.POL_2,
               t1.CONTRACT_NO
      ORDER BY t1.CONTRACT_NO;
QUIT;

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_07_4to5 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
          /* MAX_of_SUM_of_NEW_PAY_DAY */
            (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2011
      FROM WORK.HOSPITAL_5Y_06_4to5 t1
      GROUP BY t1.CONTRACT_NO;
QUIT;



'''

query5 = '''

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
		  t1.OCR_RESN, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;
QUIT;


'''

query6 = '''
SELECT * From 
(
  SELECT  *, (Dense_Rank() OVER (ORDER BY Column ASC)) AS Rank, b
  FROM Table1 
) AS Ranking 
WHERE Rank % 10 = 0;

'''


query7 = '''

PROC SQL;
   CREATE TABLE Meow.SPCL_DTATA007_X_00 AS 
   SELECT t2.CONTRACT_NO,
         (CATX( "_" ,t1.REFUSE_FILENO , t1.CODE_CAT , t1.APPROVE_CODE)) AS unique_code, 
         t2.CREATE_DATE, 
          t2.REFUSE_FILENO,
          t2.APPLY_NO, 
		  t2.UPDATE_DATE, 
          t2.ID_SAS AS INSD_ID_SAS, 
          t2.POLICY_NO, 
          t2.KIND,
          t1.CODE_CAT, 
          t1.APPROVE_CODE, 
          t1.APPROVE_DETAIL, 
          t1.MEMO_PUBLIC, 
          t1.MEMO_PRIVATE
        FROM WORK.SPCL_DTATA007_X_00 merge WORK.SPCL_DTATA007_X_01
QUIT;    

data SPECIAL_to_icd_03;
merge SPECIAL_to_icd_03_1 SPECIAL_to_icd_03_2;
run  ;

data WORK.MED_EXAM_03;
set WORK.MED_EXAM_02;
by CONTRACT_NO;
if last.CONTRACT_NO then output; 
run  ;

PROC SORT DATA=QUERY.DTAAB001_Q OUT=WORK.DTAAB001_Q_S;
BY OCR_ID_SAS POLICY_NO PROD_ID;
RUN;

proc transpose data=WORK.SPECIAL_to_icd_02_2 out=WORK.SPECIAL_to_icd_03_2;
	var CONFIDENCE_LEVEL_1-CONFIDENCE_LEVEL_5;
  	by unique_code;
run;

proc transpose data=WORK.SPECIAL_to_icd_02_1 out=WORK.SPECIAL_to_icd_03_1(rename=(col1=ICD_CODE));
	var ICD_CODE_1-ICD_CODE_5;
  	by unique_code;
run;

'''

query8 = '''

PROC SQL;
CREATE TABLE A AS 
SELECT * FROM POL_USE WHERE EFT_CODE='46'
;
QUIT;
PROC SQL;
CREATE TABLE TEMP_FINAL_PAYDAY AS 
SELECT b.* 
FROM QUERY.DTAAB001_Q as b
INNER JOIN  a
		on a.PROD_ID=b.PROD_ID AND a.POLICY_NO=b.POLICY_NO AND a.PROD_ID=b.PROD_ID
WHERE PAY_STS not in ('0','5','6') AND CLAM_CAT in('B','C','E','F','G','H','N')
		
;
QUIT;

PROC SQL;
CREATE TABLE FINAL_PAYDAY AS 
SELECT	POLICY_NO,
		PROD_ID,
		OCR_ID_SAS,
		max(ACNT_DATE) FORMAT=YYMMDD10. AS 最後給付日 

FROM TEMP_FINAL_PAYDAY
group by 1,2,3
;
DROP TABLE A;
DROP TABLE TEMP_FINAL_PAYDAY;
QUIT;

/*：抓死殘的日期*/
/*理賠記錄檔*/
						 /*契約角色(0：子女 C：配偶 I：被保人 A：要保人 S：次被保人)*/
						 /*a.CLAM_CAT為索賠類別   a.PAY_STS為給付狀態   */
						/*PAY_STS 欄位名稱說明0 尚未給付 1 依約給付 2 協議給付 3 削減給付	4 修正延滯息日期 
						5 退件不給付 6 暫不處理 7 人工處理 
						CLAM_CAT 欄位名稱說明	A 死亡 B 殘廢 C 重大疾病 D 生命末期 E 醫療日額 F 醫療實支 G 防癌 
						H 長期看護 	I 婦女津貼 	J 豁免保費 	K 全殘 L 解除契約 N 定期給付保險金 	Z 延滯息 */
/**【身故全殘日整理】**/
/* 理賠保險金代號：
    BBA*：死亡保險金-->這種判斷法未來可能會被調整，有風險,就像險別當初兩碼轉三碼專案一樣，未來OB1跟OB2不見得是同一系列險種
    BBK*：全殘保險金
	醫療險全殘還在，壽險死殘日要再額外抓CLAM_CAT是K的來看
/*新用法，做成ID對照日期，判斷日期時不用篩選給付狀態056，因為真的身故但依約不理賠也是可信的日期
	資服說END_DATE是改變契約效力用的日期，抽驗過事故日期與END_DATE不同的資料也是END_DATE符合死亡證明日期*/
/*死亡全殘後續用ID比對就可以，理論上一個人死亡全殘的日期為固定日期是合理的*/

PROC SQL;/*先跑出要算哪些保單的身故全殘日*/
CREATE TABLE a AS 
SELECT * FROM POL_USE WHERE EFT_CODE in ('14','38','40','42','50','51','44','47')
;
QUIT;
PROC SQL;/*先篩選出該保單被保人ID的所有身故理賠資料*/
CREATE TABLE b AS 
SELECT DTAAB001_Q.* 
FROM QUERY.DTAAB001_Q
INNER JOIN a AS POL_USE ON DTAAB001_Q.OCR_ID_SAS=POL_USE.INSD_ID_SAS
				WHERE SYS_NO='1' AND CLAM_CAT IN ('A')
;
QUIT;
PROC SQL;/*先篩選出該保單被保人ID的所有全殘理賠資料*/
CREATE TABLE c AS 
SELECT DTAAB001_Q.* 
FROM QUERY.DTAAB001_Q
INNER JOIN a AS POL_USE ON DTAAB001_Q.OCR_ID_SAS=POL_USE.INSD_ID_SAS
				WHERE SYS_NO='1' AND CLAM_CAT IN ('K') AND PAY_STS not in ('0','5','6')
;
QUIT;
PROC SQL;/*作出每個ID對應身故全殘理賠日期*/
CREATE TABLE d AS 
SELECT DISTINCT
	 a.INSD_ID_SAS,
	 b.END_DATE FORMAT=YYMMDD10. AS 身故日,
     b.OCR_DATE FORMAT=YYMMDD10. AS 身故資料事故日,
	 c.END_DATE FORMAT=YYMMDD10. AS 全殘日,
	 c.OCR_DATE FORMAT=YYMMDD10. AS 全殘資料事故日
FROM a
LEFT JOIN b on a.INSD_ID_SAS=b.OCR_ID_SAS
LEFT JOIN c on a.INSD_ID_SAS=c.OCR_ID_SAS
;
QUIT;
/*作出每個ID對應身故全殘理賠日期*/
/*若ENDDAY都取到空白的才取事故日當作身故/全殘日*/
PROC SQL;
CREATE TABLE D01 AS 
SELECT INSD_ID_SAS,
		CASE WHEN 身故日=. THEN 身故資料事故日
		else 身故日
		END AS 身故日 FORMAT=YYMMDD10.,
		CASE WHEN 全殘日=. THEN 全殘資料事故日
		else 全殘日
		END AS 全殘日 FORMAT=YYMMDD10.
FROM(
	SELECT 
		 INSD_ID_SAS,
	 	 min(身故日) FORMAT=YYMMDD10. AS 身故日,
		 min(身故資料事故日) FORMAT=YYMMDD10. AS 身故資料事故日,
		 min(全殘日) FORMAT=YYMMDD10. AS 全殘日,
		 min(全殘資料事故日) FORMAT=YYMMDD10. AS 全殘資料事故日
	FROM d 
	GROUP BY 1)
;
QUIT;


'''

query9 = '''

proc sort data=WORK.QUERY_FOR_M_TYPE_ALL_0004
OUT=WORK.CLAM_CAT_T; 
by APLY_NO CLAM_CAT;RUN;

PROC TRANSPOSE DATA=WORK.CLAM_CAT_T 
OUT=WORK.CLAM_CAT_T2 (drop=_name_);
var VALUE;
by APLY_NO;
id CLAM_CAT;
run; 

PROC SQL;

SELECT AVG(sum_column1)
FROM (SELECT SUM(column1) AS sum_column1
FROM t1 GROUP BY column1) AS t1;

SELECT AVG(sum_column1)
FROM (SELECT SUM(column1) AS sum_column1
FROM t1 GROUP BY column1) AS t1;

CREATE TABLE A AS 
SELECT	POLICY_NO,
		PROD_ID,
		OCR_ID_SAS,
		max(ACNT_DATE) FORMAT=YYMMDD10. AS 最後給付日 

FROM FINAL_PAYDAY_2
group by 1,2,3
;


CREATE TABLE FINAL_PAYDAY AS 
SELECT	POLICY_NO,
		PROD_ID,
		OCR_ID_SAS,
		max(ACNT_DATE) FORMAT=YYMMDD10. AS 最後給付日 

FROM TEMP_FINAL_PAYDAY
group by 1,2,3
;

DROP TABLE A;


CREATE TABLE A AS 
SELECT	POLICY_NO,
		PROD_ID,
		OCR_ID_SAS,
		max(ACNT_DATE) FORMAT=YYMMDD10. AS 最後給付日 

FROM FINAL_PAYDAY_3
group by 1,2,3
;


DROP TABLE TEMP_FINAL_PAYDAY;
QUIT;

'''
# ===============================================================================================    
query10 = '''

/*為了契約效力46要找醫療的最後給付日期,考量效能就只算效力46的件*/

PROC SQL;
CREATE TABLE A AS 
SELECT * FROM POL_USE WHERE EFT_CODE='46'
;
QUIT;
PROC SQL;
CREATE TABLE TEMP_FINAL_PAYDAY AS 
SELECT b.* 
FROM QUERY.DTAAB001_Q as b
INNER JOIN  a
		on a.PROD_ID=b.PROD_ID AND a.POLICY_NO=b.POLICY_NO AND a.PROD_ID=b.PROD_ID
WHERE PAY_STS not in ('0','5','6') AND CLAM_CAT in('B','C','E','F','G','H','N')
		
;
QUIT;

PROC SQL;
CREATE TABLE FINAL_PAYDAY AS 
SELECT	POLICY_NO,
		PROD_ID,
		OCR_ID_SAS,
		max(ACNT_DATE) FORMAT=YYMMDD10. AS 最後給付日 

FROM TEMP_FINAL_PAYDAY
group by 1,2,3
;
DROP TABLE A;
DROP TABLE TEMP_FINAL_PAYDAY;
QUIT;
/*：抓死殘的日期*/
/*理賠記錄檔*/
						 /*契約角色(0：子女 C：配偶 I：被保人 A：要保人 S：次被保人)*/
						 /*a.CLAM_CAT為索賠類別   a.PAY_STS為給付狀態   */
						/*PAY_STS 欄位名稱說明0 尚未給付 1 依約給付 2 協議給付 3 削減給付	4 修正延滯息日期 
						5 退件不給付 6 暫不處理 7 人工處理 
						CLAM_CAT 欄位名稱說明	A 死亡 B 殘廢 C 重大疾病 D 生命末期 E 醫療日額 F 醫療實支 G 防癌 
						H 長期看護 	I 婦女津貼 	J 豁免保費 	K 全殘 L 解除契約 N 定期給付保險金 	Z 延滯息 */
/**【身故全殘日整理】**/
/* 理賠保險金代號：
    BBA*：死亡保險金-->這種判斷法未來可能會被調整，有風險,就像險別當初兩碼轉三碼專案一樣，未來OB1跟OB2不見得是同一系列險種
    BBK*：全殘保險金
	醫療險全殘還在，壽險死殘日要再額外抓CLAM_CAT是K的來看
/*新用法，做成ID對照日期，判斷日期時不用篩選給付狀態056，因為真的身故但依約不理賠也是可信的日期
	資服說END_DATE是改變契約效力用的日期，抽驗過事故日期與END_DATE不同的資料也是END_DATE符合死亡證明日期*/
/*死亡全殘後續用ID比對就可以，理論上一個人死亡全殘的日期為固定日期是合理的*/
PROC SQL;/*先跑出要算哪些保單的身故全殘日*/
CREATE TABLE a AS 
SELECT * FROM POL_USE WHERE EFT_CODE in ('14','38','40','42','50','51','44','47')
;
QUIT;
PROC SQL;/*先篩選出該保單被保人ID的所有身故理賠資料*/
CREATE TABLE b AS 
SELECT DTAAB001_Q.* 
FROM QUERY.DTAAB001_Q
INNER JOIN a AS POL_USE ON DTAAB001_Q.OCR_ID_SAS=POL_USE.INSD_ID_SAS
				WHERE SYS_NO='1' AND CLAM_CAT IN ('A')
;
QUIT;
PROC SQL;/*先篩選出該保單被保人ID的所有全殘理賠資料*/
CREATE TABLE c AS 
SELECT DTAAB001_Q.* 
FROM QUERY.DTAAB001_Q
INNER JOIN a AS POL_USE ON DTAAB001_Q.OCR_ID_SAS=POL_USE.INSD_ID_SAS
				WHERE SYS_NO='1' AND CLAM_CAT IN ('K') AND PAY_STS not in ('0','5','6')
;
QUIT;
PROC SQL;/*作出每個ID對應身故全殘理賠日期*/
CREATE TABLE d AS 
SELECT DISTINCT
	 a.INSD_ID_SAS,
	 b.END_DATE FORMAT=YYMMDD10. AS 身故日,
     b.OCR_DATE FORMAT=YYMMDD10. AS 身故資料事故日,
	 c.END_DATE FORMAT=YYMMDD10. AS 全殘日,
	 c.OCR_DATE FORMAT=YYMMDD10. AS 全殘資料事故日
FROM a
LEFT JOIN b on a.INSD_ID_SAS=b.OCR_ID_SAS
LEFT JOIN c on a.INSD_ID_SAS=c.OCR_ID_SAS
;
QUIT;
/*作出每個ID對應身故全殘理賠日期*/
/*若ENDDAY都取到空白的才取事故日當作身故/全殘日*/
PROC SQL;
CREATE TABLE D01 AS 
SELECT INSD_ID_SAS,
		CASE WHEN 身故日=. THEN 身故資料事故日
		else 身故日
		END AS 身故日 FORMAT=YYMMDD10.,
		CASE WHEN 全殘日=. THEN 全殘資料事故日
		else 全殘日
		END AS 全殘日 FORMAT=YYMMDD10.
FROM(
	SELECT 
		 INSD_ID_SAS,
	 	 min(身故日) FORMAT=YYMMDD10. AS 身故日,
		 min(身故資料事故日) FORMAT=YYMMDD10. AS 身故資料事故日,
		 min(全殘日) FORMAT=YYMMDD10. AS 全殘日,
		 min(全殘資料事故日) FORMAT=YYMMDD10. AS 全殘資料事故日
	FROM d 
	GROUP BY 1)
;
QUIT;
PROC SQL;
DROP TABLE a;
DROP TABLE b;
DROP TABLE c;
DROP TABLE d;
QUIT;
/*理賠記錄檔*/
				/*契約角色(0：子女 C：配偶 I：被保人 A：要保人 S：次被保人)*/
				/*a.CLAM_CAT為索賠類別   a.PAY_STS為給付狀態   */
				/*PAY_STS 欄位名稱說明0 尚未給付 1 依約給付 2 協議給付 3 削減給付	4 修正延滯息日期 
				5 退件不給付 6 暫不處理 7 人工處理 
				CLAM_CAT 欄位名稱說明	A 死亡 B 殘廢 C 重大疾病 D 生命末期 E 醫療日額 F 醫療實支 G 防癌 
				H 長期看護 	I 婦女津貼 	J 豁免保費 	K 全殘 L 解除契約 N 定期給付保險金 	Z 延滯息 */
/*新用法，做成ID對照日期，判斷日期時不用篩選給付狀態056，因為真的身故但依約不理賠也是可信的日期
	資服說END_DATE是改變契約效力用的日期，抽驗過事故日期與END_DATE不同的資料也是END_DATE符合死亡證明日期*/
/**/
/*DD01的「初次殘疾鑑定日」用在暴露數型態二上*/

PROC SQL;/*(效力非00或患病年度有值)且(理賠金代號有暴露數型態2)的保單才需要算初次給付日*/
CREATE TABLE a AS
SELECT * FROM POL_USE
;
CREATE TABLE b AS
SELECT DISTINCT PROD_ID,理賠金代號 FROM CLAM_USE WHERE 暴露數型態=2
;
QUIT;
/*初次殘疾鑑定日若DISB都抓不到就用事故日*/
PROC SQL;
CREATE TABLE DD01 AS
SELECT POLICY_NO,
	   PROD_ID,
	   INSD_ID_SAS,
	   理賠金代號,
       CASE WHEN 初次殘疾鑑定日<>. THEN 初次殘疾鑑定日
			WHEN 初次殘疾鑑定日=. THEN 事故日
	   END AS 初次殘疾鑑定日 FORMAT=YYMMDD10.
FROM (
	SELECT 	DISTINCT 
			POLICY_NO,
			PROD_ID,
			INSD_ID_SAS,
			理賠金代號,
			min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,
			min(事故日) FORMAT=YYMMDD10. AS 事故日
			FROM(
				SELECT c.POLICY_NO,
					   c.PROD_ID,
					   b.理賠金代號,
					   a.INSD_ID_SAS,
					   c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,
					   c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日
				FROM QUERY.DTAAB001_Q as c
				INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID
				INNER JOIN	a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO
																	AND c.PROD_ID=a.PROD_ID
				WHERE c.PAY_STS not in ('0','5','6')
				)
	GROUP BY 1,2,3,4
	)
WHERE 初次殘疾鑑定日<>. OR 事故日<>.
;
DROP TABLE A;
DROP TABLE B;
QUIT;
/*理賠記錄檔*/
				/*契約角色(0：子女 C：配偶 I：被保人 A：要保人 S：次被保人)*/
				/*a.CLAM_CAT為索賠類別   a.PAY_STS為給付狀態   */
				/*PAY_STS 欄位名稱說明0 尚未給付 1 依約給付 2 協議給付 3 削減給付	4 修正延滯息日期 
				5 退件不給付 6 暫不處理 7 人工處理 
				CLAM_CAT 欄位名稱說明	A 死亡 B 殘廢 C 重大疾病 D 生命末期 E 醫療日額 F 醫療實支 G 防癌 
				H 長期看護 	I 婦女津貼 	J 豁免保費 	K 全殘 L 解除契約 N 定期給付保險金 	Z 延滯息 */


PROC SQL;/*效力43才會需要用到最後一次重疾日期，所以只算效力43的保單*/
CREATE TABLE a AS
SELECT * FROM POL_USE WHERE EFT_CODE in ('43')
;

PROC SQL;
CREATE TABLE DDD01 AS
SELECT *
FROM (
	SELECT 	DISTINCT 
			POLICY_NO,
			PROD_ID,
			max(殘疾鑑定日) FORMAT=YYMMDD10. AS 最後重疾鑑定日
			FROM(
				SELECT b.POLICY_NO,
					   b.PROD_ID,
					   b.CLAM_AMT_CODE,
					   a.INSD_ID_SAS,
					   b.DISB_DATE  FORMAT=YYMMDD10. AS 殘疾鑑定日
				FROM QUERY.DTAAB001_Q as b
				INNER JOIN	a  ON b.POLICY_NO=a.POLICY_NO AND b.PROD_ID=a.PROD_ID
				WHERE b.PAY_STS not in ('0','5','6') AND b.CLAM_CAT in ('C') 
						AND b.CLAM_AMT_CODE not in('BIC5','JAZ4')
				)
	GROUP BY 1,2
	)
WHERE 最後重疾鑑定日<>.
;
DROP TABLE A;
QUIT;
/*整理特承檔*/
/*取最接近觀察期間末日的特承生效日資料，將資料整理成保號/險別/ID為KEY，未整理前(含除外記錄)會有多筆資料*/
/*ID尚未考慮ID變更的效果*/
/*先整理出各保號ID小於觀察末日的最新一筆特承生效日期,再用日期把資料串出來*/
PROC SQL;
CREATE TABLE TEMP1 AS 
SELECT DISTINCT
a.COL1,	
a.COL2,
a.COL3_SAS,
max(a.COL4)	 AS '特承生效日'n FORMAT=YYMMDD10.
	FROM
		(SELECT 
		*
		FROM QUERY.DTAB0007_AE
		INNER JOIN WORK.PROD_USE  ON PROD_USE.PROD_ID=DTAB0007_AE.COL2,
			 WORK.DDATE
		WHERE COL4 <= DDATE.DATE_END
		) AS a
GROUP BY a.COL1,a.COL2,a.COL3_SAS
;
QUIT;
PROC SQL;
CREATE TABLE WEAK_HT AS 
SELECT DISTINCT
a.COL1	AS 保單號碼,
a.COL2	AS 險別,
a.COL3_SAS	AS 客戶ID,
a.COL4	AS 特承生效日,
/*a.COL5	AS '危險職業(E承保)'n,
a.COL6	AS '危險職業(P承保)'n,
a.COL7	AS 除外責任,
a.COL8	AS 除外責任期間,*/
a.COL9	AS Y增齡,
a.COL10	AS 弱體長加分數,
a.COL11	As 弱體短期加費期間,
a.COL12	AS 削減給付,
a.COL13	AS 交易代號,
/*a.COL15 AS 異動日期時間,*/
a.COL16 AS 短期加費始期,
a.COL17 AS 短期加費終期,
a.SCORE_RATE_KIND AS 加費種類,
a.SCORE_RATE_VALUE AS 加費值
FROM QUERY.DTAB0007_AE AS a
INNER JOIN TEMP1 AS b on a.COL1=b.COL1 AND a.COL2=b.COL2 AND a.COL3_SAS=b.COL3_SAS AND a.COL4=b.特承生效日
;
Drop TABLE TEMP1
;
QUIT;

/*經手人檔應該不用看-翔*/
PROC SQL;
/**經手人檔整理**/
CREATE TABLE  DIV_NO  AS
SELECT DISTINCT a.POLICY_NO     AS  保單號碼, 
                a.ACT_DIV_NO    AS  招攬單位 ,
				a.AGNT_ID_SAS   AS 經手人ID,
				a.ACT_WKYM	AS 舉績工作年月,
				a.AGNT_SEQ	AS 經手人順序,
				a.SPLT_RATE	AS 拆分比例
FROM QUERY.DTAP0000_Q as a INNER JOIN POL_USE as b on a.POLICY_NO=b.POLICY_NO
;

/**解約檔整理，傳統型解約保價計算至解約受理日期，故以此為優先選項**/
/**COL_6：解約受理日期，COL_3：解約輸入日期**/
/**1.主約解約(30)：受理日->輸入日->帳務日(都在C001) 
     2.附約終止(38)：附約終止日期(附約主檔就有)**/
CREATE TABLE SRD_M AS
SELECT b.COL_4 AS 保單號碼,
			  MIN(b.CANCEL_DATE) AS CANCEL_DATE FORMAT=YYMMDD10.
FROM (SELECT DISTINCT a.COL_4,
              CASE WHEN a.COL_6 <> . THEN a.COL_6 /*受理日*/
			            WHEN a.COL_3 <> . THEN datepart(a.COL_3)  /*輸入日*/
						ELSE a.COL_11 /*帳務日*/  
						END AS CANCEL_DATE FORMAT=YYMMDD10.
						FROM QUERY.DTABC001_AE_Q AS a
			INNER JOIN POL_USE AS t ON a.COL_4=t.POLICY_NO where t.EFT_CODE in ('04','30','32','33','38','62','40')) AS b
GROUP BY 1;


/**展期檔整理**/
CREATE TABLE  ETI_M  AS
SELECT COL3,COL4,COL5,COL6,COL7,COL8
/*依序是保號、受理日、生效日、險別、展期始期、展期終期*/
FROM QUERY.DTABN001_AE AS a
INNER JOIN WORK.POL_USE AS t ON a.COL3=t.POLICY_NO;

/**繳清檔整理**/
CREATE TABLE  RPU_M  AS
SELECT DISTINCT COL3,COL4,COL5,COL6,COL7,COL8
/*依序是保號、受理日、生效日、險別、繳清始期、繳清保額*/
FROM QUERY.DTABP001_AE AS a
INNER JOIN WORK.POL_USE AS t ON a.COL3=t.POLICY_NO
,DDATE
WHERE a.COL5<=DDATE.DATE_BEG
;

/**契約關係人檔整理**/
/*CREATE TABLE  ROLE_M  AS
SELECT DISTINCT a.* FROM QUERY.DTAB0005_Q AS a 
INNER JOIN WORK.POL_USE AS t ON a.POLICY_NO=t.POLICY_NO AND a.ID_SAS=t.INSD_ID_SAS
WHERE a.ROLE= 'I';
/*契約角色(0：子女 C：配偶 I：被保人 A：要保人 S：次被保人*/
QUIT;

PROC SQL;
/**主檔資料整理**/
/*經手人的資料會使表格膨脹，所以先串接其他資料後計算暴露數再串接經手人資訊*/
CREATE TABLE  ORDINARY  AS
SELECT DISTINCT 
				a.POLICY_NO,
				a.PROD_ID     AS  險別,
				PROD.商品中文全名,
				PROD.商品主分類,
				PROD.商品細分類,
                a.ISSUE_DATE    FORMAT= yymmdd10.     AS  投保日期,
				a.EXT_YYMM        AS  延長期間,
			/*	INTNX('MONTH', a.ISSUE_DATE , (INPUT(SUBSTR(a.EXT_YYMM,1,2),8.)*12 +INPUT( SUBSTR(a.EXT_YYMM,3,2),8.)) ,'SAME')  FORMAT= yymmdd10.  AS  投保日期_NEW,    /**I考慮延長期間後的投保始期**/
				INTNX('YEAR',a.ISSUE_DATE,INTCK('YEAR',a.ISSUE_DATE,DDATE.DATE_END),'SAME')	AS	主約保單週年日	FORMAT=YYMMDD10.,
				a.INSD_ID_SAS							AS 被保人ID,
				a.AGE									AS 投保年齡,
				a.sex									AS 性別,
				a.MAIN_PREM								AS 主約保費,
				a.PAY_PRD AS 繳費年期,
				a.POL_PRD AS 保險年期,
				a.ANTY_PAY_DATE AS 年金開始給付日,
		  		PROD.'標準體/弱體'n,
		  		PROD.加費內扣外加,
		  		PROD.短期加費,
		  		PROD.弱體長期加費, 
		  	    (CASE 
                 WHEN  PROD.是否有保險期間_歲數 = '1'     THEN INTNX('YEAR',a.ISSUE_DATE, a.POL_PRD-a.AGE, 'SAME')-1
                 WHEN  PROD.保險期間_終身 = '1'          THEN MDY(12,31,9999)
                 WHEN  PROD.保險期間_歲滿期 = '1'        THEN INTNX('YEAR',a.ISSUE_DATE, a.POL_PRD-a.AGE, 'SAME')-1
                 WHEN  PROD.是否有次被保人歲滿期 = '1'    THEN INTNX('YEAR',a.ISSUE_DATE, a.POL_PRD-a.AGE, 'SAME')-1
                 WHEN  PROD.同繳費期間='1' AND  PROD.繳費年期_歲滿期 = '1'  	  THEN INTNX('YEAR', a.ISSUE_DATE, a.POL_PRD-a.AGE,' SAME')-1
                 WHEN  PROD.同繳費期間='1' AND PROD.繳費年期_歲區間 = '1'    	  THEN INTNX('YEAR', a.ISSUE_DATE, a.POL_PRD-a.AGE, 'SAME')-1
                 WHEN  PROD.同繳費期間='1' AND  PROD.是否有次被保人歲滿期 = '1'  THEN INTNX('YEAR', a.ISSUE_DATE, a.POL_PRD-a.SEC_ISD_AGE, 'SAME')-1
                 ELSE INTNX('YEAR',a.ISSUE_DATE, a.POL_PRD, 'SAME')-1
                 END  ) AS 保險終期 FORMAT=YYMMDD10.,

				a.FACE_AMT AS 保額,
				a.FACE_AMT_UNIT AS 保額單位,
                MONTH(a.ISSUE_DATE)  AS  AS_MONTH,                
                a.PAY_FREQ	      AS   繳別,
                a.MNXT_PAY_DATE	  FORMAT= yymmdd10.   		AS   下次應繳日,
				(CASE WHEN a.MNXT_PAY_DATE=MDY(1,1,1911)   AND  a.PAY_FREQ=1   THEN INTNX('MONTH', a.ISSUE_DATE, a.PAY_TIMES,'SAME')
                      WHEN a.MNXT_PAY_DATE=MDY(1,1,1911)   AND  a.PAY_FREQ=2   THEN INTNX('MONTH', a.ISSUE_DATE, a.PAY_TIMES * 3,'SAME')
                      WHEN a.MNXT_PAY_DATE=MDY(1,1,1911)   AND  a.PAY_FREQ=3   THEN INTNX('MONTH', a.ISSUE_DATE, a.PAY_TIMES * 6,'SAME')
                      WHEN a.MNXT_PAY_DATE=MDY(1,1,1911)   AND  a.PAY_FREQ=4   THEN INTNX('YEAR', a.ISSUE_DATE, a.PAY_TIMES,'SAME')
                      WHEN a.MNXT_PAY_DATE IS NOT NULL         THEN a.MNXT_PAY_DATE
                 ELSE MDY(12,31,9999)
                 END )  FORMAT = yymmdd10. AS 下次應繳日_NEW,
                 a.PAY_TIMES	                        AS   繳次,
			 	 a.CLC_NO 								AS   收費代號,
				 a.MED_EXAM 							AS   體檢別,
				 a.LST_CHG_DATE	  FORMAT= yymmdd10.     AS   最近異動日期,
                 a.EFT_CODE	                        	AS   契約效力,
				 a.CURR									AS   幣別,
				 a.PRCS_IND	                        	AS   前次契約效力,
                 a.LPS_DATE   FORMAT= yymmdd10.       	AS   停效日期,
				 a.SICK_Y								AS   患病年度,
				 a.ANTY_PAY_DATE 						AS   開始給付日,
                 a.APC_ID_SAS 	                		AS   要保人ID,
				 a.SALE_CHNL 							AS   銷售通路,/*0:通用、1:TM7 Outbound (直效)、2:TM7 Inbound (直效)、3:銀行保代件、4:共同行銷件*/
				 a.ZIP_CODE   	        				AS   郵遞區號,
				 a.JOB_ID	AS 職業類別,
				 d.COL5     FORMAT= yymmdd10.      AS   展期始期,
                 d.COL8     FORMAT= yymmdd10.      AS   展期終期,
                 e.COL5     FORMAT= yymmdd10.      AS   繳清始期,
				 e.COL8							   AS 繳清保額,
				 /*INTCK('YEAR',CALCULATED 投保日期_NEW,DDATE.DATE_END)		AS 經過年度1, /*觀察年度在主約週年日前的經過年度*/
				 /*INTNX('YEAR',CALCULATED 投保日期_NEW,CALCULATED 經過年度1,'SAME')		AS 主約保單週年日	FORMAT=YYMMDD10.,*/
					 g.CANCEL_DATE AS 解約日期,
				 /*i.MAX_SPECIAL,/*特殊記錄種類*/
				 /*i.MIN_SPECIAL, /*特殊記錄種類*/
				 D01.身故日,
				 D01.全殘日,
				 DDD01.最後重疾鑑定日,
				 FINAL_PAYDAY.最後給付日 AS 醫療最後給付日,
				 YEAR(DDATE.DATE_BEG)	    AS	觀察年度,
				 DDATE.DATE_BEG				AS	觀察年度起日 FORMAT=YYMMDD10.,
				 DDATE.DATE_END  			AS	觀察年度末日 FORMAT=YYMMDD10.,
				 DDATE.DATE_END-DDATE.DATE_BEG+1	AS  觀察年度天數
FROM	QUERY.DTAB0001_Q AS a
		  INNER JOIN POL_USE on POL_USE.POLICY_NO=a.POLICY_NO
		  INNER JOIN PROD_USE AS PROD on PROD.PROD_ID=a.PROD_ID
		  LEFT JOIN ETI_M AS d on d.COL3=a.POLICY_NO
		  		 	 /**展期檔整理**/
			/*	COL3	保單號碼
				COL4	受理日期
				COL5	生效日期
				COL6	險別
				COL7	展期始期  目測大概皆等於生效日期
				COL8	展期終期*/
		  LEFT JOIN RPU_M AS e on e.COL3=a.POLICY_NO
				/**繳清檔整理**/
			/*	COL3	保單號碼
				COL4	受理日期
				COL5	生效日期
				COL6	險別
				COL7	繳清始期
				COL8	繳清保額*/
 		  LEFT JOIN SRD_M AS g on a.POLICY_NO=g.保單號碼
	 	  /*LEFT JOIN 
          (
             SELECT DISTINCT h.COL1   AS   保單號碼, h.COL9  AS  險別代號, MAX(h.COL2) AS MAX_SPECIAL , MIN(h.COL2) AS MIN_SPECIAL   /**COL2：特殊紀錄種類**/
             /*FROM QUERY.DTAB0009_AE /*特殊記錄檔*//*AS h
             /*WHERE h.COL2 /*特殊記錄種類*/ /*IN ('A05','A06') 
             /*GROUP BY  h.COL1, h.COL9/*將特承整理成保號+險別為key*/
          /*) AS i ON a.POLICY_NO = i.保單號碼 AND a.PROD_ID = i.險別代號*/
		  LEFT JOIN D01 on D01.INSD_ID_SAS=a.INSD_ID_SAS
		  LEFT JOIN FINAL_PAYDAY on FINAL_PAYDAY.POLICY_NO=a.POLICY_NO AND FINAL_PAYDAY.OCR_ID_SAS=a.INSD_ID_SAS
		  LEFT JOIN DDD01 on a.POLICY_NO=DDD01.POLICY_NO AND a.PROD_ID=DDD01.PROD_ID
,DDATE
;
QUIT;
/**加入理賠金代號資訊**/
/*暴露數型態2會有對應的重疾一次給付日*/
/*資料會先後因理賠金代號及經手人而膨脹*/
PROC SQL;

CREATE TABLE  ORDINARY_2  AS
SELECT a.*,
		DD01.初次殘疾鑑定日,
		b.CLAM_CAT,
		b.理賠金代號,
		b.理賠金中文,
		b.等待期,
		b.暴露數型態
		
FROM ORDINARY as a
LEFT JOIN CLAM_USE as b on a.險別=b.PROD_ID
LEFT JOIN DD01 on DD01.INSD_ID_SAS=a.被保人ID AND DD01.POLICY_NO=a.POLICY_NO 
					AND DD01.PROD_ID=a.險別 AND DD01.理賠金代號=b.理賠金代號
;
QUIT;
/*PROC SQL;
CREATE TABLE  ORDINARY_3  AS
SELECT a.*,
		b.經手人ID,
			b.招攬單位 AS 舉績單位,
			CASE   WHEN	SUBSTR(b.招攬單位,3,1)='1'	 THEN    '專招'
					WHEN	SUBSTR(b.招攬單位,3,1)='4'	 THEN 	 '展業'
					WHEN	SUBSTR(b.招攬單位,3,1)='5'	 THEN	 '保代'
					WHEN	SUBSTR(b.招攬單位,3,1)='7'	 THEN	 '直效'
				 	ELSE	'其它' 
			END AS	通路別,
			b.經手人順序,
			b.拆分比例
FROM ORDINARY_2 as a
LEFT JOIN DIV_NO as b on a.POLICY_NO=b.保單號碼
;
QUIT;*/





'''    

query = re.sub("\s+?;",";",query10)
query = re.sub("(\n)|(\r)|(\t)"," ",query)
query = re.sub("\\/\\*.*?\\*\\/", "",query)

# query to Structure List to SAS node relation 
sas_query = Sastructure(query)

# Node relation Setting and Plot the mermaid structure
sfc = Sqltoflowchart(sas_query.from_to_property,
 sas_query.from_to_query,
 sas_query.node_property )

# 1. Ignore Some Relation words 
# 2. Draw some node to colors 
# 3. Draw the query to colors 
sfc.mermaid_plot(relation_ignore = [])
## FOR SAS CODE 
sfc.mermaid_drawnode_containtxt(keytxt = "DATA_STEP_FLOWCHART", colname = "state_value", color = "#00FFFF", allquery_bool = True)
sfc.mermaid_drawnode_containtxt(keytxt = "PROC_TRANSPOSE_FLOWCHART", colname = "state_value", color = "#00FFFF", allquery_bool = True)
sfc.mermaid_drawnode_containtxt(keytxt = "PROC_SORT_FLOWCHART", colname = "state_value", color = "#00FFFF", allquery_bool = True)
## FOR ALL CODE
sfc.mermaid_drawnode(keyword = ["WORK","","SUBQ"], token_tag = "token", color = "#F0BBFF", equalkeyword = "notsame")
sfc.mermaid_drawnode(keyword = "DROP", token_tag = "token", color = "#AAAAAA", equalkeyword = "contain")
sfc.mermaid_drawnode(keyword = "QUERY", token_tag = "token", color = "#28FF28")
sfc.mermaid_drawnode(keyword = "CR20", token_tag = "token", color = "#FFAA33")

sfc.mc.mermaid_txt = re.sub("\n|\r", "",sfc.mc.mermaid_txt)        
sfc.mc.mermaid_txt = re.sub(";", ";\n",sfc.mc.mermaid_txt)
print(sfc.mc.mermaid_txt)

{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'A'
|  `- 0 Name 'A'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Wildcard '*'
|- 13 Whitespace ' '
|- 14 Keyword 'FROM'
|- 15 Whitespace ' '
|- 16 Identifier 'POL_USE'
|  `- 0 Name 'POL_USE'
|- 17 Whitespace ' '
`- 18 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Comparison 'EFT_CO...'
   |  |- 0 Identifier 'EFT_CO...'
   |  |  `- 0 Name 'EFT_CO...'
   |  |- 1 Comparison '='
   |  `- 2 Single "'46'"
   `- 3 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE EFT_CODE='46';
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE EFT_CODE='46';
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'TEMP_F...'
|  `- 0 Name 'TEMP_F...'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Identifier 'b.*'
|  |- 0 Name 'b'
|  |- 1 Punctuation '.'
|  `- 2 Wildcard '*'
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Keyword 'FROM'
|- 16 Whitespace ' '
|- 17 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DTAAB0...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'as'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 'b'
|     `- 0 Name 'b'
|- 18 Whitespace ' '
|- 19 Keyword 'INNER ...'
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Identifier 'a'
|  `- 0 Name 'a'
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Keyword 'on'
|- 27 Whitespace ' '
|- 28 Comparison 'a.PROD...'
|  |- 0 Identifier 'a.PROD...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.PROD...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PROD_ID'
|- 29 Whitespace ' '
|- 30 Keyword 'AND'
|- 31 Whitespace ' '
|- 32 Comparison 'a.POLI...'
|  |- 0 Identifier 'a.POLI...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.POLI...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 33 Whitespace ' '
|- 34 Keyword 'AND'
|- 35 Whitespace ' '
|- 36 Comparison 'a.PROD...'
|  |- 0 Identifier 'a.PROD...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.PROD...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PROD_ID'
|- 37 Whitespace ' '
`- 38 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Identifier 'PAY_STS'
   |  `- 0 Name 'PAY_STS'
   |- 3 Whitespace ' '
   |- 4 Keyword 'not'
   |- 5 Whitespace ' '
   |- 6 Keyword 'in'
   |- 7 Whitespace ' '
   |- 8 Parenthesis '('0','...'
   |  |- 0 Punctuation '('
   |  |- 1 IdentifierList ''0','5...'
   |  |  |- 0 Single "'0'"
   |  |  |- 1 Punctuation ','
   |  |  |- 2 Single "'5'"
   |  |  |- 3 Punctuation ','
   |  |  `- 4 Single "'6'"
   |  `- 2 Punctuation ')'
   |- 9 Whitespace ' '
   |- 10 Keyword 'AND'
   |- 11 Whitespace ' '
   |- 12 Identifier 'CLAM_C...'
   |  `- 0 Name 'CLAM_C...'
   |- 13 Whitespace ' '
   |- 14 Keyword 'in'
   |- 15 Parenthesis '('B','...'
   |  |- 0 Punctuation '('
   |  |- 1 IdentifierList ''B','C...'
   |  |  |- 0 Single "'B'"
   |  |  |- 1 Punctuation ','
   |  |  |- 2 Single "'C'"
   |  |  |- 3 Punctuation ','
   |  |  |- 4 Single "'E'"
   |  |  |- 5 Punctuation ','
   |  |  |- 6 Single "'F'"
   |  |  |- 7 Punctuation ','
   |  |  |- 8 Single "'G'"
   |  |  |- 9 Punctuation ','
   |  |  |- 10 Single "'H'"
   |  |  |- 11 Punctuation ','
   |  |  `- 12 Single "'N'"
   |  `- 2 Punctuation ')'
   `- 16 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE PAY_STS NOT IN ('0','5','6') AND CLAM_CAT IN('B','C','E','F','G','H','N');
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
WHERE表示句:WHERE PAY_STS NOT IN ('0','5','6') AND CLAM_CAT IN('B','C','E','F','G','H','N');
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'FINAL_...'
|  `- 0 Name 'FINAL_...'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 IdentifierList 'POLICY...'
|  |- 0 Identifier 'POLICY...'
|  |  `- 0 Name 'POLICY...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Identifier 'PROD_ID'
|  |  `- 0 Name 'PROD_ID'
|  |- 6 Punctuation ','
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Identifier 'OCR_ID...'
|  |  `- 0 Name 'OCR_ID...'
|  |- 11 Punctuation ','
|  |- 12 Whitespace ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  `- 15 Identifier 'max'
|     `- 0 Name 'max'
|- 13 Identifier '(ACNT_...'
|  |- 0 Parenthesis '(ACNT_...'
|  |  |- 0 Punctuation '('
|  |  |- 1 Identifier 'ACNT_D...'
|  |  |  `- 0 Name 'ACNT_D...'
|  |  `- 2 Punctuation ')'
|  |- 1 Whitespace ' '
|  `- 2 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '最'
|- 14 Error '後'
|- 15 Error '給'
|- 16 Error '付'
|- 17 Error '日'
|- 18 Whitespace ' '
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 Keyword 'FROM'
|- 22 Whitespace ' '
|- 23 Identifier 'TEMP_F...'
|  `- 0 Name 'TEMP_F...'
|- 24 Whitespace ' '
|- 25 Keyword 'group ...'
|- 26 Whitespace ' '
|- 27 IdentifierList '1,2,3'
|  |- 0 Integer '1'
|  |- 1 Punctuation ','
|  |- 2 Integer '2'
|  |- 3 Punctuation ','
|  `- 4 Integer '3'
`- 28 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'a'
|  `- 0 Name 'a'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Wildcard '*'
|- 13 Whitespace ' '
|- 14 Keyword 'FROM'
|- 15 Whitespace ' '
|- 16 Identifier 'POL_USE'
|  `- 0 Name 'POL_USE'
|- 17 Whitespace ' '
`- 18 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Identifier 'EFT_CO...'
   |  `- 0 Name 'EFT_CO...'
   |- 3 Whitespace ' '
   |- 4 Keyword 'in'
   |- 5 Whitespace ' '
   |- 6 Parenthesis '('14',...'
   |  |- 0 Punctuation '('
   |  |- 1 IdentifierList ''14','...'
   |  |  |- 0 Single "'14'"
   |  |  |- 1 Punctuation ','
   |  |  |- 2 Single "'38'"
   |  |  |- 3 Punctuation ','
   |  |  |- 4 Single "'40'"
   |  |  |- 5 Punctuation ','
   |  |  |- 6 Single "'42'"
   |  |  |- 7 Punctuation ','
   |  |  |- 8 Single "'50'"
   |  |  |- 9 Punctuation ','
   |  |  |- 10 Single "'51'"
   |  |  |- 11 Punctuation ','
   |  |  |- 12 Single "'44'"
   |  |  |- 13 Punctuation ','
   |  |  `- 14 Single "'47'"
   |  `- 2 Punctuation ')'
   `- 7 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE EFT_CODE IN ('14','38','40','42','50','51','44','47');
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE EFT_CODE IN ('14','38','40','42','50','51','44','47');
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'b'
|  `- 0 Name 'b'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Identifier 'DTAAB0...'
|  |- 0 Name 'DTAAB0...'
|  |- 1 Punctuation '.'
|  `- 2 Wildcard '*'
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Keyword 'FROM'
|- 16 Whitespace ' '
|- 17 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  `- 2 Name 'DTAAB0...'
|- 18 Whitespace ' '
|- 19 Keyword 'INNER ...'
|- 20 Whitespace ' '
|- 21 Identifier 'a AS P...'
|  |- 0 Name 'a'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'POL_USE'
|     `- 0 Name 'POL_USE'
|- 22 Whitespace ' '
|- 23 Keyword 'ON'
|- 24 Whitespace ' '
|- 25 Comparison 'DTAAB0...'
|  |- 0 Identifier 'DTAAB0...'
|  |  |- 0 Name 'DTAAB0...'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_ID...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'POL_US...'
|     |- 0 Name 'POL_USE'
|     |- 1 Punctuation '.'
|     `- 2 Name 'INSD_I...'
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 Whitespace ' '
|- 29 Whitespace ' '
|- 30 Whitespace ' '
`- 31 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Comparison 'SYS_NO...'
   |  |- 0 Identifier 'SYS_NO'
   |  |  `- 0 Name 'SYS_NO'
   |  |- 1 Comparison '='
   |  `- 2 Single "'1'"
   |- 3 Whitespace ' '
   |- 4 Keyword 'AND'
   |- 5 Whitespace ' '
   |- 6 Identifier 'CLAM_C...'
   |  `- 0 Name 'CLAM_C...'
   |- 7 Whitespace ' '
   |- 8 Keyword 'IN'
   |- 9 Whitespace ' '
   |- 10 Parenthesis '('A')'
   |  |- 0 Punctuation '('
   |  |- 1 Single "'A'"
   |  `- 2 Punctuation ')'
   `- 11 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE SYS_NO='1' AND CLAM_CAT IN ('A');
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
WHERE表示句:WHERE SYS_NO='1' AND CLAM_CAT IN ('A');
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'c'
|  `- 0 Name 'c'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Identifier 'DTAAB0...'
|  |- 0 Name 'DTAAB0...'
|  |- 1 Punctuation '.'
|  `- 2 Wildcard '*'
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Keyword 'FROM'
|- 16 Whitespace ' '
|- 17 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  `- 2 Name 'DTAAB0...'
|- 18 Whitespace ' '
|- 19 Keyword 'INNER ...'
|- 20 Whitespace ' '
|- 21 Identifier 'a AS P...'
|  |- 0 Name 'a'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'POL_USE'
|     `- 0 Name 'POL_USE'
|- 22 Whitespace ' '
|- 23 Keyword 'ON'
|- 24 Whitespace ' '
|- 25 Comparison 'DTAAB0...'
|  |- 0 Identifier 'DTAAB0...'
|  |  |- 0 Name 'DTAAB0...'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_ID...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'POL_US...'
|     |- 0 Name 'POL_USE'
|     |- 1 Punctuation '.'
|     `- 2 Name 'INSD_I...'
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 Whitespace ' '
|- 29 Whitespace ' '
|- 30 Whitespace ' '
`- 31 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '

   |- 2 Comparison 'SYS_NO...'
   |  |- 0 Identifier 'SYS_NO'
   |  |  `- 0 Name 'SYS_NO'
   |  |- 1 Comparison '='
   |  `- 2 Single "'1'"
   |- 3 Whitespace ' '
   |- 4 Keyword 'AND'
   |- 5 Whitespace ' '
   |- 6 Identifier 'CLAM_C...'
   |  `- 0 Name 'CLAM_C...'
   |- 7 Whitespace ' '
   |- 8 Keyword 'IN'
   |- 9 Whitespace ' '
   |- 10 Parenthesis '('K')'
   |  |- 0 Punctuation '('
   |  |- 1 Single "'K'"
   |  `- 2 Punctuation ')'
   |- 11 Whitespace ' '
   |- 12 Keyword 'AND'
   |- 13 Whitespace ' '
   |- 14 Identifier 'PAY_STS'
   |  `- 0 Name 'PAY_STS'
   |- 15 Whitespace ' '
   |- 16 Keyword 'not'
   |- 17 Whitespace ' '
   |- 18 Keyword 'in'
   |- 19 Whitespace ' '
   |- 20 Parenthesis '('0','...'
   |  |- 0 Punctuation '('
   |  |- 1 IdentifierList ''0','5...'
   |  |  |- 0 Single "'0'"
   |  |  |- 1 Punctuation ','
   |  |  |- 2 Single "'5'"
   |  |  |- 3 Punctuation ','
   |  |  `- 4 Single "'6'"
   |  `- 2 Punctuation ')'
   `- 21 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE SYS_NO='1' AND CLAM_CAT IN ('K') AND PAY_STS NOT IN ('0','5','6');
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
WHERE表示句:WHERE SYS_NO='1' AND CLAM_CAT IN ('K') AND PAY_STS NOT IN ('0','5','6');
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'd'
|  `- 0 Name 'd'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Keyword 'DISTIN...'
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 IdentifierList 'a.INSD...'
|  |- 0 Identifier 'a.INSD...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  `- 5 Identifier 'b.END_...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     |- 2 Name 'END_DA...'
|     |- 3 Whitespace ' '
|     `- 4 Identifier 'FORMAT...'
|        |- 0 Comparison 'FORMAT...'
|        |  |- 0 Identifier 'FORMAT'
|        |  |  `- 0 Name 'FORMAT'
|        |  |- 1 Comparison '='
|        |  `- 2 Identifier 'YYMMDD...'
|        |     |- 0 Name 'YYMMDD...'
|        |     `- 1 Punctuation '.'
|        |- 1 Whitespace ' '
|        |- 2 Keyword 'AS'
|        |- 3 Whitespace ' '
|        `- 4 Error '身'
|- 17 Error '故'
|- 18 Error '日'
|- 19 Punctuation ','
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Identifier 'b.OCR_...'
|  |- 0 Name 'b'
|  |- 1 Punctuation '.'
|  |- 2 Name 'OCR_DA...'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '身'
|- 27 Error '故'
|- 28 Error '資'
|- 29 Error '料'
|- 30 Error '事'
|- 31 Error '故'
|- 32 Error '日'
|- 33 Punctuation ','
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Identifier 'c.END_...'
|  |- 0 Name 'c'
|  |- 1 Punctuation '.'
|  |- 2 Name 'END_DA...'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '全'
|- 38 Error '殘'
|- 39 Error '日'
|- 40 Punctuation ','
|- 41 Whitespace ' '
|- 42 Whitespace ' '
|- 43 Whitespace ' '
|- 44 Identifier 'c.OCR_...'
|  |- 0 Name 'c'
|  |- 1 Punctuation '.'
|  |- 2 Name 'OCR_DA...'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '全'
|- 45 Error '殘'
|- 46 Error '資'
|- 47 Error '料'
|- 48 Error '事'
|- 49 Error '故'
|- 50 Error '日'
|- 51 Whitespace ' '
|- 52 Keyword 'FROM'
|- 53 Whitespace ' '
|- 54 Identifier 'a'
|  `- 0 Name 'a'
|- 55 Whitespace ' '
|- 56 Keyword 'LEFT J...'
|- 57 Whitespace ' '
|- 58 Identifier 'b'
|  `- 0 Name 'b'
|- 59 Whitespace ' '
|- 60 Keyword 'on'
|- 61 Whitespace ' '
|- 62 Comparison 'a.INSD...'
|  |- 0 Identifier 'a.INSD...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.OCR_...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'OCR_ID...'
|- 63 Whitespace ' '
|- 64 Keyword 'LEFT J...'
|- 65 Whitespace ' '
|- 66 Identifier 'c'
|  `- 0 Name 'c'
|- 67 Whitespace ' '
|- 68 Keyword 'on'
|- 69 Whitespace ' '
|- 70 Comparison 'a.INSD...'
|  |- 0 Identifier 'a.INSD...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'c.OCR_...'
|     |- 0 Name 'c'
|     |- 1 Punctuation '.'
|     `- 2 Name 'OCR_ID...'
`- 71 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:LEFT JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'D01'
|  `- 0 Name 'D01'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 IdentifierList 'INSD_I...'
|  |- 0 Identifier 'INSD_I...'
|  |  `- 0 Name 'INSD_I...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  `- 5 Identifier 'CASE W...'
|     |- 0 Case 'CASE W...'
|     |  |- 0 Keyword 'CASE'
|     |  |- 1 Whitespace ' '
|     |  |- 2 Keyword 'WHEN'
|     |  |- 3 Whitespace ' '
|     |  |- 4 Error '身'
|     |  |- 5 Error '故'
|     |  |- 6 Error '日'
|     |  |- 7 Comparison '='
|     |  |- 8 Punctuation '.'
|     |  |- 9 Whitespace ' '
|     |  |- 10 Keyword 'THEN'
|     |  |- 11 Whitespace ' '
|     |  |- 12 Error '身'
|     |  |- 13 Error '故'
|     |  |- 14 Error '資'
|     |  |- 15 Error '料'
|     |  |- 16 Error '事'
|     |  |- 17 Error '故'
|     |  |- 18 Error '日'
|     |  |- 19 Whitespace ' '
|     |  |- 20 Whitespace ' '
|     |  |- 21 Whitespace ' '
|     |  |- 22 Keyword 'else'
|     |  |- 23 Whitespace ' '
|     |  |- 24 Error '身'
|     |  |- 25 Error '故'
|     |  |- 26 Error '日'
|     |  |- 27 Whitespace ' '
|     |  |- 28 Whitespace ' '
|     |  |- 29 Whitespace ' '
|     |  `- 30 Keyword 'END'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '身'
|- 13 Error '故'
|- 14 Error '日'
|- 15 Whitespace ' '
|- 16 IdentifierList 'FORMAT...'
|  |- 0 Comparison 'FORMAT...'
|  |  |- 0 Identifier 'FORMAT'
|  |  |  `- 0 Name 'FORMAT'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'YYMMDD...'
|  |     |- 0 Name 'YYMMDD...'
|  |     `- 1 Punctuation '.'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  `- 5 Identifier 'CASE W...'
|     |- 0 Case 'CASE W...'
|     |  |- 0 Keyword 'CASE'
|     |  |- 1 Whitespace ' '
|     |  |- 2 Keyword 'WHEN'
|     |  |- 3 Whitespace ' '
|     |  |- 4 Error '全'
|     |  |- 5 Error '殘'
|     |  |- 6 Error '日'
|     |  |- 7 Comparison '='
|     |  |- 8 Punctuation '.'
|     |  |- 9 Whitespace ' '
|     |  |- 10 Keyword 'THEN'
|     |  |- 11 Whitespace ' '
|     |  |- 12 Error '全'
|     |  |- 13 Error '殘'
|     |  |- 14 Error '資'
|     |  |- 15 Error '料'
|     |  |- 16 Error '事'
|     |  |- 17 Error '故'
|     |  |- 18 Error '日'
|     |  |- 19 Whitespace ' '
|     |  |- 20 Whitespace ' '
|     |  |- 21 Whitespace ' '
|     |  |- 22 Keyword 'else'
|     |  |- 23 Whitespace ' '
|     |  |- 24 Error '全'
|     |  |- 25 Error '殘'
|     |  |- 26 Error '日'
|     |  |- 27 Whitespace ' '
|     |  |- 28 Whitespace ' '
|     |  |- 29 Whitespace ' '
|     |  `- 30 Keyword 'END'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '全'
|- 17 Error '殘'
|- 18 Error '日'
|- 19 Whitespace ' '
|- 20 Comparison 'FORMAT...'
|  |- 0 Identifier 'FORMAT'
|  |  `- 0 Name 'FORMAT'
|  |- 1 Comparison '='
|  `- 2 Identifier 'YYMMDD...'
|     |- 0 Name 'YYMMDD...'
|     `- 1 Punctuation '.'
|- 21 Whitespace ' '
|- 22 Keyword 'FROM'
|- 23 Parenthesis '( SEL...'
|  |- 0 Punctuation '('
|  |- 1 Whitespace ' '
|  |- 2 Whitespace ' '
|  |- 3 DML 'SELECT'
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 IdentifierList 'INSD_I...'
|  |  |- 0 Identifier 'INSD_I...'
|  |  |  `- 0 Name 'INSD_I...'
|  |  |- 1 Punctuation ','
|  |  |- 2 Whitespace ' '
|  |  |- 3 Whitespace ' '
|  |  |- 4 Whitespace ' '
|  |  |- 5 Whitespace ' '
|  |  |- 6 Whitespace ' '
|  |  `- 7 Identifier 'min(身故...'
|  |     |- 0 Function 'min(身故...'
|  |     |  |- 0 Identifier 'min'
|  |     |  |  `- 0 Name 'min'
|  |     |  `- 1 Parenthesis '(身故日)'
|  |     |     |- 0 Punctuation '('
|  |     |     |- 1 Error '身'
|  |     |     |- 2 Error '故'
|  |     |     |- 3 Error '日'
|  |     |     `- 4 Punctuation ')'
|  |     |- 1 Whitespace ' '
|  |     `- 2 Identifier 'FORMAT...'
|  |        |- 0 Comparison 'FORMAT...'
|  |        |  |- 0 Identifier 'FORMAT'
|  |        |  |  `- 0 Name 'FORMAT'
|  |        |  |- 1 Comparison '='
|  |        |  `- 2 Identifier 'YYMMDD...'
|  |        |     |- 0 Name 'YYMMDD...'
|  |        |     `- 1 Punctuation '.'
|  |        |- 1 Whitespace ' '
|  |        |- 2 Keyword 'AS'
|  |        |- 3 Whitespace ' '
|  |        `- 4 Error '身'
|  |- 10 Error '故'
|  |- 11 Error '日'
|  |- 12 Punctuation ','
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Identifier 'min(身故...'
|  |  |- 0 Function 'min(身故...'
|  |  |  |- 0 Identifier 'min'
|  |  |  |  `- 0 Name 'min'
|  |  |  `- 1 Parenthesis '(身故資料事...'
|  |  |     |- 0 Punctuation '('
|  |  |     |- 1 Error '身'
|  |  |     |- 2 Error '故'
|  |  |     |- 3 Error '資'
|  |  |     |- 4 Error '料'
|  |  |     |- 5 Error '事'
|  |  |     |- 6 Error '故'
|  |  |     |- 7 Error '日'
|  |  |     `- 8 Punctuation ')'
|  |  |- 1 Whitespace ' '
|  |  `- 2 Identifier 'FORMAT...'
|  |     |- 0 Comparison 'FORMAT...'
|  |     |  |- 0 Identifier 'FORMAT'
|  |     |  |  `- 0 Name 'FORMAT'
|  |     |  |- 1 Comparison '='
|  |     |  `- 2 Identifier 'YYMMDD...'
|  |     |     |- 0 Name 'YYMMDD...'
|  |     |     `- 1 Punctuation '.'
|  |     |- 1 Whitespace ' '
|  |     |- 2 Keyword 'AS'
|  |     |- 3 Whitespace ' '
|  |     `- 4 Error '身'
|  |- 18 Error '故'
|  |- 19 Error '資'
|  |- 20 Error '料'
|  |- 21 Error '事'
|  |- 22 Error '故'
|  |- 23 Error '日'
|  |- 24 Punctuation ','
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  |- 27 Whitespace ' '
|  |- 28 Whitespace ' '
|  |- 29 Identifier 'min(全殘...'
|  |  |- 0 Function 'min(全殘...'
|  |  |  |- 0 Identifier 'min'
|  |  |  |  `- 0 Name 'min'
|  |  |  `- 1 Parenthesis '(全殘日)'
|  |  |     |- 0 Punctuation '('
|  |  |     |- 1 Error '全'
|  |  |     |- 2 Error '殘'
|  |  |     |- 3 Error '日'
|  |  |     `- 4 Punctuation ')'
|  |  |- 1 Whitespace ' '
|  |  `- 2 Identifier 'FORMAT...'
|  |     |- 0 Comparison 'FORMAT...'
|  |     |  |- 0 Identifier 'FORMAT'
|  |     |  |  `- 0 Name 'FORMAT'
|  |     |  |- 1 Comparison '='
|  |     |  `- 2 Identifier 'YYMMDD...'
|  |     |     |- 0 Name 'YYMMDD...'
|  |     |     `- 1 Punctuation '.'
|  |     |- 1 Whitespace ' '
|  |     |- 2 Keyword 'AS'
|  |     |- 3 Whitespace ' '
|  |     `- 4 Error '全'
|  |- 30 Error '殘'
|  |- 31 Error '日'
|  |- 32 Punctuation ','
|  |- 33 Whitespace ' '
|  |- 34 Whitespace ' '
|  |- 35 Whitespace ' '
|  |- 36 Whitespace ' '
|  |- 37 Identifier 'min(全殘...'
|  |  |- 0 Function 'min(全殘...'
|  |  |  |- 0 Identifier 'min'
|  |  |  |  `- 0 Name 'min'
|  |  |  `- 1 Parenthesis '(全殘資料事...'
|  |  |     |- 0 Punctuation '('
|  |  |     |- 1 Error '全'
|  |  |     |- 2 Error '殘'
|  |  |     |- 3 Error '資'
|  |  |     |- 4 Error '料'
|  |  |     |- 5 Error '事'
|  |  |     |- 6 Error '故'
|  |  |     |- 7 Error '日'
|  |  |     `- 8 Punctuation ')'
|  |  |- 1 Whitespace ' '
|  |  `- 2 Identifier 'FORMAT...'
|  |     |- 0 Comparison 'FORMAT...'
|  |     |  |- 0 Identifier 'FORMAT'
|  |     |  |  `- 0 Name 'FORMAT'
|  |     |  |- 1 Comparison '='
|  |     |  `- 2 Identifier 'YYMMDD...'
|  |     |     |- 0 Name 'YYMMDD...'
|  |     |     `- 1 Punctuation '.'
|  |     |- 1 Whitespace ' '
|  |     |- 2 Keyword 'AS'
|  |     |- 3 Whitespace ' '
|  |     `- 4 Error '全'
|  |- 38 Error '殘'
|  |- 39 Error '資'
|  |- 40 Error '料'
|  |- 41 Error '事'
|  |- 42 Error '故'
|  |- 43 Error '日'
|  |- 44 Whitespace ' '
|  |- 45 Whitespace ' '
|  |- 46 Keyword 'FROM'
|  |- 47 Whitespace ' '
|  |- 48 Identifier 'd'
|  |  `- 0 Name 'd'
|  |- 49 Whitespace ' '
|  |- 50 Whitespace ' '
|  |- 51 Whitespace ' '
|  |- 52 Keyword 'GROUP ...'
|  |- 53 Whitespace ' '
|  |- 54 Integer '1'
|  `- 55 Punctuation ')'
`- 24 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
{'MAIN': ' CREATE TABLE D01 AS  SELECT INSD_ID_SAS,   CASE WHEN 身故日=. THEN 身故資料事故日   else 身故日   END AS 身故日 FORMAT=YYMMDD10.,   CASE WHEN 全殘日=. THEN 全殘資料事故日   else 全殘日   END AS 全殘日 FORMAT=YYMMDD10. FROM(  SELECT     INSD_ID_SAS,     min(身故日) FORMAT=YYMMDD10. AS 身故日,    min(身故資料事故日) FORMAT=YYMMDD10. AS 身故資料事故日,    min(全殘日) FORMAT=YYMMDD10. AS 全殘日,    min(全殘資料事故日) FORMAT=YYMMDD10. AS 全殘資料事故日  FROM d   GROUP BY 1);', 'MAIN_FROM1': '(  SELECT     INSD_ID_SAS,     min(身故日) FORMAT=YYMMDD10. AS 身故日,    min(身故資料事故日) FORMAT=YYMMDD10. AS 身故資料事故日,    min(全殘日) FORMAT=YYMMDD10. AS 全殘日,    min(全殘資料事故日) FORMAT=YYMMDD10. AS 全殘資料事故日  FROM d   GROUP BY 1)'}
|- 0 Whitespace ' '
|- 1 Whitespace ' '
|- 2 DML 'SELECT'
|- 3 Whitespace ' '
|- 4 Whitespace ' '
|- 5 Whitespace ' '
|- 6 Whitespace ' '
|- 7 Whitespace ' '
|- 8 IdentifierList 'INSD_I...'
|  |- 0 Identifier 'INSD_I...'
|  |  `- 0 Name 'INSD_I...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  `- 7 Identifier 'min(身故...'
|     |- 0 Function 'min(身故...'
|     |  |- 0 Identifier 'min'
|     |  |  `- 0 Name 'min'
|     |  `- 1 Parenthesis '(身故日)'
|     |     |- 0 Punctuation '('
|     |     |- 1 Error '身'
|     |     |- 2 Error '故'
|     |     |- 3 Error '日'
|     |     `- 4 Punctuation ')'
|     |- 1 Whitespace ' '
|     `- 2 Identifier 'FORMAT...'
|        |- 0 Comparison 'FORMAT...'
|        |  |- 0 Identifier 'FORMAT'
|        |  |  `- 0 Name 'FORMAT'
|        |  |- 1 Comparison '='
|        |  `- 2 Identifier 'YYMMDD...'
|        |     |- 0 Name 'YYMMDD...'
|        |     `- 1 Punctuation '.'
|        |- 1 Whitespace ' '
|        |- 2 Keyword 'AS'
|        |- 3 Whitespace ' '
|        `- 4 Error '身'
|- 9 Error '故'
|- 10 Error '日'
|- 11 Punctuation ','
|- 12 Whitespace ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 Identifier 'min(身故...'
|  |- 0 Function 'min(身故...'
|  |  |- 0 Identifier 'min'
|  |  |  `- 0 Name 'min'
|  |  `- 1 Parenthesis '(身故資料事...'
|  |     |- 0 Punctuation '('
|  |     |- 1 Error '身'
|  |     |- 2 Error '故'
|  |     |- 3 Error '資'
|  |     |- 4 Error '料'
|  |     |- 5 Error '事'
|  |     |- 6 Error '故'
|  |     |- 7 Error '日'
|  |     `- 8 Punctuation ')'
|  |- 1 Whitespace ' '
|  `- 2 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '身'
|- 17 Error '故'
|- 18 Error '資'
|- 19 Error '料'
|- 20 Error '事'
|- 21 Error '故'
|- 22 Error '日'
|- 23 Punctuation ','
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 Identifier 'min(全殘...'
|  |- 0 Function 'min(全殘...'
|  |  |- 0 Identifier 'min'
|  |  |  `- 0 Name 'min'
|  |  `- 1 Parenthesis '(全殘日)'
|  |     |- 0 Punctuation '('
|  |     |- 1 Error '全'
|  |     |- 2 Error '殘'
|  |     |- 3 Error '日'
|  |     `- 4 Punctuation ')'
|  |- 1 Whitespace ' '
|  `- 2 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '全'
|- 29 Error '殘'
|- 30 Error '日'
|- 31 Punctuation ','
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Identifier 'min(全殘...'
|  |- 0 Function 'min(全殘...'
|  |  |- 0 Identifier 'min'
|  |  |  `- 0 Name 'min'
|  |  `- 1 Parenthesis '(全殘資料事...'
|  |     |- 0 Punctuation '('
|  |     |- 1 Error '全'
|  |     |- 2 Error '殘'
|  |     |- 3 Error '資'
|  |     |- 4 Error '料'
|  |     |- 5 Error '事'
|  |     |- 6 Error '故'
|  |     |- 7 Error '日'
|  |     `- 8 Punctuation ')'
|  |- 1 Whitespace ' '
|  `- 2 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '全'
|- 37 Error '殘'
|- 38 Error '資'
|- 39 Error '料'
|- 40 Error '事'
|- 41 Error '故'
|- 42 Error '日'
|- 43 Whitespace ' '
|- 44 Whitespace ' '
|- 45 Keyword 'FROM'
|- 46 Whitespace ' '
|- 47 Identifier 'd'
|  `- 0 Name 'd'
|- 48 Whitespace ' '
|- 49 Whitespace ' '
|- 50 Whitespace ' '
|- 51 Keyword 'GROUP ...'
|- 52 Whitespace ' '
`- 53 Integer '1'
None
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
1
================
MAIN_FROM1===========
 CREATE TABLE D01 AS  SELECT INSD_ID_SAS,   CASE WHEN 身故日=. THEN 身故資料事故日   else 身故日   END AS 身故日 FORMAT=YYMMDD10.,   CASE WHEN 全殘日=. THEN 全殘資料事故日   else 全殘日   END AS 全殘日 FORMAT=YYMMDD10. FROM(  SELECT     INSD_ID_SAS,     min(身故日) FORMAT=YYMMDD10. AS 身故日,    min(身故資料事故日) FORMAT=YYMMDD10. AS 身故資料事故日,    min(全殘日) FORMAT=YYMMDD10. AS 全殘日,    min(全殘資料事故日) FORMAT=YYMMDD10. AS 全殘資料事故日  FROM d   GROUP BY 1);
  SELECT     INSD_ID_SAS,     min(身故日) FORMAT=YYMMDD10. AS 身故日,    min(身故資料事故日) FORMAT=YYMMDD10. AS 身故資料事故日,    min(全殘日) FORMAT=YYMMDD10. AS 全殘日,    min(全殘資料事故日) FORMAT=YYMMDD10. AS 全殘資料事故日  FROM d   GROUP BY 1
 CREATE TABLE D01 AS  SELECT INSD_ID_SAS,   CASE WHEN 身故日=. THEN 身故資料事故日   else 身故日   END AS 身故日 FORMAT=YYMMDD10.,   CASE WHEN 全殘日=. THEN 全殘資料事故日   else 全殘日   END AS 全殘日 FORMAT=YYMMDD10. FROM SUBQ.MAIN_FROM1;
2
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'a'
|  `- 0 Name 'a'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 DML 'SELECT'
|- 10 Whitespace ' '
|- 11 Wildcard '*'
|- 12 Whitespace ' '
|- 13 Keyword 'FROM'
|- 14 Whitespace ' '
|- 15 Identifier 'POL_USE'
|  `- 0 Name 'POL_USE'
`- 16 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'b'
|  `- 0 Name 'b'
|- 6 Whitespace ' '

|  |- 11 Error '金'
|  |- 12 Error '代'
|  |- 13 Error '號'
|  |- 14 Punctuation ','
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 IdentifierList 'a.INSD...'
|  |  |- 0 Identifier 'a.INSD...'
|  |  |  |- 0 Name 'a'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'INSD_I...'
|  |  |- 1 Punctuation ','
|  |  |- 2 Whitespace ' '
|  |  |- 3 Whitespace ' '
|  |  |- 4 Whitespace ' '
|  |  |- 5 Whitespace ' '
|  |  |- 6 Whitespace ' '
|  |  |- 7 Whitespace ' '
|  |  |- 8 Whitespace ' '
|  |  |- 9 Whitespace ' '
|  |  |- 10 Whitespace ' '
|  |  `- 11 Identifier 'c.DISB...'
|  |     |- 0 Name 'c'
|  |     |- 1 Punctuation '.'
|  |     |- 2 Name 'DISB_D...'
|  |     |- 3 Whitespace ' '
|  |     |- 4 Whitespace ' '
|  |     `- 5 Identifier 'FORMAT...'
|  |        |- 0 Comparison 'FORMAT...'
|  |        |  |- 0 Identifier 'FORMAT'
|  |        |  |  `- 0 Name 'FORMAT'
|  |        |  |- 1 Comparison '='
|  |        |  `- 2 Identifier 'YYMMDD...'
|  |        |     |- 0 Name 'YYMMDD...'
|  |        |     `- 1 Punctuation '.'
|  |        |- 1 Whitespace ' '
|  |        |- 2 Keyword 'AS'
|  |        |- 3 Whitespace ' '
|  |        `- 4 Error '初'
|  |- 25 Error '次'
|  |- 26 Error '殘'
|  |- 27 Error '疾'
|  |- 28 Error '鑑'
|  |- 29 Error '定'
|  |- 30 Error '日'
|  |- 31 Punctuation ','
|  |- 32 Whitespace ' '
|  |- 33 Whitespace ' '
|  |- 34 Whitespace ' '
|  |- 35 Whitespace ' '
|  |- 36 Whitespace ' '
|  |- 37 Whitespace ' '
|  |- 38 Whitespace ' '
|  |- 39 Whitespace ' '
|  |- 40 Whitespace ' '
|  |- 41 Identifier 'c.OCR_...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  |- 2 Name 'OCR_DA...'
|  |  |- 3 Whitespace ' '
|  |  |- 4 Whitespace ' '
|  |  `- 5 Identifier 'FORMAT...'
|  |     |- 0 Comparison 'FORMAT...'
|  |     |  |- 0 Identifier 'FORMAT'
|  |     |  |  `- 0 Name 'FORMAT'
|  |     |  |- 1 Comparison '='
|  |     |  `- 2 Identifier 'YYMMDD...'
|  |     |     |- 0 Name 'YYMMDD...'
|  |     |     `- 1 Punctuation '.'
|  |     |- 1 Whitespace ' '
|  |     |- 2 Keyword 'AS'
|  |     |- 3 Whitespace ' '
|  |     `- 4 Error '事'
|  |- 42 Error '故'
|  |- 43 Error '日'
|  |- 44 Whitespace ' '
|  |- 45 Whitespace ' '
|  |- 46 Whitespace ' '
|  |- 47 Whitespace ' '
|  |- 48 Whitespace ' '
|  |- 49 Keyword 'FROM'
|  |- 50 Whitespace ' '
|  |- 51 Identifier 'QUERY....'
|  |  |- 0 Name 'QUERY'
|  |  |- 1 Punctuation '.'
|  |  |- 2 Name 'DTAAB0...'
|  |  |- 3 Whitespace ' '
|  |  |- 4 Keyword 'as'
|  |  |- 5 Whitespace ' '
|  |  `- 6 Identifier 'c'
|  |     `- 0 Name 'c'
|  |- 52 Whitespace ' '
|  |- 53 Whitespace ' '
|  |- 54 Whitespace ' '
|  |- 55 Whitespace ' '
|  |- 56 Whitespace ' '
|  |- 57 Keyword 'INNER ...'
|  |- 58 Whitespace ' '
|  |- 59 Whitespace ' '
|  |- 60 Identifier 'b'
|  |  `- 0 Name 'b'
|  |- 61 Whitespace ' '
|  |- 62 Keyword 'ON'
|  |- 63 Whitespace ' '
|  |- 64 Identifier 'b.'
|  |  |- 0 Name 'b'
|  |  `- 1 Punctuation '.'
|  |- 65 Error '理'
|  |- 66 Error '賠'
|  |- 67 Error '金'
|  |- 68 Error '代'
|  |- 69 Error '號'
|  |- 70 Comparison '='
|  |- 71 Identifier 'c.CLAM...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CLAM_A...'
|  |- 72 Whitespace ' '
|  |- 73 Keyword 'AND'
|  |- 74 Whitespace ' '
|  |- 75 Comparison 'c.PROD...'
|  |  |- 0 Identifier 'c.PROD...'
|  |  |  |- 0 Name 'c'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'PROD_ID'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'b.PROD...'
|  |     |- 0 Name 'b'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'PROD_ID'
|  |- 76 Whitespace ' '
|  |- 77 Whitespace ' '
|  |- 78 Whitespace ' '
|  |- 79 Whitespace ' '
|  |- 80 Whitespace ' '
|  |- 81 Keyword 'INNER ...'
|  |- 82 Whitespace ' '
|  |- 83 Identifier 'a'
|  |  `- 0 Name 'a'
|  |- 84 Whitespace ' '
|  |- 85 Whitespace ' '
|  |- 86 Keyword 'ON'
|  |- 87 Whitespace ' '
|  |- 88 Comparison 'c.OCR_...'
|  |  |- 0 Identifier 'c.OCR_...'
|  |  |  |- 0 Name 'c'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'OCR_ID...'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'a.INSD...'
|  |     |- 0 Name 'a'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'INSD_I...'
|  |- 89 Whitespace ' '
|  |- 90 Keyword 'AND'
|  |- 91 Whitespace ' '
|  |- 92 Comparison 'c.POLI...'
|  |  |- 0 Identifier 'c.POLI...'
|  |  |  |- 0 Name 'c'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'POLICY...'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'a.POLI...'
|  |     |- 0 Name 'a'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'POLICY...'
|  |- 93 Whitespace ' '
|  |- 94 Whitespace ' '
|  |- 95 Whitespace ' '
|  |- 96 Whitespace ' '
|  |- 97 Whitespace ' '
|  |- 98 Whitespace ' '
|  |- 99 Whitespace ' '
|  |- 100 Whitespace ' '
|  |- 101 Whitespace ' '
|  |- 102 Whitespace ' '
|  |- 103 Whitespace ' '
|  |- 104 Whitespace ' '
|  |- 105 Whitespace ' '
|  |- 106 Whitespace ' '
|  |- 107 Whitespace ' '
|  |- 108 Whitespace ' '
|  |- 109 Whitespace ' '
|  |- 110 Whitespace ' '
|  |- 111 Keyword 'AND'
|  |- 112 Whitespace ' '
|  |- 113 Comparison 'c.PROD...'
|  |  |- 0 Identifier 'c.PROD...'
|  |  |  |- 0 Name 'c'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'PROD_ID'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'a.PROD...'
|  |     |- 0 Name 'a'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'PROD_ID'
|  |- 114 Whitespace ' '
|  |- 115 Whitespace ' '
|  |- 116 Whitespace ' '
|  |- 117 Whitespace ' '
|  |- 118 Whitespace ' '
|  |- 119 Where 'WHERE ...'
|  |  |- 0 Keyword 'WHERE'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Identifier 'c.PAY_...'
|  |  |  |- 0 Name 'c'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'PAY_STS'
|  |  |- 3 Whitespace ' '
|  |  |- 4 Keyword 'not'
|  |  |- 5 Whitespace ' '
|  |  |- 6 Keyword 'in'
|  |  |- 7 Whitespace ' '
|  |  |- 8 Parenthesis '('0','...'
|  |  |  |- 0 Punctuation '('
|  |  |  |- 1 IdentifierList ''0','5...'
|  |  |  |  |- 0 Single "'0'"
|  |  |  |  |- 1 Punctuation ','
|  |  |  |  |- 2 Single "'5'"
|  |  |  |  |- 3 Punctuation ','
|  |  |  |  `- 4 Single "'6'"
|  |  |  `- 2 Punctuation ')'
|  |  |- 9 Whitespace ' '
|  |  |- 10 Whitespace ' '
|  |  |- 11 Whitespace ' '
|  |  |- 12 Whitespace ' '
|  |  `- 13 Whitespace ' '
|  `- 120 Punctuation ')'
|- 48 Whitespace ' '
|- 49 Whitespace ' '
|- 50 Keyword 'GROUP ...'
|- 51 Whitespace ' '
|- 52 IdentifierList '1,2,3,4'
|  |- 0 Integer '1'
|  |- 1 Punctuation ','
|  |- 2 Integer '2'
|  |- 3 Punctuation ','
|  |- 4 Integer '3'
|  |- 5 Punctuation ','
|  `- 6 Integer '4'
|- 53 Whitespace ' '
`- 54 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
{'MAIN': " CREATE TABLE DD01 AS SELECT POLICY_NO,     PROD_ID,     INSD_ID_SAS,     理賠金代號,        CASE WHEN 初次殘疾鑑定日<>. THEN 初次殘疾鑑定日    WHEN 初次殘疾鑑定日=. THEN 事故日     END AS 初次殘疾鑑定日 FORMAT=YYMMDD10. FROM (  SELECT  DISTINCT     POLICY_NO,    PROD_ID,    INSD_ID_SAS,    理賠金代號,    min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,    min(事故日) FORMAT=YYMMDD10. AS 事故日    FROM(     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')     )  GROUP BY 1,2,3,4  ) WHERE 初次殘疾鑑定日<>. OR 事故日<>.;", 'MAIN_FROM1': "  SELECT  DISTINCT     POLICY_NO,    PROD_ID,    INSD_ID_SAS,    理賠金代號,    min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,    min(事故日) FORMAT=YYMMDD10. AS 事故日    FROM(     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')     )  GROUP BY 1,2,3,4  ", 'MAIN_FROM1_FROM1': "(     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')     )"}
|- 0 Whitespace ' '
|- 1 Whitespace ' '
|- 2 Whitespace ' '
|- 3 Whitespace ' '
|- 4 Whitespace ' '
|- 5 DML 'SELECT'
|- 6 Whitespace ' '
|- 7 IdentifierList 'c.POLI...'
|  |- 0 Identifier 'c.POLI...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Identifier 'c.PROD...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 12 Punctuation ','
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  `- 22 Identifier 'b.'
|     |- 0 Name 'b'
|     `- 1 Punctuation '.'
|- 8 Error '理'
|- 9 Error '賠'
|- 10 Error '金'
|- 11 Error '代'
|- 12 Error '號'
|- 13 Punctuation ','
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 Whitespace ' '
|- 17 Whitespace ' '
|- 18 Whitespace ' '
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 IdentifierList 'a.INSD...'
|  |- 0 Identifier 'a.INSD...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  `- 11 Identifier 'c.DISB...'
|     |- 0 Name 'c'
|     |- 1 Punctuation '.'
|     |- 2 Name 'DISB_D...'
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     `- 5 Identifier 'FORMAT...'
|        |- 0 Comparison 'FORMAT...'
|        |  |- 0 Identifier 'FORMAT'
|        |  |  `- 0 Name 'FORMAT'
|        |  |- 1 Comparison '='
|        |  `- 2 Identifier 'YYMMDD...'
|        |     |- 0 Name 'YYMMDD...'
|        |     `- 1 Punctuation '.'
|        |- 1 Whitespace ' '
|        |- 2 Keyword 'AS'
|        |- 3 Whitespace ' '
|        `- 4 Error '初'
|- 24 Error '次'
|- 25 Error '殘'
|- 26 Error '疾'
|- 27 Error '鑑'
|- 28 Error '定'
|- 29 Error '日'
|- 30 Punctuation ','
|- 31 Whitespace ' '
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
|- 39 Whitespace ' '
|- 40 Identifier 'c.OCR_...'
|  |- 0 Name 'c'
|  |- 1 Punctuation '.'
|  |- 2 Name 'OCR_DA...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  `- 5 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  `- 2 Identifier 'YYMMDD...'
|     |     |- 0 Name 'YYMMDD...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Error '事'
|- 41 Error '故'
|- 42 Error '日'
|- 43 Whitespace ' '
|- 44 Whitespace ' '
|- 45 Whitespace ' '
|- 46 Whitespace ' '
|- 47 Whitespace ' '
|- 48 Keyword 'FROM'
|- 49 Whitespace ' '
|- 50 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DTAAB0...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'as'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 'c'
|     `- 0 Name 'c'
|- 51 Whitespace ' '
|- 52 Whitespace ' '
|- 53 Whitespace ' '
|- 54 Whitespace ' '
|- 55 Whitespace ' '
|- 56 Keyword 'INNER ...'
|- 57 Whitespace ' '
|- 58 Whitespace ' '
|- 59 Identifier 'b'
|  `- 0 Name 'b'
|- 60 Whitespace ' '
|- 61 Keyword 'ON'
|- 62 Whitespace ' '
|- 63 Identifier 'b.'
|  |- 0 Name 'b'
|  `- 1 Punctuation '.'
|- 64 Error '理'
|- 65 Error '賠'
|- 66 Error '金'
|- 67 Error '代'
|- 68 Error '號'
|- 69 Comparison '='
|- 70 Identifier 'c.CLAM...'
|  |- 0 Name 'c'
|  |- 1 Punctuation '.'
|  `- 2 Name 'CLAM_A...'
|- 71 Whitespace ' '
|- 72 Keyword 'AND'
|- 73 Whitespace ' '
|- 74 Comparison 'c.PROD...'
|  |- 0 Identifier 'c.PROD...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.PROD...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PROD_ID'
|- 75 Whitespace ' '
|- 76 Whitespace ' '
|- 77 Whitespace ' '
|- 78 Whitespace ' '
|- 79 Whitespace ' '
|- 80 Keyword 'INNER ...'
|- 81 Whitespace ' '
|- 82 Identifier 'a'
|  `- 0 Name 'a'
|- 83 Whitespace ' '
|- 84 Whitespace ' '
|- 85 Keyword 'ON'
|- 86 Whitespace ' '
|- 87 Comparison 'c.OCR_...'
|  |- 0 Identifier 'c.OCR_...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_ID...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.INSD...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'INSD_I...'
|- 88 Whitespace ' '
|- 89 Keyword 'AND'
|- 90 Whitespace ' '
|- 91 Comparison 'c.POLI...'
|  |- 0 Identifier 'c.POLI...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.POLI...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 92 Whitespace ' '
|- 93 Whitespace ' '
|- 94 Whitespace ' '
|- 95 Whitespace ' '
|- 96 Whitespace ' '
|- 97 Whitespace ' '
|- 98 Whitespace ' '
|- 99 Whitespace ' '
|- 100 Whitespace ' '
|- 101 Whitespace ' '
|- 102 Whitespace ' '
|- 103 Whitespace ' '
|- 104 Whitespace ' '
|- 105 Whitespace ' '
|- 106 Whitespace ' '
|- 107 Whitespace ' '
|- 108 Whitespace ' '
|- 109 Whitespace ' '
|- 110 Keyword 'AND'
|- 111 Whitespace ' '
|- 112 Comparison 'c.PROD...'
|  |- 0 Identifier 'c.PROD...'
|  |  |- 0 Name 'c'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.PROD...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PROD_ID'
|- 113 Whitespace ' '
|- 114 Whitespace ' '
|- 115 Whitespace ' '
|- 116 Whitespace ' '
|- 117 Whitespace ' '
`- 118 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Identifier 'c.PAY_...'
   |  |- 0 Name 'c'
   |  |- 1 Punctuation '.'
   |  `- 2 Name 'PAY_STS'
   |- 3 Whitespace ' '
   |- 4 Keyword 'not'
   |- 5 Whitespace ' '
   |- 6 Keyword 'in'
   |- 7 Whitespace ' '
   |- 8 Parenthesis '('0','...'
   |  |- 0 Punctuation '('
   |  |- 1 IdentifierList ''0','5...'
   |  |  |- 0 Single "'0'"
   |  |  |- 1 Punctuation ','
   |  |  |- 2 Single "'5'"
   |  |  |- 3 Punctuation ','
   |  |  `- 4 Single "'6'"
   |  `- 2 Punctuation ')'
   |- 9 Whitespace ' '
   |- 10 Whitespace ' '
   |- 11 Whitespace ' '
   |- 12 Whitespace ' '
   `- 13 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE C.PAY_STS NOT IN ('0','5','6')
GROUPBY表示句:GROUP BY
WHERE表示句:WHERE 初次殘疾鑑定日<>. OR 事故日<>.;
1
================
MAIN_FROM1===========
 CREATE TABLE DD01 AS SELECT POLICY_NO,     PROD_ID,     INSD_ID_SAS,     理賠金代號,        CASE WHEN 初次殘疾鑑定日<>. THEN 初次殘疾鑑定日    WHEN 初次殘疾鑑定日=. THEN 事故日     END AS 初次殘疾鑑定日 FORMAT=YYMMDD10. FROM (  SELECT  DISTINCT     POLICY_NO,    PROD_ID,    INSD_ID_SAS,    理賠金代號,    min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,    min(事故日) FORMAT=YYMMDD10. AS 事故日    FROM(     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')     )  GROUP BY 1,2,3,4  ) WHERE 初次殘疾鑑定日<>. OR 事故日<>.;
  SELECT  DISTINCT     POLICY_NO,    PROD_ID,    INSD_ID_SAS,    理賠金代號,    min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,    min(事故日) FORMAT=YYMMDD10. AS 事故日    FROM(     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')     )  GROUP BY 1,2,3,4
 CREATE TABLE DD01 AS SELECT POLICY_NO,     PROD_ID,     INSD_ID_SAS,     理賠金代號,        CASE WHEN 初次殘疾鑑定日<>. THEN 初次殘疾鑑定日    WHEN 初次殘疾鑑定日=. THEN 事故日     END AS 初次殘疾鑑定日 FORMAT=YYMMDD10. FROM  SUBQ.MAIN_FROM1 WHERE 初次殘疾鑑定日<>. OR 事故日<>.;
2
================
MAIN_FROM1_FROM1===========
  SELECT  DISTINCT     POLICY_NO,    PROD_ID,    INSD_ID_SAS,    理賠金代號,    min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,    min(事故日) FORMAT=YYMMDD10. AS 事故日    FROM(     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')     )  GROUP BY 1,2,3,4
     SELECT c.POLICY_NO,         c.PROD_ID,         b.理賠金代號,         a.INSD_ID_SAS,         c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日,         c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日     FROM QUERY.DTAAB001_Q as c     INNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID     INNER JOIN a  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO                  AND c.PROD_ID=a.PROD_ID     WHERE c.PAY_STS not in ('0','5','6')
  SELECT  DISTINCT     POLICY_NO,    PROD_ID,    INSD_ID_SAS,    理賠金代號,    min(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日,    min(事故日) FORMAT=YYMMDD10. AS 事故日    FROM SUBQ.MAIN_FROM1_FROM1  GROUP BY 1,2,3,4
3
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE 初次殘疾鑑定日<>. OR 事故日<>.;
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
JOIN表示句:INNER JOIN
ON表示句:ON
WHERE表示句:WHERE C.PAY_STS NOT IN ('0','5','6')
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'a'
|  `- 0 Name 'a'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 DML 'SELECT'
|- 10 Whitespace ' '
|- 11 Wildcard '*'
|- 12 Whitespace ' '
|- 13 Keyword 'FROM'
|- 14 Whitespace ' '
|- 15 Identifier 'POL_USE'
|  `- 0 Name 'POL_USE'
|- 16 Whitespace ' '
`- 17 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Identifier 'EFT_CO...'
   |  `- 0 Name 'EFT_CO...'
   |- 3 Whitespace ' '
   |- 4 Keyword 'in'
   |- 5 Whitespace ' '
   |- 6 Parenthesis '('43')'
   |  |- 0 Punctuation '('
   |  |- 1 Single "'43'"
   |  `- 2 Punctuation ')'
   `- 7 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE EFT_CODE IN ('43');
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE EFT_CODE IN ('43');
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'DDD01'
|  `- 0 Name 'DDD01'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 DML 'SELECT'
|- 10 Whitespace ' '
|- 11 Wildcard '*'
|- 12 Whitespace ' '
|- 13 Keyword 'FROM'
|- 14 Whitespace ' '
|- 15 Parenthesis '( SEL...'
|  |- 0 Punctuation '('
|  |- 1 Whitespace ' '
|  |- 2 Whitespace ' '
|  |- 3 DML 'SELECT'

|- 28 IdentifierList 'a.COL1...'
|  |- 0 Identifier 'a.COL1'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL1'
|  |- 1 Punctuation ','
|  |- 2 Identifier 'a.COL2'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL2'
|  |- 3 Punctuation ','
|  `- 4 Identifier 'a.COL3...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'COL3_S...'
`- 29 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
MAIN_FROM1
(SELECT    *   FROM QUERY.DTAB0007_AE   INNER JOIN WORK.PROD_USE  ON PROD_USE.PROD_ID=DTAB0007_AE.COL2,     WORK.DDATE   WHERE COL4 <= DDATE.DATE_END   )
{'MAIN': " CREATE TABLE TEMP1 AS  SELECT DISTINCT a.COL1,  a.COL2, a.COL3_SAS, max(a.COL4)  AS '特承生效日'n FORMAT=YYMMDD10.  FROM   (SELECT    *   FROM QUERY.DTAB0007_AE   INNER JOIN WORK.PROD_USE  ON PROD_USE.PROD_ID=DTAB0007_AE.COL2,     WORK.DDATE   WHERE COL4 <= DDATE.DATE_END   ) AS a GROUP BY a.COL1,a.COL2,a.COL3_SAS;", 'MAIN_FROM1': '(SELECT    *   FROM QUERY.DTAB0007_AE   INNER JOIN WORK.PROD_USE  ON PROD_USE.PROD_ID=DTAB0007_AE.COL2,     WORK.DDATE   WHERE COL4 <= DDATE.DATE_END   )'}
|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 Whitespace ' '
|- 3 Whitespace ' '
|- 4 Whitespace ' '
|- 5 Wildcard '*'
|- 6 Whitespace ' '
|- 7 Whitespace ' '
|- 8 Whitespace ' '
|- 9 Keyword 'FROM'
|- 10 Whitespace ' '
|- 11 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  `- 2 Name 'DTAB00...'
|- 12 Whitespace ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Keyword 'INNER ...'
|- 16 Whitespace ' '
|- 17 Identifier 'WORK.P...'
|  |- 0 Name 'WORK'
|  |- 1 Punctuation '.'
|  `- 2 Name 'PROD_U...'
|- 18 Whitespace ' '
|- 19 Whitespace ' '
|- 20 Keyword 'ON'
|- 21 Whitespace ' '
|- 22 IdentifierList 'PROD_U...'
|  |- 0 Comparison 'PROD_U...'
|  |  |- 0 Identifier 'PROD_U...'
|  |  |  |- 0 Name 'PROD_U...'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'PROD_ID'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'DTAB00...'
|  |     |- 0 Name 'DTAB00...'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'COL2'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  `- 7 Identifier 'WORK.D...'
|     |- 0 Name 'WORK'
|     |- 1 Punctuation '.'
|     `- 2 Name 'DDATE'
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
`- 26 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Comparison 'COL4 <...'
   |  |- 0 Identifier 'COL4'
   |  |  `- 0 Name 'COL4'
   |  |- 1 Whitespace ' '
   |  |- 2 Comparison '<='
   |  |- 3 Whitespace ' '
   |  `- 4 Identifier 'DDATE....'
   |     |- 0 Name 'DDATE'
   |     |- 1 Punctuation '.'
   |     `- 2 Name 'DATE_E...'
   |- 3 Whitespace ' '
   |- 4 Whitespace ' '
   `- 5 Whitespace ' '
None
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE COL4 <= DDATE.DATE_END
GROUPBY表示句:GROUP BY
1
================
MAIN_FROM1===========
 CREATE TABLE TEMP1 AS  SELECT DISTINCT a.COL1,  a.COL2, a.COL3_SAS, max(a.COL4)  AS '特承生效日'n FORMAT=YYMMDD10.  FROM   (SELECT    *   FROM QUERY.DTAB0007_AE   INNER JOIN WORK.PROD_USE  ON PROD_USE.PROD_ID=DTAB0007_AE.COL2,     WORK.DDATE   WHERE COL4 <= DDATE.DATE_END   ) AS a GROUP BY a.COL1,a.COL2,a.COL3_SAS;
SELECT    *   FROM QUERY.DTAB0007_AE   INNER JOIN WORK.PROD_USE  ON PROD_USE.PROD_ID=DTAB0007_AE.COL2,     WORK.DDATE   WHERE COL4 <= DDATE.DATE_END
 CREATE TABLE TEMP1 AS  SELECT DISTINCT a.COL1,  a.COL2, a.COL3_SAS, max(a.COL4)  AS '特承生效日'n FORMAT=YYMMDD10.  FROM    SUBQ.MAIN_FROM1 AS a GROUP BY a.COL1,a.COL2,a.COL3_SAS;
2
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
GROUPBY表示句:GROUP BY
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
WHERE表示句:WHERE COL4 <= DDATE.DATE_END
{}
|- 0 Whitespace ' '
|- 1 DDL 'CREATE'
|- 2 Whitespace ' '
|- 3 Keyword 'TABLE'
|- 4 Whitespace ' '
|- 5 Identifier 'WEAK_HT'
|  `- 0 Name 'WEAK_HT'
|- 6 Whitespace ' '
|- 7 Keyword 'AS'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 DML 'SELECT'
|- 11 Whitespace ' '
|- 12 Keyword 'DISTIN...'
|- 13 Whitespace ' '
|- 14 Identifier 'a.COL1...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL1'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '保'
|- 15 Error '單'
|- 16 Error '號'
|- 17 Error '碼'
|- 18 Punctuation ','
|- 19 Whitespace ' '
|- 20 Identifier 'a.COL2...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL2'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '險'
|- 21 Error '別'
|- 22 Punctuation ','
|- 23 Whitespace ' '
|- 24 Identifier 'a.COL3...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL3_S...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '客'
|- 25 Error '戶'
|- 26 IdentifierList 'ID, a....'
|  |- 0 Identifier 'ID'
|  |  `- 0 Name 'ID'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 'a.COL4...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     |- 2 Name 'COL4'
|     |- 3 Whitespace ' '
|     |- 4 Keyword 'AS'
|     |- 5 Whitespace ' '
|     `- 6 Error '特'
|- 27 Error '承'
|- 28 Error '生'
|- 29 Error '效'
|- 30 Error '日'
|- 31 Punctuation ','
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 IdentifierList 'a.COL9...'
|  |- 0 Identifier 'a.COL9...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  |- 2 Name 'COL9'
|  |  |- 3 Whitespace ' '
|  |  |- 4 Keyword 'AS'
|  |  |- 5 Whitespace ' '
|  |  `- 6 Identifier 'Y增齡'
|  |     `- 0 Name 'Y增齡'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  `- 3 Identifier 'a.COL1...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     |- 2 Name 'COL10'
|     |- 3 Whitespace ' '
|     |- 4 Keyword 'AS'
|     |- 5 Whitespace ' '
|     `- 6 Error '弱'
|- 35 Error '體'
|- 36 Error '長'
|- 37 Error '加'
|- 38 Error '分'
|- 39 Error '數'
|- 40 Punctuation ','
|- 41 Whitespace ' '
|- 42 Identifier 'a.COL1...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL11'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'As'
|  |- 5 Whitespace ' '
|  `- 6 Error '弱'
|- 43 Error '體'
|- 44 Error '短'
|- 45 Error '期'
|- 46 Error '加'
|- 47 Error '費'
|- 48 Error '期'
|- 49 Error '間'
|- 50 Punctuation ','
|- 51 Whitespace ' '
|- 52 Identifier 'a.COL1...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL12'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '削'
|- 53 Error '減'
|- 54 Error '給'
|- 55 Error '付'
|- 56 Punctuation ','
|- 57 Whitespace ' '
|- 58 Identifier 'a.COL1...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL13'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '交'
|- 59 Error '易'
|- 60 Error '代'
|- 61 Error '號'
|- 62 Punctuation ','
|- 63 Whitespace ' '
|- 64 Whitespace ' '
|- 65 Identifier 'a.COL1...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL16'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '短'
|- 66 Error '期'
|- 67 Error '加'
|- 68 Error '費'
|- 69 Error '始'
|- 70 Error '期'
|- 71 Punctuation ','
|- 72 Whitespace ' '
|- 73 Identifier 'a.COL1...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL17'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '短'
|- 74 Error '期'
|- 75 Error '加'
|- 76 Error '費'
|- 77 Error '終'
|- 78 Error '期'
|- 79 Punctuation ','
|- 80 Whitespace ' '
|- 81 Identifier 'a.SCOR...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'SCORE_...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '加'
|- 82 Error '費'
|- 83 Error '種'
|- 84 Error '類'
|- 85 Punctuation ','
|- 86 Whitespace ' '
|- 87 Identifier 'a.SCOR...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'SCORE_...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '加'
|- 88 Error '費'
|- 89 Error '值'
|- 90 Whitespace ' '
|- 91 Keyword 'FROM'
|- 92 Whitespace ' '
|- 93 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DTAB00...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 'a'
|     `- 0 Name 'a'
|- 94 Whitespace ' '
|- 95 Keyword 'INNER ...'
|- 96 Whitespace ' '
|- 97 Identifier 'TEMP1 ...'
|  |- 0 Name 'TEMP1'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'b'
|     `- 0 Name 'b'
|- 98 Whitespace ' '
|- 99 Keyword 'on'
|- 100 Whitespace ' '
|- 101 Comparison 'a.COL1...'
|  |- 0 Identifier 'a.COL1'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL1'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.COL1'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'COL1'
|- 102 Whitespace ' '
|- 103 Keyword 'AND'
|- 104 Whitespace ' '
|- 105 Comparison 'a.COL2...'
|  |- 0 Identifier 'a.COL2'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL2'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.COL2'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'COL2'
|- 106 Whitespace ' '
|- 107 Keyword 'AND'
|- 108 Whitespace ' '
|- 109 Comparison 'a.COL3...'
|  |- 0 Identifier 'a.COL3...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL3_S...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.COL3...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'COL3_S...'
|- 110 Whitespace ' '
|- 111 Keyword 'AND'
|- 112 Whitespace ' '
|- 113 Comparison 'a.COL4...'
|  |- 0 Identifier 'a.COL4'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL4'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.'
|     |- 0 Name 'b'
|     `- 1 Punctuation '.'
|- 114 Error '特'
|- 115 Error '承'
|- 116 Error '生'
|- 117 Error '效'
|- 118 Error '日'
`- 119 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
{}
|- 0 Whitespace ' '
|- 1 Whitespace ' '
|- 2 DDL 'CREATE'
|- 3 Whitespace ' '
|- 4 Keyword 'TABLE'
|- 5 Whitespace ' '
|- 6 Whitespace ' '
|- 7 Identifier 'DIV_NO'
|  `- 0 Name 'DIV_NO'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 Keyword 'AS'
|- 11 Whitespace ' '
|- 12 DML 'SELECT'
|- 13 Whitespace ' '
|- 14 Keyword 'DISTIN...'
|- 15 Whitespace ' '
|- 16 Identifier 'a.POLI...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'POLICY...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Keyword 'AS'
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  `- 11 Error '保'
|- 17 Error '單'
|- 18 Error '號'
|- 19 Error '碼'
|- 20 Punctuation ','
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 Whitespace ' '
|- 29 Whitespace ' '
|- 30 Whitespace ' '
|- 31 Whitespace ' '
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
|- 39 Identifier 'a.ACT_...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'ACT_DI...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Keyword 'AS'
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  `- 10 Error '招'
|- 40 Error '攬'
|- 41 Error '單'
|- 42 Error '位'
|- 43 Whitespace ' '
|- 44 Punctuation ','
|- 45 Whitespace ' '
|- 46 Whitespace ' '
|- 47 Whitespace ' '
|- 48 Whitespace ' '
|- 49 Whitespace ' '
|- 50 Identifier 'a.AGNT...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'AGNT_I...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Keyword 'AS'
|  |- 7 Whitespace ' '
|  `- 8 Error '經'
|- 51 Error '手'
|- 52 Error '人'
|- 53 IdentifierList 'ID, ...'
|  |- 0 Identifier 'ID'
|  |  `- 0 Name 'ID'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  `- 7 Identifier 'a.ACT_...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     |- 2 Name 'ACT_WK...'
|     |- 3 Whitespace ' '
|     |- 4 Keyword 'AS'
|     |- 5 Whitespace ' '
|     `- 6 Error '舉'
|- 54 Error '績'
|- 55 Error '工'
|- 56 Error '作'
|- 57 Error '年'
|- 58 Error '月'
|- 59 Punctuation ','
|- 60 Whitespace ' '
|- 61 Whitespace ' '
|- 62 Whitespace ' '
|- 63 Whitespace ' '
|- 64 Whitespace ' '
|- 65 Identifier 'a.AGNT...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'AGNT_S...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '經'
|- 66 Error '手'
|- 67 Error '人'
|- 68 Error '順'
|- 69 Error '序'
|- 70 Punctuation ','
|- 71 Whitespace ' '
|- 72 Whitespace ' '
|- 73 Whitespace ' '
|- 74 Whitespace ' '
|- 75 Whitespace ' '
|- 76 Identifier 'a.SPLT...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'SPLT_R...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '拆'
|- 77 Error '分'
|- 78 Error '比'
|- 79 Error '例'
|- 80 Whitespace ' '
|- 81 Keyword 'FROM'
|- 82 Whitespace ' '
|- 83 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DTAP00...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'as'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 'a'
|     `- 0 Name 'a'
|- 84 Whitespace ' '
|- 85 Keyword 'INNER ...'
|- 86 Whitespace ' '
|- 87 Identifier 'POL_US...'
|  |- 0 Name 'POL_USE'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'as'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'b'
|     `- 0 Name 'b'
|- 88 Whitespace ' '
|- 89 Keyword 'on'
|- 90 Whitespace ' '
|- 91 Comparison 'a.POLI...'
|  |- 0 Identifier 'a.POLI...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'b.POLI...'
|     |- 0 Name 'b'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
`- 92 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
{}
|- 0 Whitespace ' '
|- 1 Whitespace ' '
|- 2 Whitespace ' '
|- 3 Whitespace ' '
|- 4 Whitespace ' '
|- 5 DDL 'CREATE'
|- 6 Whitespace ' '
|- 7 Keyword 'TABLE'
|- 8 Whitespace ' '
|- 9 Identifier 'SRD_M'
|  `- 0 Name 'SRD_M'
|- 10 Whitespace ' '
|- 11 Keyword 'AS'
|- 12 Whitespace ' '
|- 13 DML 'SELECT'
|- 14 Whitespace ' '
|- 15 Identifier 'b.COL_...'
|  |- 0 Name 'b'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL_4'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '保'
|- 16 Error '單'
|- 17 Error '號'
|- 18 Error '碼'
|- 19 Punctuation ','
|- 20 Whitespace ' '
|- 21 Whitespace ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Identifier 'MIN(b....'
|  |- 0 Name 'MIN'
|  `- 1 Identifier '(b.CAN...'
|     |- 0 Parenthesis '(b.CAN...'
|     |  |- 0 Punctuation '('
|     |  |- 1 Identifier 'b.CANC...'
|     |  |  |- 0 Name 'b'
|     |  |  |- 1 Punctuation '.'
|     |  |  `- 2 Name 'CANCEL...'
|     |  `- 2 Punctuation ')'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     `- 4 Identifier 'CANCEL...'
|        `- 0 Name 'CANCEL...'
|- 27 Whitespace ' '
|- 28 Comparison 'FORMAT...'
|  |- 0 Identifier 'FORMAT'
|  |  `- 0 Name 'FORMAT'
|  |- 1 Comparison '='
|  `- 2 Identifier 'YYMMDD...'
|     |- 0 Name 'YYMMDD...'
|     `- 1 Punctuation '.'
|- 29 Whitespace ' '
|- 30 Keyword 'FROM'
|- 31 Whitespace ' '
|- 32 Identifier '(SELEC...'
|  |- 0 Parenthesis '(SELEC...'
|  |  |- 0 Punctuation '('
|  |  |- 1 DML 'SELECT'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Keyword 'DISTIN...'
|  |  |- 4 Whitespace ' '
|  |  |- 5 IdentifierList 'a.COL_...'
|  |  |  |- 0 Identifier 'a.COL_4'
|  |  |  |  |- 0 Name 'a'
|  |  |  |  |- 1 Punctuation '.'
|  |  |  |  `- 2 Name 'COL_4'
|  |  |  |- 1 Punctuation ','
|  |  |  |- 2 Whitespace ' '
|  |  |  |- 3 Whitespace ' '
|  |  |  |- 4 Whitespace ' '
|  |  |  |- 5 Whitespace ' '
|  |  |  |- 6 Whitespace ' '
|  |  |  |- 7 Whitespace ' '
|  |  |  |- 8 Whitespace ' '
|  |  |  |- 9 Whitespace ' '
|  |  |  |- 10 Whitespace ' '
|  |  |  |- 11 Whitespace ' '
|  |  |  |- 12 Whitespace ' '
|  |  |  |- 13 Whitespace ' '
|  |  |  |- 14 Whitespace ' '
|  |  |  |- 15 Whitespace ' '
|  |  |  |- 16 Whitespace ' '
|  |  |  `- 17 Identifier 'CASE W...'
|  |  |     |- 0 Case 'CASE W...'
|  |  |     |  |- 0 Keyword 'CASE'
|  |  |     |  |- 1 Whitespace ' '
|  |  |     |  |- 2 Keyword 'WHEN'
|  |  |     |  |- 3 Whitespace ' '
|  |  |     |  |- 4 Identifier 'a.COL_6'
|  |  |     |  |  |- 0 Name 'a'
|  |  |     |  |  |- 1 Punctuation '.'
|  |  |     |  |  `- 2 Name 'COL_6'
|  |  |     |  |- 5 Whitespace ' '
|  |  |     |  |- 6 Comparison '<>'
|  |  |     |  |- 7 Whitespace ' '
|  |  |     |  |- 8 Punctuation '.'
|  |  |     |  |- 9 Whitespace ' '
|  |  |     |  |- 10 Keyword 'THEN'
|  |  |     |  |- 11 Whitespace ' '
|  |  |     |  |- 12 Identifier 'a.COL_6'
|  |  |     |  |  |- 0 Name 'a'
|  |  |     |  |  |- 1 Punctuation '.'
|  |  |     |  |  `- 2 Name 'COL_6'
|  |  |     |  |- 13 Whitespace ' '
|  |  |     |  |- 14 Whitespace ' '
|  |  |     |  |- 15 Whitespace ' '
|  |  |     |  |- 16 Whitespace ' '
|  |  |     |  |- 17 Whitespace ' '
|  |  |     |  |- 18 Whitespace ' '
|  |  |     |  |- 19 Whitespace ' '
|  |  |     |  |- 20 Whitespace ' '
|  |  |     |  |- 21 Whitespace ' '
|  |  |     |  |- 22 Whitespace ' '
|  |  |     |  |- 23 Whitespace ' '
|  |  |     |  |- 24 Whitespace ' '
|  |  |     |  |- 25 Whitespace ' '
|  |  |     |  |- 26 Whitespace ' '
|  |  |     |  |- 27 Whitespace ' '
|  |  |     |  |- 28 Whitespace ' '
|  |  |     |  |- 29 Whitespace ' '
|  |  |     |  |- 30 Keyword 'WHEN'
|  |  |     |  |- 31 Whitespace ' '
|  |  |     |  |- 32 Identifier 'a.COL_3'
|  |  |     |  |  |- 0 Name 'a'
|  |  |     |  |  |- 1 Punctuation '.'
|  |  |     |  |  `- 2 Name 'COL_3'
|  |  |     |  |- 33 Whitespace ' '
|  |  |     |  |- 34 Comparison '<>'
|  |  |     |  |- 35 Whitespace ' '
|  |  |     |  |- 36 Punctuation '.'
|  |  |     |  |- 37 Whitespace ' '
|  |  |     |  |- 38 Keyword 'THEN'
|  |  |     |  |- 39 Whitespace ' '
|  |  |     |  |- 40 Function 'datepa...'
|  |  |     |  |  |- 0 Identifier 'datepa...'
|  |  |     |  |  |  `- 0 Name 'datepa...'
|  |  |     |  |  `- 1 Parenthesis '(a.COL...'
|  |  |     |  |     |- 0 Punctuation '('
|  |  |     |  |     |- 1 Identifier 'a.COL_3'
|  |  |     |  |     |  |- 0 Name 'a'
|  |  |     |  |     |  |- 1 Punctuation '.'
|  |  |     |  |     |  `- 2 Name 'COL_3'
|  |  |     |  |     `- 2 Punctuation ')'
|  |  |     |  |- 41 Whitespace ' '
|  |  |     |  |- 42 Whitespace ' '
|  |  |     |  |- 43 Whitespace ' '
|  |  |     |  |- 44 Whitespace ' '
|  |  |     |  |- 45 Whitespace ' '
|  |  |     |  |- 46 Whitespace ' '
|  |  |     |  |- 47 Whitespace ' '
|  |  |     |  |- 48 Whitespace ' '
|  |  |     |  |- 49 Whitespace ' '
|  |  |     |  |- 50 Keyword 'ELSE'
|  |  |     |  |- 51 Whitespace ' '
|  |  |     |  |- 52 Identifier 'a.COL_...'
|  |  |     |  |  |- 0 Name 'a'
|  |  |     |  |  |- 1 Punctuation '.'
|  |  |     |  |  `- 2 Name 'COL_11'
|  |  |     |  |- 53 Whitespace ' '
|  |  |     |  |- 54 Whitespace ' '
|  |  |     |  |- 55 Whitespace ' '
|  |  |     |  |- 56 Whitespace ' '
|  |  |     |  |- 57 Whitespace ' '
|  |  |     |  |- 58 Whitespace ' '
|  |  |     |  |- 59 Whitespace ' '
|  |  |     |  |- 60 Whitespace ' '
|  |  |     |  |- 61 Whitespace ' '
|  |  |     |  |- 62 Whitespace ' '
|  |  |     |  `- 63 Keyword 'END'
|  |  |     |- 1 Whitespace ' '
|  |  |     |- 2 Keyword 'AS'
|  |  |     |- 3 Whitespace ' '
|  |  |     `- 4 Identifier 'CANCEL...'
|  |  |        `- 0 Name 'CANCEL...'
|  |  |- 6 Whitespace ' '
|  |  |- 7 Comparison 'FORMAT...'
|  |  |  |- 0 Identifier 'FORMAT'
|  |  |  |  `- 0 Name 'FORMAT'
|  |  |  |- 1 Comparison '='
|  |  |  `- 2 Identifier 'YYMMDD...'
|  |  |     |- 0 Name 'YYMMDD...'
|  |  |     `- 1 Punctuation '.'
|  |  |- 8 Whitespace ' '
|  |  |- 9 Whitespace ' '
|  |  |- 10 Whitespace ' '
|  |  |- 11 Whitespace ' '
|  |  |- 12 Whitespace ' '
|  |  |- 13 Whitespace ' '

|  |  |  |- 181 Whitespace ' '
|  |  |  |- 182 Keyword 'WHEN'
|  |  |  |- 183 Whitespace ' '
|  |  |  |- 184 Whitespace ' '
|  |  |  |- 185 Identifier 'PROD.'
|  |  |  |  |- 0 Name 'PROD'
|  |  |  |  `- 1 Punctuation '.'
|  |  |  |- 186 Error '同'
|  |  |  |- 187 Error '繳'
|  |  |  |- 188 Error '費'
|  |  |  |- 189 Error '期'
|  |  |  |- 190 Error '間'
|  |  |  |- 191 Comparison '='
|  |  |  |- 192 Single "'1'"
|  |  |  |- 193 Whitespace ' '
|  |  |  |- 194 Keyword 'AND'
|  |  |  |- 195 Whitespace ' '
|  |  |  |- 196 Whitespace ' '
|  |  |  |- 197 Identifier 'PROD.'
|  |  |  |  |- 0 Name 'PROD'
|  |  |  |  `- 1 Punctuation '.'
|  |  |  |- 198 Error '繳'
|  |  |  |- 199 Error '費'
|  |  |  |- 200 Error '年'
|  |  |  |- 201 Error '期'
|  |  |  |- 202 Comparison '_歲滿期 =...'
|  |  |  |  |- 0 Identifier '_歲滿期'
|  |  |  |  |  `- 0 Name '_歲滿期'
|  |  |  |  |- 1 Whitespace ' '
|  |  |  |  |- 2 Comparison '='
|  |  |  |  |- 3 Whitespace ' '
|  |  |  |  `- 4 Single "'1'"
|  |  |  |- 203 Whitespace ' '
|  |  |  |- 204 Whitespace ' '
|  |  |  |- 205 Whitespace ' '
|  |  |  |- 206 Whitespace ' '
|  |  |  |- 207 Whitespace ' '
|  |  |  |- 208 Keyword 'THEN'
|  |  |  |- 209 Whitespace ' '
|  |  |  |- 210 Function 'INTNX(...'
|  |  |  |  |- 0 Identifier 'INTNX'
|  |  |  |  |  `- 0 Name 'INTNX'
|  |  |  |  `- 1 Parenthesis '('YEAR...'
|  |  |  |     |- 0 Punctuation '('
|  |  |  |     |- 1 IdentifierList ''YEAR'...'
|  |  |  |     |  |- 0 Single "'YEAR'"
|  |  |  |     |  |- 1 Punctuation ','
|  |  |  |     |  |- 2 Whitespace ' '
|  |  |  |     |  |- 3 Identifier 'a.ISSU...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'ISSUE_...'
|  |  |  |     |  |- 4 Punctuation ','
|  |  |  |     |  |- 5 Whitespace ' '
|  |  |  |     |  |- 6 Operation 'a.POL_...'
|  |  |  |     |  |  |- 0 Identifier 'a.POL_...'
|  |  |  |     |  |  |  |- 0 Name 'a'
|  |  |  |     |  |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  |  `- 2 Name 'POL_PRD'
|  |  |  |     |  |  |- 1 Operator '-'
|  |  |  |     |  |  `- 2 Identifier 'a.AGE'
|  |  |  |     |  |     |- 0 Name 'a'
|  |  |  |     |  |     |- 1 Punctuation '.'
|  |  |  |     |  |     `- 2 Name 'AGE'
|  |  |  |     |  |- 7 Punctuation ','
|  |  |  |     |  `- 8 Single "' SAME'"
|  |  |  |     `- 2 Punctuation ')'
|  |  |  |- 211 Integer '-1'
|  |  |  |- 212 Whitespace ' '
|  |  |  |- 213 Whitespace ' '
|  |  |  |- 214 Whitespace ' '
|  |  |  |- 215 Whitespace ' '
|  |  |  |- 216 Whitespace ' '
|  |  |  |- 217 Whitespace ' '
|  |  |  |- 218 Whitespace ' '
|  |  |  |- 219 Whitespace ' '
|  |  |  |- 220 Whitespace ' '
|  |  |  |- 221 Whitespace ' '
|  |  |  |- 222 Whitespace ' '
|  |  |  |- 223 Whitespace ' '
|  |  |  |- 224 Whitespace ' '
|  |  |  |- 225 Whitespace ' '
|  |  |  |- 226 Whitespace ' '
|  |  |  |- 227 Whitespace ' '
|  |  |  |- 228 Whitespace ' '
|  |  |  |- 229 Whitespace ' '
|  |  |  |- 230 Keyword 'WHEN'
|  |  |  |- 231 Whitespace ' '
|  |  |  |- 232 Whitespace ' '
|  |  |  |- 233 Identifier 'PROD.'
|  |  |  |  |- 0 Name 'PROD'
|  |  |  |  `- 1 Punctuation '.'
|  |  |  |- 234 Error '同'
|  |  |  |- 235 Error '繳'
|  |  |  |- 236 Error '費'
|  |  |  |- 237 Error '期'
|  |  |  |- 238 Error '間'
|  |  |  |- 239 Comparison '='
|  |  |  |- 240 Single "'1'"
|  |  |  |- 241 Whitespace ' '
|  |  |  |- 242 Keyword 'AND'
|  |  |  |- 243 Whitespace ' '
|  |  |  |- 244 Identifier 'PROD.'
|  |  |  |  |- 0 Name 'PROD'
|  |  |  |  `- 1 Punctuation '.'
|  |  |  |- 245 Error '繳'
|  |  |  |- 246 Error '費'
|  |  |  |- 247 Error '年'
|  |  |  |- 248 Error '期'
|  |  |  |- 249 Comparison '_歲區間 =...'
|  |  |  |  |- 0 Identifier '_歲區間'
|  |  |  |  |  `- 0 Name '_歲區間'
|  |  |  |  |- 1 Whitespace ' '
|  |  |  |  |- 2 Comparison '='
|  |  |  |  |- 3 Whitespace ' '
|  |  |  |  `- 4 Single "'1'"
|  |  |  |- 250 Whitespace ' '
|  |  |  |- 251 Whitespace ' '
|  |  |  |- 252 Whitespace ' '
|  |  |  |- 253 Whitespace ' '
|  |  |  |- 254 Whitespace ' '
|  |  |  |- 255 Whitespace ' '
|  |  |  |- 256 Whitespace ' '
|  |  |  |- 257 Keyword 'THEN'
|  |  |  |- 258 Whitespace ' '
|  |  |  |- 259 Function 'INTNX(...'
|  |  |  |  |- 0 Identifier 'INTNX'
|  |  |  |  |  `- 0 Name 'INTNX'
|  |  |  |  `- 1 Parenthesis '('YEAR...'
|  |  |  |     |- 0 Punctuation '('
|  |  |  |     |- 1 IdentifierList ''YEAR'...'
|  |  |  |     |  |- 0 Single "'YEAR'"
|  |  |  |     |  |- 1 Punctuation ','
|  |  |  |     |  |- 2 Whitespace ' '
|  |  |  |     |  |- 3 Identifier 'a.ISSU...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'ISSUE_...'
|  |  |  |     |  |- 4 Punctuation ','
|  |  |  |     |  |- 5 Whitespace ' '
|  |  |  |     |  |- 6 Operation 'a.POL_...'
|  |  |  |     |  |  |- 0 Identifier 'a.POL_...'
|  |  |  |     |  |  |  |- 0 Name 'a'
|  |  |  |     |  |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  |  `- 2 Name 'POL_PRD'
|  |  |  |     |  |  |- 1 Operator '-'
|  |  |  |     |  |  `- 2 Identifier 'a.AGE'
|  |  |  |     |  |     |- 0 Name 'a'
|  |  |  |     |  |     |- 1 Punctuation '.'
|  |  |  |     |  |     `- 2 Name 'AGE'
|  |  |  |     |  |- 7 Punctuation ','
|  |  |  |     |  |- 8 Whitespace ' '
|  |  |  |     |  `- 9 Single "'SAME'"
|  |  |  |     `- 2 Punctuation ')'
|  |  |  |- 260 Integer '-1'
|  |  |  |- 261 Whitespace ' '
|  |  |  |- 262 Whitespace ' '
|  |  |  |- 263 Whitespace ' '
|  |  |  |- 264 Whitespace ' '
|  |  |  |- 265 Whitespace ' '
|  |  |  |- 266 Whitespace ' '
|  |  |  |- 267 Whitespace ' '
|  |  |  |- 268 Whitespace ' '
|  |  |  |- 269 Whitespace ' '
|  |  |  |- 270 Whitespace ' '
|  |  |  |- 271 Whitespace ' '
|  |  |  |- 272 Whitespace ' '
|  |  |  |- 273 Whitespace ' '
|  |  |  |- 274 Whitespace ' '
|  |  |  |- 275 Whitespace ' '
|  |  |  |- 276 Whitespace ' '
|  |  |  |- 277 Whitespace ' '
|  |  |  |- 278 Whitespace ' '
|  |  |  |- 279 Keyword 'WHEN'
|  |  |  |- 280 Whitespace ' '
|  |  |  |- 281 Whitespace ' '
|  |  |  |- 282 Identifier 'PROD.'
|  |  |  |  |- 0 Name 'PROD'
|  |  |  |  `- 1 Punctuation '.'
|  |  |  |- 283 Error '同'
|  |  |  |- 284 Error '繳'
|  |  |  |- 285 Error '費'
|  |  |  |- 286 Error '期'
|  |  |  |- 287 Error '間'
|  |  |  |- 288 Comparison '='
|  |  |  |- 289 Single "'1'"
|  |  |  |- 290 Whitespace ' '
|  |  |  |- 291 Keyword 'AND'
|  |  |  |- 292 Whitespace ' '
|  |  |  |- 293 Whitespace ' '
|  |  |  |- 294 Identifier 'PROD.'
|  |  |  |  |- 0 Name 'PROD'
|  |  |  |  `- 1 Punctuation '.'
|  |  |  |- 295 Error '是'
|  |  |  |- 296 Error '否'
|  |  |  |- 297 Error '有'
|  |  |  |- 298 Error '次'
|  |  |  |- 299 Error '被'
|  |  |  |- 300 Error '保'
|  |  |  |- 301 Error '人'
|  |  |  |- 302 Error '歲'
|  |  |  |- 303 Error '滿'
|  |  |  |- 304 Error '期'
|  |  |  |- 305 Whitespace ' '
|  |  |  |- 306 Comparison '='
|  |  |  |- 307 Whitespace ' '
|  |  |  |- 308 Single "'1'"
|  |  |  |- 309 Whitespace ' '
|  |  |  |- 310 Whitespace ' '
|  |  |  |- 311 Keyword 'THEN'
|  |  |  |- 312 Whitespace ' '
|  |  |  |- 313 Function 'INTNX(...'
|  |  |  |  |- 0 Identifier 'INTNX'
|  |  |  |  |  `- 0 Name 'INTNX'
|  |  |  |  `- 1 Parenthesis '('YEAR...'
|  |  |  |     |- 0 Punctuation '('
|  |  |  |     |- 1 IdentifierList ''YEAR'...'
|  |  |  |     |  |- 0 Single "'YEAR'"
|  |  |  |     |  |- 1 Punctuation ','
|  |  |  |     |  |- 2 Whitespace ' '
|  |  |  |     |  |- 3 Identifier 'a.ISSU...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'ISSUE_...'
|  |  |  |     |  |- 4 Punctuation ','
|  |  |  |     |  |- 5 Whitespace ' '
|  |  |  |     |  |- 6 Operation 'a.POL_...'
|  |  |  |     |  |  |- 0 Identifier 'a.POL_...'
|  |  |  |     |  |  |  |- 0 Name 'a'
|  |  |  |     |  |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  |  `- 2 Name 'POL_PRD'
|  |  |  |     |  |  |- 1 Operator '-'
|  |  |  |     |  |  `- 2 Identifier 'a.SEC_...'
|  |  |  |     |  |     |- 0 Name 'a'
|  |  |  |     |  |     |- 1 Punctuation '.'
|  |  |  |     |  |     `- 2 Name 'SEC_IS...'
|  |  |  |     |  |- 7 Punctuation ','
|  |  |  |     |  |- 8 Whitespace ' '
|  |  |  |     |  `- 9 Single "'SAME'"
|  |  |  |     `- 2 Punctuation ')'
|  |  |  |- 314 Integer '-1'
|  |  |  |- 315 Whitespace ' '
|  |  |  |- 316 Whitespace ' '
|  |  |  |- 317 Whitespace ' '
|  |  |  |- 318 Whitespace ' '
|  |  |  |- 319 Whitespace ' '
|  |  |  |- 320 Whitespace ' '
|  |  |  |- 321 Whitespace ' '
|  |  |  |- 322 Whitespace ' '
|  |  |  |- 323 Whitespace ' '
|  |  |  |- 324 Whitespace ' '
|  |  |  |- 325 Whitespace ' '
|  |  |  |- 326 Whitespace ' '
|  |  |  |- 327 Whitespace ' '
|  |  |  |- 328 Whitespace ' '
|  |  |  |- 329 Whitespace ' '
|  |  |  |- 330 Whitespace ' '
|  |  |  |- 331 Whitespace ' '
|  |  |  |- 332 Whitespace ' '
|  |  |  |- 333 Keyword 'ELSE'
|  |  |  |- 334 Whitespace ' '
|  |  |  |- 335 Function 'INTNX(...'
|  |  |  |  |- 0 Identifier 'INTNX'
|  |  |  |  |  `- 0 Name 'INTNX'
|  |  |  |  `- 1 Parenthesis '('YEAR...'
|  |  |  |     |- 0 Punctuation '('
|  |  |  |     |- 1 IdentifierList ''YEAR'...'
|  |  |  |     |  |- 0 Single "'YEAR'"
|  |  |  |     |  |- 1 Punctuation ','
|  |  |  |     |  |- 2 Identifier 'a.ISSU...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'ISSUE_...'
|  |  |  |     |  |- 3 Punctuation ','
|  |  |  |     |  |- 4 Whitespace ' '
|  |  |  |     |  |- 5 Identifier 'a.POL_...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'POL_PRD'
|  |  |  |     |  |- 6 Punctuation ','
|  |  |  |     |  |- 7 Whitespace ' '
|  |  |  |     |  `- 8 Single "'SAME'"
|  |  |  |     `- 2 Punctuation ')'
|  |  |  |- 336 Integer '-1'
|  |  |  |- 337 Whitespace ' '
|  |  |  |- 338 Whitespace ' '
|  |  |  |- 339 Whitespace ' '
|  |  |  |- 340 Whitespace ' '
|  |  |  |- 341 Whitespace ' '
|  |  |  |- 342 Whitespace ' '
|  |  |  |- 343 Whitespace ' '
|  |  |  |- 344 Whitespace ' '
|  |  |  |- 345 Whitespace ' '
|  |  |  |- 346 Whitespace ' '
|  |  |  |- 347 Whitespace ' '
|  |  |  |- 348 Whitespace ' '
|  |  |  |- 349 Whitespace ' '
|  |  |  |- 350 Whitespace ' '
|  |  |  |- 351 Whitespace ' '
|  |  |  |- 352 Whitespace ' '
|  |  |  |- 353 Whitespace ' '
|  |  |  |- 354 Whitespace ' '
|  |  |  `- 355 Keyword 'END'
|  |  |- 2 Whitespace ' '
|  |  |- 3 Whitespace ' '
|  |  `- 4 Punctuation ')'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Error '保'
|- 227 Error '險'
|- 228 Error '終'
|- 229 Error '期'
|- 230 Whitespace ' '
|- 231 IdentifierList 'FORMAT...'
|  |- 0 Comparison 'FORMAT...'
|  |  |- 0 Identifier 'FORMAT'
|  |  |  `- 0 Name 'FORMAT'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'YYMMDD...'
|  |     |- 0 Name 'YYMMDD...'
|  |     `- 1 Punctuation '.'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'a.FACE...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     |- 2 Name 'FACE_A...'
|     |- 3 Whitespace ' '
|     |- 4 Keyword 'AS'
|     |- 5 Whitespace ' '
|     `- 6 Error '保'
|- 232 Error '額'
|- 233 Punctuation ','
|- 234 Whitespace ' '
|- 235 Whitespace ' '
|- 236 Whitespace ' '
|- 237 Whitespace ' '
|- 238 Whitespace ' '
|- 239 Identifier 'a.FACE...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'FACE_A...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '保'
|- 240 Error '額'
|- 241 Error '單'
|- 242 Error '位'
|- 243 Punctuation ','
|- 244 Whitespace ' '
|- 245 Whitespace ' '
|- 246 Whitespace ' '
|- 247 Whitespace ' '
|- 248 Whitespace ' '
|- 249 Whitespace ' '
|- 250 Whitespace ' '
|- 251 Whitespace ' '
|- 252 Whitespace ' '
|- 253 Whitespace ' '
|- 254 Whitespace ' '
|- 255 Whitespace ' '
|- 256 Whitespace ' '
|- 257 Whitespace ' '
|- 258 Whitespace ' '
|- 259 Whitespace ' '
|- 260 Whitespace ' '
|- 261 IdentifierList 'MONTH(...'
|  |- 0 Identifier 'MONTH(...'
|  |  |- 0 Name 'MONTH'
|  |  `- 1 Identifier '(a.ISS...'
|  |     |- 0 Parenthesis '(a.ISS...'
|  |     |  |- 0 Punctuation '('
|  |     |  |- 1 Identifier 'a.ISSU...'
|  |     |  |  |- 0 Name 'a'
|  |     |  |  |- 1 Punctuation '.'
|  |     |  |  `- 2 Name 'ISSUE_...'
|  |     |  `- 2 Punctuation ')'
|  |     |- 1 Whitespace ' '
|  |     |- 2 Whitespace ' '
|  |     |- 3 Keyword 'AS'
|  |     |- 4 Whitespace ' '
|  |     |- 5 Whitespace ' '
|  |     `- 6 Identifier 'AS_MON...'
|  |        `- 0 Name 'AS_MON...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Whitespace ' '
|  |- 12 Whitespace ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  |- 27 Whitespace ' '
|  |- 28 Whitespace ' '
|  |- 29 Whitespace ' '
|  |- 30 Whitespace ' '
|  |- 31 Whitespace ' '
|  |- 32 Whitespace ' '
|  |- 33 Whitespace ' '
|  |- 34 Whitespace ' '
|  `- 35 Identifier 'a.PAY_...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     |- 2 Name 'PAY_FR...'
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Whitespace ' '
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Keyword 'AS'
|     |- 11 Whitespace ' '
|     |- 12 Whitespace ' '
|     |- 13 Whitespace ' '
|     `- 14 Error '繳'
|- 262 Error '別'
|- 263 Punctuation ','
|- 264 Whitespace ' '
|- 265 Whitespace ' '
|- 266 Whitespace ' '
|- 267 Whitespace ' '
|- 268 Whitespace ' '
|- 269 Whitespace ' '
|- 270 Whitespace ' '
|- 271 Whitespace ' '
|- 272 Whitespace ' '
|- 273 Whitespace ' '
|- 274 Whitespace ' '
|- 275 Whitespace ' '
|- 276 Whitespace ' '
|- 277 Whitespace ' '
|- 278 Whitespace ' '
|- 279 Whitespace ' '
|- 280 Whitespace ' '
|- 281 Identifier 'a.MNXT...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'MNXT_P...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  `- 6 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  |- 2 Whitespace ' '
|     |  `- 3 Identifier 'yymmdd...'
|     |     |- 0 Name 'yymmdd...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Keyword 'AS'
|     |- 7 Whitespace ' '
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     `- 10 Error '下'
|- 282 Error '次'
|- 283 Error '應'
|- 284 Error '繳'
|- 285 Error '日'
|- 286 Punctuation ','
|- 287 Whitespace ' '
|- 288 Whitespace ' '
|- 289 Whitespace ' '
|- 290 Whitespace ' '
|- 291 Whitespace ' '
|- 292 Identifier '(CASE ...'
|  |- 0 Parenthesis '(CASE ...'
|  |  |- 0 Punctuation '('
|  |  |- 1 Case 'CASE W...'
|  |  |  |- 0 Keyword 'CASE'
|  |  |  |- 1 Whitespace ' '
|  |  |  |- 2 Keyword 'WHEN'
|  |  |  |- 3 Whitespace ' '
|  |  |  |- 4 Comparison 'a.MNXT...'
|  |  |  |  |- 0 Identifier 'a.MNXT...'
|  |  |  |  |  |- 0 Name 'a'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'MNXT_P...'
|  |  |  |  |- 1 Comparison '='
|  |  |  |  `- 2 Function 'MDY(1,...'
|  |  |  |     |- 0 Identifier 'MDY'
|  |  |  |     |  `- 0 Name 'MDY'
|  |  |  |     `- 1 Parenthesis '(1,1,1...'
|  |  |  |        |- 0 Punctuation '('
|  |  |  |        |- 1 IdentifierList '1,1,19...'
|  |  |  |        |  |- 0 Integer '1'
|  |  |  |        |  |- 1 Punctuation ','
|  |  |  |        |  |- 2 Integer '1'
|  |  |  |        |  |- 3 Punctuation ','
|  |  |  |        |  `- 4 Integer '1911'
|  |  |  |        `- 2 Punctuation ')'
|  |  |  |- 5 Whitespace ' '
|  |  |  |- 6 Whitespace ' '
|  |  |  |- 7 Whitespace ' '
|  |  |  |- 8 Keyword 'AND'
|  |  |  |- 9 Whitespace ' '
|  |  |  |- 10 Whitespace ' '
|  |  |  |- 11 Comparison 'a.PAY_...'
|  |  |  |  |- 0 Identifier 'a.PAY_...'
|  |  |  |  |  |- 0 Name 'a'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'PAY_FR...'
|  |  |  |  |- 1 Comparison '='
|  |  |  |  `- 2 Integer '1'
|  |  |  |- 12 Whitespace ' '
|  |  |  |- 13 Whitespace ' '
|  |  |  |- 14 Whitespace ' '
|  |  |  |- 15 Keyword 'THEN'
|  |  |  |- 16 Whitespace ' '
|  |  |  |- 17 Function 'INTNX(...'
|  |  |  |  |- 0 Identifier 'INTNX'
|  |  |  |  |  `- 0 Name 'INTNX'
|  |  |  |  `- 1 Parenthesis '('MONT...'
|  |  |  |     |- 0 Punctuation '('
|  |  |  |     |- 1 IdentifierList ''MONTH...'
|  |  |  |     |  |- 0 Single "'MONTH'"
|  |  |  |     |  |- 1 Punctuation ','
|  |  |  |     |  |- 2 Whitespace ' '
|  |  |  |     |  |- 3 Identifier 'a.ISSU...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'ISSUE_...'
|  |  |  |     |  |- 4 Punctuation ','
|  |  |  |     |  |- 5 Whitespace ' '
|  |  |  |     |  |- 6 Identifier 'a.PAY_...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'PAY_TI...'
|  |  |  |     |  |- 7 Punctuation ','
|  |  |  |     |  `- 8 Single "'SAME'"
|  |  |  |     `- 2 Punctuation ')'
|  |  |  |- 18 Whitespace ' '
|  |  |  |- 19 Whitespace ' '
|  |  |  |- 20 Whitespace ' '
|  |  |  |- 21 Whitespace ' '
|  |  |  |- 22 Whitespace ' '
|  |  |  |- 23 Whitespace ' '
|  |  |  |- 24 Whitespace ' '
|  |  |  |- 25 Whitespace ' '
|  |  |  |- 26 Whitespace ' '
|  |  |  |- 27 Whitespace ' '
|  |  |  |- 28 Whitespace ' '
|  |  |  |- 29 Whitespace ' '
|  |  |  |- 30 Whitespace ' '
|  |  |  |- 31 Whitespace ' '
|  |  |  |- 32 Whitespace ' '
|  |  |  |- 33 Whitespace ' '
|  |  |  |- 34 Whitespace ' '
|  |  |  |- 35 Whitespace ' '
|  |  |  |- 36 Whitespace ' '
|  |  |  |- 37 Whitespace ' '
|  |  |  |- 38 Whitespace ' '
|  |  |  |- 39 Whitespace ' '
|  |  |  |- 40 Whitespace ' '
|  |  |  |- 41 Keyword 'WHEN'
|  |  |  |- 42 Whitespace ' '
|  |  |  |- 43 Comparison 'a.MNXT...'
|  |  |  |  |- 0 Identifier 'a.MNXT...'
|  |  |  |  |  |- 0 Name 'a'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'MNXT_P...'
|  |  |  |  |- 1 Comparison '='
|  |  |  |  `- 2 Function 'MDY(1,...'
|  |  |  |     |- 0 Identifier 'MDY'
|  |  |  |     |  `- 0 Name 'MDY'
|  |  |  |     `- 1 Parenthesis '(1,1,1...'
|  |  |  |        |- 0 Punctuation '('
|  |  |  |        |- 1 IdentifierList '1,1,19...'
|  |  |  |        |  |- 0 Integer '1'
|  |  |  |        |  |- 1 Punctuation ','
|  |  |  |        |  |- 2 Integer '1'
|  |  |  |        |  |- 3 Punctuation ','
|  |  |  |        |  `- 4 Integer '1911'
|  |  |  |        `- 2 Punctuation ')'
|  |  |  |- 44 Whitespace ' '
|  |  |  |- 45 Whitespace ' '
|  |  |  |- 46 Whitespace ' '
|  |  |  |- 47 Keyword 'AND'
|  |  |  |- 48 Whitespace ' '
|  |  |  |- 49 Whitespace ' '
|  |  |  |- 50 Comparison 'a.PAY_...'
|  |  |  |  |- 0 Identifier 'a.PAY_...'
|  |  |  |  |  |- 0 Name 'a'
|  |  |  |  |  |- 1 Punctuation '.'
|  |  |  |  |  `- 2 Name 'PAY_FR...'
|  |  |  |  |- 1 Comparison '='
|  |  |  |  `- 2 Integer '2'
|  |  |  |- 51 Whitespace ' '
|  |  |  |- 52 Whitespace ' '
|  |  |  |- 53 Whitespace ' '
|  |  |  |- 54 Keyword 'THEN'
|  |  |  |- 55 Whitespace ' '
|  |  |  |- 56 Function 'INTNX(...'
|  |  |  |  |- 0 Identifier 'INTNX'
|  |  |  |  |  `- 0 Name 'INTNX'
|  |  |  |  `- 1 Parenthesis '('MONT...'
|  |  |  |     |- 0 Punctuation '('
|  |  |  |     |- 1 IdentifierList ''MONTH...'
|  |  |  |     |  |- 0 Single "'MONTH'"
|  |  |  |     |  |- 1 Punctuation ','
|  |  |  |     |  |- 2 Whitespace ' '
|  |  |  |     |  |- 3 Identifier 'a.ISSU...'
|  |  |  |     |  |  |- 0 Name 'a'
|  |  |  |     |  |  |- 1 Punctuation '.'
|  |  |  |     |  |  `- 2 Name 'ISSUE_...'
|  |  |  |     |  |- 4 Punctuation ','
|  |  |  |     |  |- 5 Whitespace ' '

|- 443 Whitespace ' '
|- 444 Identifier 'a.APC_...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'APC_ID...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Whitespace ' '
|  |- 12 Whitespace ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Keyword 'AS'
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  `- 27 Error '要'
|- 445 Error '保'
|- 446 Error '人'
|- 447 IdentifierList 'ID, ...'
|  |- 0 Identifier 'ID'
|  |  `- 0 Name 'ID'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'a.SALE...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     |- 2 Name 'SALE_C...'
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Whitespace ' '
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Whitespace ' '
|     |- 11 Keyword 'AS'
|     |- 12 Whitespace ' '
|     |- 13 Whitespace ' '
|     |- 14 Whitespace ' '
|     `- 15 Error '銷'
|- 448 Error '售'
|- 449 Error '通'
|- 450 Error '路'
|- 451 Punctuation ','
|- 452 Whitespace ' '
|- 453 Whitespace ' '
|- 454 Whitespace ' '
|- 455 Whitespace ' '
|- 456 Whitespace ' '
|- 457 Whitespace ' '
|- 458 Identifier 'a.ZIP_...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'ZIP_CO...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Whitespace ' '
|  |- 12 Whitespace ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Whitespace ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Keyword 'AS'
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  `- 23 Error '郵'
|- 459 Error '遞'
|- 460 Error '區'
|- 461 Error '號'
|- 462 Punctuation ','
|- 463 Whitespace ' '
|- 464 Whitespace ' '
|- 465 Whitespace ' '
|- 466 Whitespace ' '
|- 467 Whitespace ' '
|- 468 Whitespace ' '
|- 469 Identifier 'a.JOB_...'
|  |- 0 Name 'a'
|  |- 1 Punctuation '.'
|  |- 2 Name 'JOB_ID'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '職'
|- 470 Error '業'
|- 471 Error '類'
|- 472 Error '別'
|- 473 Punctuation ','
|- 474 Whitespace ' '
|- 475 Whitespace ' '
|- 476 Whitespace ' '
|- 477 Whitespace ' '
|- 478 Whitespace ' '
|- 479 Whitespace ' '
|- 480 Identifier 'd.COL5...'
|  |- 0 Name 'd'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL5'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  |- 2 Whitespace ' '
|     |  `- 3 Identifier 'yymmdd...'
|     |     |- 0 Name 'yymmdd...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Keyword 'AS'
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Whitespace ' '
|     `- 11 Error '展'
|- 481 Error '期'
|- 482 Error '始'
|- 483 Error '期'
|- 484 Punctuation ','
|- 485 Whitespace ' '
|- 486 Whitespace ' '
|- 487 Whitespace ' '
|- 488 Whitespace ' '
|- 489 Whitespace ' '
|- 490 Whitespace ' '
|- 491 Whitespace ' '
|- 492 Whitespace ' '
|- 493 Whitespace ' '
|- 494 Whitespace ' '
|- 495 Whitespace ' '
|- 496 Whitespace ' '
|- 497 Whitespace ' '
|- 498 Whitespace ' '
|- 499 Whitespace ' '
|- 500 Whitespace ' '
|- 501 Whitespace ' '
|- 502 Whitespace ' '
|- 503 Identifier 'd.COL8...'
|  |- 0 Name 'd'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL8'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  |- 2 Whitespace ' '
|     |  `- 3 Identifier 'yymmdd...'
|     |     |- 0 Name 'yymmdd...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Keyword 'AS'
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Whitespace ' '
|     `- 11 Error '展'
|- 504 Error '期'
|- 505 Error '終'
|- 506 Error '期'
|- 507 Punctuation ','
|- 508 Whitespace ' '
|- 509 Whitespace ' '
|- 510 Whitespace ' '
|- 511 Whitespace ' '
|- 512 Whitespace ' '
|- 513 Whitespace ' '
|- 514 Whitespace ' '
|- 515 Whitespace ' '
|- 516 Whitespace ' '
|- 517 Whitespace ' '
|- 518 Whitespace ' '
|- 519 Whitespace ' '
|- 520 Whitespace ' '
|- 521 Whitespace ' '
|- 522 Whitespace ' '
|- 523 Whitespace ' '
|- 524 Whitespace ' '
|- 525 Whitespace ' '
|- 526 Identifier 'e.COL5...'
|  |- 0 Name 'e'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL5'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'FORMAT...'
|     |- 0 Comparison 'FORMAT...'
|     |  |- 0 Identifier 'FORMAT'
|     |  |  `- 0 Name 'FORMAT'
|     |  |- 1 Comparison '='
|     |  |- 2 Whitespace ' '
|     |  `- 3 Identifier 'yymmdd...'
|     |     |- 0 Name 'yymmdd...'
|     |     `- 1 Punctuation '.'
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Keyword 'AS'
|     |- 8 Whitespace ' '
|     |- 9 Whitespace ' '
|     |- 10 Whitespace ' '
|     `- 11 Error '繳'
|- 527 Error '清'
|- 528 Error '始'
|- 529 Error '期'
|- 530 Punctuation ','
|- 531 Whitespace ' '
|- 532 Whitespace ' '
|- 533 Whitespace ' '
|- 534 Whitespace ' '
|- 535 Whitespace ' '
|- 536 Whitespace ' '
|- 537 Identifier 'e.COL8...'
|  |- 0 Name 'e'
|  |- 1 Punctuation '.'
|  |- 2 Name 'COL8'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Whitespace ' '
|  |- 12 Whitespace ' '
|  |- 13 Keyword 'AS'
|  |- 14 Whitespace ' '
|  `- 15 Error '繳'
|- 538 Error '清'
|- 539 Error '保'
|- 540 Error '額'
|- 541 Punctuation ','
|- 542 Whitespace ' '
|- 543 Whitespace ' '
|- 544 Whitespace ' '
|- 545 Whitespace ' '
|- 546 Whitespace ' '
|- 547 Whitespace ' '
|- 548 Whitespace ' '
|- 549 Whitespace ' '
|- 550 Whitespace ' '
|- 551 Whitespace ' '
|- 552 Whitespace ' '
|- 553 Whitespace ' '
|- 554 Whitespace ' '
|- 555 Whitespace ' '
|- 556 Whitespace ' '
|- 557 Whitespace ' '
|- 558 Whitespace ' '
|- 559 Whitespace ' '
|- 560 Whitespace ' '
|- 561 Identifier 'g.CANC...'
|  |- 0 Name 'g'
|  |- 1 Punctuation '.'
|  |- 2 Name 'CANCEL...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Error '解'
|- 562 Error '約'
|- 563 Error '日'
|- 564 Error '期'
|- 565 Punctuation ','
|- 566 Whitespace ' '
|- 567 Whitespace ' '
|- 568 Whitespace ' '
|- 569 Whitespace ' '
|- 570 Whitespace ' '
|- 571 Whitespace ' '
|- 572 Whitespace ' '
|- 573 Whitespace ' '
|- 574 Whitespace ' '
|- 575 Whitespace ' '
|- 576 Whitespace ' '
|- 577 Whitespace ' '
|- 578 Whitespace ' '
|- 579 Whitespace ' '
|- 580 Whitespace ' '
|- 581 Whitespace ' '
|- 582 Whitespace ' '
|- 583 Whitespace ' '
|- 584 Identifier 'D01.'
|  |- 0 Name 'D01'
|  `- 1 Punctuation '.'
|- 585 Error '身'
|- 586 Error '故'
|- 587 Error '日'
|- 588 Punctuation ','
|- 589 Whitespace ' '
|- 590 Whitespace ' '
|- 591 Whitespace ' '
|- 592 Whitespace ' '
|- 593 Whitespace ' '
|- 594 Whitespace ' '
|- 595 Identifier 'D01.'
|  |- 0 Name 'D01'
|  `- 1 Punctuation '.'
|- 596 Error '全'
|- 597 Error '殘'
|- 598 Error '日'
|- 599 Punctuation ','
|- 600 Whitespace ' '
|- 601 Whitespace ' '
|- 602 Whitespace ' '
|- 603 Whitespace ' '
|- 604 Whitespace ' '
|- 605 Whitespace ' '
|- 606 Identifier 'DDD01.'
|  |- 0 Name 'DDD01'
|  `- 1 Punctuation '.'
|- 607 Error '最'
|- 608 Error '後'
|- 609 Error '重'
|- 610 Error '疾'
|- 611 Error '鑑'
|- 612 Error '定'
|- 613 Error '日'
|- 614 Punctuation ','
|- 615 Whitespace ' '
|- 616 Whitespace ' '
|- 617 Whitespace ' '
|- 618 Whitespace ' '
|- 619 Whitespace ' '
|- 620 Whitespace ' '
|- 621 Identifier 'FINAL_...'
|  |- 0 Name 'FINAL_...'
|  `- 1 Punctuation '.'
|- 622 Error '最'
|- 623 Error '後'
|- 624 Error '給'
|- 625 Error '付'
|- 626 Identifier '日 AS 醫'
|  |- 0 Error '日'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Error '醫'
|- 627 Error '療'
|- 628 Error '最'
|- 629 Error '後'
|- 630 Error '給'
|- 631 Error '付'
|- 632 Error '日'
|- 633 Punctuation ','
|- 634 Whitespace ' '
|- 635 Whitespace ' '
|- 636 Whitespace ' '
|- 637 Whitespace ' '
|- 638 Whitespace ' '
|- 639 Whitespace ' '
|- 640 Identifier 'YEAR(D...'
|  |- 0 Name 'YEAR'
|  `- 1 Identifier '(DDATE...'
|     |- 0 Parenthesis '(DDATE...'
|     |  |- 0 Punctuation '('
|     |  |- 1 Identifier 'DDATE....'
|     |  |  |- 0 Name 'DDATE'
|     |  |  |- 1 Punctuation '.'
|     |  |  `- 2 Name 'DATE_B...'
|     |  `- 2 Punctuation ')'
|     |- 1 Whitespace ' '
|     |- 2 Whitespace ' '
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Keyword 'AS'
|     |- 7 Whitespace ' '
|     `- 8 Error '觀'
|- 641 Error '察'
|- 642 Error '年'
|- 643 Error '度'
|- 644 Punctuation ','
|- 645 Whitespace ' '
|- 646 Whitespace ' '
|- 647 Whitespace ' '
|- 648 Whitespace ' '
|- 649 Whitespace ' '
|- 650 Whitespace ' '
|- 651 Identifier 'DDATE....'
|  |- 0 Name 'DDATE'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DATE_B...'
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Keyword 'AS'
|  |- 8 Whitespace ' '
|  `- 9 Error '觀'
|- 652 Error '察'
|- 653 Error '年'
|- 654 Error '度'
|- 655 Error '起'
|- 656 Error '日'
|- 657 Whitespace ' '
|- 658 IdentifierList 'FORMAT...'
|  |- 0 Comparison 'FORMAT...'
|  |  |- 0 Identifier 'FORMAT'
|  |  |  `- 0 Name 'FORMAT'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'YYMMDD...'
|  |     |- 0 Name 'YYMMDD...'
|  |     `- 1 Punctuation '.'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'DDATE....'
|     |- 0 Name 'DDATE'
|     |- 1 Punctuation '.'
|     |- 2 Name 'DATE_E...'
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     |- 5 Whitespace ' '
|     |- 6 Whitespace ' '
|     |- 7 Whitespace ' '
|     |- 8 Keyword 'AS'
|     |- 9 Whitespace ' '
|     `- 10 Error '觀'
|- 659 Error '察'
|- 660 Error '年'
|- 661 Error '度'
|- 662 Error '末'
|- 663 Error '日'
|- 664 Whitespace ' '
|- 665 IdentifierList 'FORMAT...'
|  |- 0 Comparison 'FORMAT...'
|  |  |- 0 Identifier 'FORMAT'
|  |  |  `- 0 Name 'FORMAT'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'YYMMDD...'
|  |     |- 0 Name 'YYMMDD...'
|  |     `- 1 Punctuation '.'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Whitespace ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  `- 8 Identifier 'DDATE....'
|     |- 0 Operation 'DDATE....'
|     |  |- 0 Operation 'DDATE....'
|     |  |  |- 0 Identifier 'DDATE....'
|     |  |  |  |- 0 Name 'DDATE'
|     |  |  |  |- 1 Punctuation '.'
|     |  |  |  `- 2 Name 'DATE_E...'
|     |  |  |- 1 Operator '-'
|     |  |  `- 2 Identifier 'DDATE....'
|     |  |     |- 0 Name 'DDATE'
|     |  |     |- 1 Punctuation '.'
|     |  |     `- 2 Name 'DATE_B...'
|     |  |- 1 Operator '+'
|     |  `- 2 Integer '1'
|     |- 1 Whitespace ' '
|     |- 2 Keyword 'AS'
|     |- 3 Whitespace ' '
|     |- 4 Whitespace ' '
|     `- 5 Error '觀'
|- 666 Error '察'
|- 667 Error '年'
|- 668 Error '度'
|- 669 Error '天'
|- 670 Error '數'
|- 671 Whitespace ' '
|- 672 Keyword 'FROM'
|- 673 Whitespace ' '
|- 674 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DTAB00...'
|  |- 3 Whitespace ' '
|  |- 4 Keyword 'AS'
|  |- 5 Whitespace ' '
|  `- 6 Identifier 'a'
|     `- 0 Name 'a'
|- 675 Whitespace ' '
|- 676 Whitespace ' '
|- 677 Whitespace ' '
|- 678 Whitespace ' '
|- 679 Whitespace ' '
|- 680 Keyword 'INNER ...'
|- 681 Whitespace ' '
|- 682 Identifier 'POL_USE'
|  `- 0 Name 'POL_USE'
|- 683 Whitespace ' '
|- 684 Keyword 'on'
|- 685 Whitespace ' '
|- 686 Comparison 'POL_US...'
|  |- 0 Identifier 'POL_US...'
|  |  |- 0 Name 'POL_USE'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.POLI...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 687 Whitespace ' '
|- 688 Whitespace ' '
|- 689 Whitespace ' '
|- 690 Whitespace ' '
|- 691 Whitespace ' '
|- 692 Keyword 'INNER ...'
|- 693 Whitespace ' '
|- 694 Identifier 'PROD_U...'
|  |- 0 Name 'PROD_U...'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'PROD'
|     `- 0 Name 'PROD'
|- 695 Whitespace ' '
|- 696 Keyword 'on'
|- 697 Whitespace ' '
|- 698 Comparison 'PROD.P...'
|  |- 0 Identifier 'PROD.P...'
|  |  |- 0 Name 'PROD'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.PROD...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PROD_ID'
|- 699 Whitespace ' '
|- 700 Whitespace ' '
|- 701 Whitespace ' '
|- 702 Whitespace ' '
|- 703 Whitespace ' '
|- 704 Keyword 'LEFT J...'
|- 705 Whitespace ' '
|- 706 Identifier 'ETI_M ...'
|  |- 0 Name 'ETI_M'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'd'
|     `- 0 Name 'd'
|- 707 Whitespace ' '
|- 708 Keyword 'on'
|- 709 Whitespace ' '
|- 710 Comparison 'd.COL3...'
|  |- 0 Identifier 'd.COL3'
|  |  |- 0 Name 'd'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL3'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.POLI...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 711 Whitespace ' '
|- 712 Whitespace ' '
|- 713 Whitespace ' '
|- 714 Whitespace ' '
|- 715 Whitespace ' '
|- 716 Whitespace ' '
|- 717 Whitespace ' '
|- 718 Whitespace ' '
|- 719 Whitespace ' '
|- 720 Whitespace ' '
|- 721 Whitespace ' '
|- 722 Whitespace ' '
|- 723 Whitespace ' '
|- 724 Whitespace ' '
|- 725 Whitespace ' '
|- 726 Whitespace ' '
|- 727 Whitespace ' '
|- 728 Whitespace ' '
|- 729 Whitespace ' '
|- 730 Keyword 'LEFT J...'
|- 731 Whitespace ' '
|- 732 Identifier 'RPU_M ...'
|  |- 0 Name 'RPU_M'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'e'
|     `- 0 Name 'e'
|- 733 Whitespace ' '
|- 734 Keyword 'on'
|- 735 Whitespace ' '
|- 736 Comparison 'e.COL3...'
|  |- 0 Identifier 'e.COL3'
|  |  |- 0 Name 'e'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'COL3'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.POLI...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 737 Whitespace ' '
|- 738 Whitespace ' '
|- 739 Whitespace ' '
|- 740 Whitespace ' '
|- 741 Whitespace ' '
|- 742 Whitespace ' '
|- 743 Whitespace ' '
|- 744 Whitespace ' '
|- 745 Whitespace ' '
|- 746 Whitespace ' '
|- 747 Whitespace ' '
|- 748 Whitespace ' '
|- 749 Whitespace ' '
|- 750 Whitespace ' '
|- 751 Whitespace ' '
|- 752 Keyword 'LEFT J...'
|- 753 Whitespace ' '
|- 754 Identifier 'SRD_M ...'
|  |- 0 Name 'SRD_M'
|  |- 1 Whitespace ' '
|  |- 2 Keyword 'AS'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 'g'
|     `- 0 Name 'g'
|- 755 Whitespace ' '
|- 756 Keyword 'on'
|- 757 Whitespace ' '
|- 758 Comparison 'a.POLI...'
|  |- 0 Identifier 'a.POLI...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'g.'
|     |- 0 Name 'g'
|     `- 1 Punctuation '.'
|- 759 Error '保'
|- 760 Error '單'
|- 761 Error '號'
|- 762 Error '碼'
|- 763 Whitespace ' '
|- 764 Whitespace ' '
|- 765 Whitespace ' '
|- 766 Whitespace ' '
|- 767 Whitespace ' '
|- 768 Whitespace ' '
|- 769 Whitespace ' '
|- 770 Whitespace ' '
|- 771 Whitespace ' '
|- 772 Whitespace ' '
|- 773 Whitespace ' '
|- 774 Whitespace ' '
|- 775 Whitespace ' '
|- 776 Whitespace ' '
|- 777 Whitespace ' '
|- 778 Whitespace ' '
|- 779 Whitespace ' '
|- 780 Whitespace ' '
|- 781 Whitespace ' '
|- 782 Whitespace ' '
|- 783 Whitespace ' '
|- 784 Whitespace ' '
|- 785 Whitespace ' '
|- 786 Whitespace ' '
|- 787 Whitespace ' '
|- 788 Whitespace ' '
|- 789 Whitespace ' '
|- 790 Whitespace ' '
|- 791 Whitespace ' '
|- 792 Whitespace ' '
|- 793 Whitespace ' '
|- 794 Whitespace ' '
|- 795 Whitespace ' '
|- 796 Whitespace ' '
|- 797 Whitespace ' '
|- 798 Whitespace ' '
|- 799 Whitespace ' '
|- 800 Keyword 'LEFT J...'
|- 801 Whitespace ' '
|- 802 Identifier 'D01'
|  `- 0 Name 'D01'
|- 803 Whitespace ' '
|- 804 Keyword 'on'
|- 805 Whitespace ' '
|- 806 Comparison 'D01.IN...'
|  |- 0 Identifier 'D01.IN...'
|  |  |- 0 Name 'D01'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.INSD...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'INSD_I...'
|- 807 Whitespace ' '
|- 808 Whitespace ' '
|- 809 Whitespace ' '
|- 810 Whitespace ' '
|- 811 Whitespace ' '
|- 812 Keyword 'LEFT J...'
|- 813 Whitespace ' '
|- 814 Identifier 'FINAL_...'
|  `- 0 Name 'FINAL_...'
|- 815 Whitespace ' '
|- 816 Keyword 'on'
|- 817 Whitespace ' '
|- 818 Comparison 'FINAL_...'
|  |- 0 Identifier 'FINAL_...'
|  |  |- 0 Name 'FINAL_...'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.POLI...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 819 Whitespace ' '
|- 820 Keyword 'AND'
|- 821 Whitespace ' '
|- 822 Comparison 'FINAL_...'
|  |- 0 Identifier 'FINAL_...'
|  |  |- 0 Name 'FINAL_...'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_ID...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'a.INSD...'
|     |- 0 Name 'a'
|     |- 1 Punctuation '.'
|     `- 2 Name 'INSD_I...'
|- 823 Whitespace ' '
|- 824 Whitespace ' '
|- 825 Whitespace ' '
|- 826 Whitespace ' '
|- 827 Whitespace ' '
|- 828 Keyword 'LEFT J...'
|- 829 Whitespace ' '
|- 830 Identifier 'DDD01'
|  `- 0 Name 'DDD01'
|- 831 Whitespace ' '
|- 832 Keyword 'on'
|- 833 Whitespace ' '
|- 834 Comparison 'a.POLI...'
|  |- 0 Identifier 'a.POLI...'
|  |  |- 0 Name 'a'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POLICY...'
|  |- 1 Comparison '='
|  `- 2 Identifier 'DDD01....'
|     |- 0 Name 'DDD01'
|     |- 1 Punctuation '.'
|     `- 2 Name 'POLICY...'
|- 835 Whitespace ' '
|- 836 Keyword 'AND'
|- 837 Whitespace ' '
|- 838 IdentifierList 'a.PROD...'
|  |- 0 Comparison 'a.PROD...'
|  |  |- 0 Identifier 'a.PROD...'
|  |  |  |- 0 Name 'a'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'PROD_ID'
|  |  |- 1 Comparison '='
|  |  `- 2 Identifier 'DDD01....'
|  |     |- 0 Name 'DDD01'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'PROD_ID'
|  |- 1 Whitespace ' '
|  |- 2 Punctuation ','
|  `- 3 Identifier 'DDATE'
|     `- 0 Name 'DDATE'
`- 839 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:INNER JOIN
ON表示句:ON
JOIN表示句:INNER JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
JOIN表示句:LEFT JOIN
ON表示句:ON
{}
|- 0 Whitespace ' '
|- 1 Whitespace ' '
|- 2 DDL 'CREATE'
|- 3 Whitespace ' '
|- 4 Keyword 'TABLE'
|- 5 Whitespace ' '
|- 6 Whitespace ' '
|- 7 Identifier 'ORDINA...'
|  `- 0 Name 'ORDINA...'
|- 8 Whitespace ' '
|- 9 Whitespace ' '
|- 10 Keyword 'AS'

C:\Users\黃兆湘\01_research\sqlparse\sqlparsemodel\Sastructure.py:451: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  fromtokens["state_realname"] = fromtokens["state_realname"].str.upper()
C:\Users\黃兆湘\01_research\sqlparse\sqlparsemodel\Sastructure.py:452: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  fromtokens["state_parentname"] = fromtokens["state_parentname"].str.upper()
C:\Users\黃兆湘\01_research\sqlparse\sqlparsemodel\Sastructure.py:453: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tabletokens["state_realname"] = tabletokens["state_realname"].str.upper()
C:\Users\黃兆湘\01_research\sqlparse\sqlparsemodel\Sastructure.py:454: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  tabletokens["state_parentname"] = tabletokens["state_parentname"].str.upper()

In [4]:
sas_query.drop_dict

{'DROP1': {'drop_name': 'A', 'query_ids': [1, 2, 3, 4]},
 'DROP2': {'drop_name': 'TEMP_FINAL_PAYDAY', 'query_ids': [1, 2, 3, 4, 5]}}

In [8]:
re.split("\\.","WORK.TEMP_FINAL_PAYDAY")

['WORK', 'TEMP_FINAL_PAYDAY']

In [7]:
sas_query.node_property

[['node_id',
  'query_id',
  'subq_name',
  'state',
  'token_tag',
  'state_value',
  'state_alias',
  'state_parentname',
  'state_realname'],
 ['1',
  '1',
  'MAIN',
  'FROM',
  'value',
  'WORK.QUERY_FOR_M_TYPE_ALL_0004 AND (PROC_SORT_FLOWCHART)',
  '',
  '',
  ''],
 ['2',
  '1',
  'MAIN',
  'FROM',
  'token',
  'alias:AND, Database:WORK, Table:QUERY_FOR_M_TYPE_ALL_0004',
  'AND',
  'WORK',
  'QUERY_FOR_M_TYPE_ALL_0004'],
 ['3',
  '1',
  'MAIN',
  'TABLE',
  'token',
  'WORK.CLAM_CAT_T',
  '',
  'WORK',
  'CLAM_CAT_T']]

In [17]:
sas_query.sql_parsed_list["1"].replaced_dict

{'MAIN': '   CREATE TABLE DD01 AS SELECT POLICY_NO, \t   PROD_ID, \t   INSD_ID_SAS, \t   理賠金代號,        CASE WHEN 初次殘疾鑑定日<>. THEN 初次殘疾鑑定日 \t\t\tWHEN 初次殘疾鑑定日=. THEN 事故日 \t   END AS 初次殘疾鑑定日 FORMAT=YYMMDD10. FROM SUBQ.MAIN_FROM1 WHERE 初次殘疾鑑定日<>. OR 事故日<>.;   ',
 'MAIN_FROM1': ' \tSELECT \tDISTINCT  \t\t\tPOLICY_NO, \t\t\tPROD_ID, \t\t\tINSD_ID_SAS, \t\t\t理賠金代號, \t\t\tmin(初次殘疾鑑定日) FORMAT=YYMMDD10. AS 初次殘疾鑑定日, \t\t\tmin(事故日) FORMAT=YYMMDD10. AS 事故日 \t\t\tFROMSUBQ.MAIN_FROM1_FROM1 \tGROUP BY 1,2,3,4 \t',
 'MAIN_FROM1_FROM1': " \t\t\t\tSELECT c.POLICY_NO, \t\t\t\t\t   c.PROD_ID, \t\t\t\t\t   b.理賠金代號, \t\t\t\t\t   a.INSD_ID_SAS, \t\t\t\t\t   c.DISB_DATE  FORMAT=YYMMDD10. AS 初次殘疾鑑定日, \t\t\t\t\t   c.OCR_DATE  FORMAT=YYMMDD10. AS 事故日 \t\t\t\tFROM QUERY.DTAAB001_Q as c \t\t\t\tINNER JOIN  b ON b.理賠金代號=c.CLAM_AMT_CODE AND c.PROD_ID=b.PROD_ID \t\t\t\tINNER JOIN\ta  ON c.OCR_ID_SAS=a.INSD_ID_SAS AND c.POLICY_NO=a.POLICY_NO \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tAND c.PROD_ID=a.PROD_ID \t\t\t\tWHERE c.PAY_STS not in ('0','5','6') \t\t\t\t"}

In [5]:
re.split("\s+", "WORK.PAST_RESTRICTED_X04_AA_APC")

['WORK.PAST_RESTRICTED_X04_AA_APC']

In [10]:
def upper_lower_regrex(string):
        regex_txt = ""
        for c in string:
            if c == " " : 
                regex_txt += " "
            else:
                regex_txt += "[" + c.lower() + c.upper() + "]"
        return(regex_txt)

query8 = '''


PROC SQL;
   CREATE TABLE Meow.SPCL_DTATA007_X_00 AS 
   SELECT t2.CONTRACT_NO,
         (CATX( "_" ,t1.REFUSE_FILENO , t1.CODE_CAT , t1.APPROVE_CODE)) AS unique_code, 
         t2.CREATE_DATE, 
          t2.REFUSE_FILENO,
          t2.APPLY_NO, 
		  t2.UPDATE_DATE, 
          t2.ID_SAS AS INSD_ID_SAS, 
          t2.POLICY_NO, 
          t2.KIND,
          t1.CODE_CAT, 
          t1.APPROVE_CODE, 
          t1.APPROVE_DETAIL, 
          t1.MEMO_PUBLIC, 
          t1.MEMO_PRIVATE
        FROM QUERY.DTATA007_APPROVE_HISTORY t1
       RIGHT JOIN Meow.SPCL_DTATA006 t2 ON (t1.REFUSE_FILENO = t2.REFUSE_FILENO);
QUIT;


PROC SQL;
   CREATE TABLE WORK.SPECIAL_to_icd_02_1 AS 
   SELECT t1.unique_code, 
          t1.ICD_CODE_1, 
          t1.ICD_CODE_2, 
          t1.ICD_CODE_3, 
          t1.ICD_CODE_4, 
          t1.ICD_CODE_5
      FROM Meow.SPCL_DTATA009_ORI t1;
QUIT;
%_eg_conditional_dropds(WORK.SPECIAL_to_icd_02_2);

PROC SQL;
   CREATE TABLE WORK.SPECIAL_to_icd_02_2 AS 
   SELECT t1.unique_code, 
          t1.CONFIDENCE_LEVEL_1, 
          t1.CONFIDENCE_LEVEL_2, 
          t1.CONFIDENCE_LEVEL_3, 
          t1.CONFIDENCE_LEVEL_4, 
          t1.CONFIDENCE_LEVEL_5
      FROM Meow.SPCL_DTATA009_ORI t1;
QUIT   ;
proc transpose data=WORK.SPECIAL_to_icd_02_1 out=WORK.SPECIAL_to_icd_03_1(rename=(col1=ICD_CODE));
	var ICD_CODE_1-ICD_CODE_5;
  	by unique_code;
run;

proc transpose data=WORK.SPECIAL_to_icd_02_2 out=WORK.SPECIAL_to_icd_03_2;
	var CONFIDENCE_LEVEL_1-CONFIDENCE_LEVEL_5;
  	by unique_code;
run;

PROC SORT DATA=MEOW.HOUSEHOLD_05;
BY INSD_ID_SAS POLICY_NO1;
RUN;


data SPECIAL_to_icd_03;
merge SPECIAL_to_icd_03_1 SPECIAL_to_icd_03_2;
run  ;

data WORK.MED_EXAM_03;
set WORK.MED_EXAM_02;
by CONTRACT_NO;
if last.CONTRACT_NO then output; 
run  ;


/*串理賠資料*/
PROC SORT DATA=QUERY.DTAAB001_Q OUT=WORK.DTAAB001_Q_S;
BY OCR_ID_SAS POLICY_NO PROD_ID;
RUN;

data WORK.PAST_RESTRICTED_X05_AA_APC;
        set WORK.PAST_RESTRICTED_X04_AA_APC;
              PAST_RESTRICTED_CS_APC_num=input(PAST_RESTRICTED_CS_APC,2.);
run;


'''
count = 0
query8 = re.sub("\s+?;",";",query4)
query8 = re.sub("(\n)|(\r)"," ",query8)
proc_sql = re.findall(sfc.upper_lower_regrex("PROC") + "\s+" + sfc.upper_lower_regrex("SQL") + ".*?" + sfc.upper_lower_regrex("QUIT;"), query8)# Get PROC SQL be the SQL string
data_step = re.findall(sfc.upper_lower_regrex("DATA") + "\s+(?!=).*?" + sfc.upper_lower_regrex("RUN;"), query8) # If the query with "=" after "data" not the Data Step target
proc_transpose = re.findall(sfc.upper_lower_regrex("PROC") + "\s+" + sfc.upper_lower_regrex("TRANSPOSE") + ".*?" + sfc.upper_lower_regrex("RUN;"), query8)
proc_sort = re.findall(sfc.upper_lower_regrex("PROC") + "\s+" + sfc.upper_lower_regrex("SORT") + ".*?" + sfc.upper_lower_regrex("RUN;"), query8)
# PROC SQL
for r in proc_sql :
    print("1. proc_sql=================")
    print(r)

# Data Step 
for r in data_step :
    table_name = ""
    from_name = ""
    print("2. data_step=================")
    print(r)
    ## Get Table name and Out name
    ### if out name is empy -> same as table name
    table_name = re.findall(sfc.upper_lower_regrex("DATA") + "(.*?);", r)
    table_name = table_name[0].strip()
    from_name = re.findall(sfc.upper_lower_regrex("SET") + "(.*?);", r)
    if len(from_name) == 0 : # SET no using MERGE
        from_name = re.findall(sfc.upper_lower_regrex("MERGE") + "(.*?);", r)
    
        
    if len(from_name) == 0 :
        from_name = table_name
    else :
        from_name = from_name[0].strip()
    print(from_name)
    from_list = re.split("\s+", from_name)
    print(from_list)
#     if len(re.findall("\\.", table_name)) == 0 :
#         table_name = "WORK." + table_name
#     if len(re.findall("\\.", from_name)) == 0 :
#         from_name = "WORK." + from_name
    
    print(dbfromname_tosql(re.sub(";", "",table_name), re.sub(";", "",from_name)))
#     query_id += 1
#     table_list = re.split("\\.", table_name)
#     from_list = re.split("\\.", from_name)
    
    
# PROC TRANSPOSE    
for r in proc_transpose :
    table_name = ""
    from_name = ""
    print("3. proc_transpose=================")
    # data 
    ## Replace some special sign, ex: "(", ")" -> space
    ### TABLE NAME GET
    ### FROM NAME GET
    rtmp = re.sub("\\(|\\)", " ", r)
    # trans_sign = PROC\s+TRANSPOSE\s+DATA
    trans_sign = sfc.upper_lower_regrex("PROC") + "\s+" + sfc.upper_lower_regrex("TRANSPOSE")+ "\s+" + sfc.upper_lower_regrex("DATA")
    table_name = re.findall(trans_sign + "\s*?=(.*?)\s+", rtmp)
    table_name = table_name[0].strip()
    from_name = re.findall(trans_sign + ".*?" + sfc.upper_lower_regrex("out") + "\s*?=(.*?);", rtmp)
    if len(from_name) == 0 :
        from_name = table_name
    else :
        from_name = re.split(" ",re.sub(";", " ",from_name[0]).strip())[0]
    
#     if len(re.findall("\\.", table_name)) == 0 :
#         table_name = "WORK." + table_name
#     if len(re.findall("\\.", from_name)) == 0 :
#         from_name = "WORK." + from_name
    
    
    print(dbfromname_tosql(re.sub(";", "",table_name), re.sub(";", "",from_name)))
    
# PROC SORT    
for r in proc_sort :
    table_name = ""
    from_name = ""
    print("4. proc_sort=================")
    # data 
    ## Replace some special sign, ex: "(", ")" -> space
    ### TABLE NAME GET
    ### FROM NAME GET
    rtmp = re.sub("\\(|\\)", " ", r)
    sort_sign = sfc.upper_lower_regrex("PROC") + "\s+" + sfc.upper_lower_regrex("SORT")+ "\s+" + sfc.upper_lower_regrex("DATA")
    table_name = re.findall(sort_sign + "\s*?=(.*?)\s+", rtmp)
    table_name = table_name[0].strip()
    from_name = re.findall(sort_sign + ".*?" + sfc.upper_lower_regrex("out") + "\s*?=(.*?);", rtmp)
    if len(from_name) == 0 :
        from_name = table_name
    else :
        from_name = re.split(" ",re.sub(";", " ",from_name[0]).strip())[0]
    
#     if len(re.findall("\\.", table_name)) == 0 :
#         table_name = "WORK." + table_name
#     if len(re.findall("\\.", from_name)) == 0 :
#         from_name = "WORK." + from_name
    
    print(dbfromname_tosql(re.sub(";", "",table_name), re.sub(";", "",from_name)))

1. proc_sql=================
PROC SQL;    CREATE TABLE Meow.HOSPITAL_5Y_01 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.CREATE_DATE,           t1.INSD_ID_SAS,           t2.APLY_NO, 		  t2.POLICY_NO AS POL_2,  		  t2.PROD_ID, 	      t2.OCR_DATE, 		  t2.E_STR_DATE, 		  t2.E_END_DATE, 		  t2.CLAM_AMT_CODE, 		  t2.CLAM_AMT_NAME, 		  t2.CLAM_CAT, 		  t2.OCR_RESN,            t2.BONE_CODE,            t2.BONE_NAME,  		  t2.OP_CODE,           t2.OP_NAME, 		  t2.PAY_DAY, 		  t2.PAY_AMT, 		  t2.PAY_STS       FROM Meow.POL_ALL_X_01 t1            LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)       WHERE t1.CREATE_DATE > t2.ISSUE_DATE; /*因為後面會使用OCR_DATE、STR_DATE跟END_DATE(先篩OCR_DATE會有點問題)，先篩投保時間稍微減少資料量*/ QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_02 AS     SELECT DISTINCT  t1.CONTRACT_NO,             t1.CREATE_DATE,            t1.INSD_ID_SAS,           t1.APLY_NO, 		  t1.POL_2 ,  		  t1.PROD_ID, 	      t1.OCR_DATE, 		  t1.E_STR_DATE, 		  t1.E_END_DATE, 		  t1.OCR_RESN,            t1.BONE_CODE,            t1.BONE_NAME,  		   t1.CLAM_AMT_CODE, 		  t1.CLAM_AMT_NAME, 		  t1.OP_CODE,           t1.OP_NAME, 		  t1.PAY_DAY       FROM MEOW.HOSPITAL_5Y_01 t1       WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE =''; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_03 AS     SELECT DISTINCT  t1.CONTRACT_NO,           t1.INSD_ID_SAS,            t1.CREATE_DATE,            t1.POL_2,            t1.OCR_DATE,  		  t1.E_STR_DATE, 		  t1.E_END_DATE, 		    /* E_STR_DATE_NEW */ 		  (CASE          WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE           ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,   /* E_END_DATE_NEW */ 		(CASE  		WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE 		ELSE t1.OCR_DATE 		END)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW, 		   t1.CLAM_AMT_CODE,            t1.CLAM_AMT_NAME, 		  t1.OCR_RESN,            t1.BONE_CODE,            t1.BONE_NAME,           t1.PAY_DAY       FROM WORK.HOSPITAL_5Y_02 t1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS     SELECT DISTINCT  t1.CONTRACT_NO,          t1.INSD_ID_SAS,  		  t1.CREATE_DATE,           t1.POL_2,  		  t1.OCR_RESN,  	      t1.E_STR_DATE_NEW,          t1.E_END_DATE_NEW,           t1.PAY_DAY       FROM WORK.HOSPITAL_5Y_03 t1 	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS     SELECT DISTINCT t1.CONTRACT_NO,          t1.INSD_ID_SAS,  		  t1.CREATE_DATE,           t1.POL_2,  		  t1.OCR_RESN,  	      t1.E_STR_DATE_NEW,          t1.E_END_DATE_NEW,           t1.PAY_DAY       FROM WORK.HOSPITAL_5Y_03 t1 	  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_04_year_2to3 AS     SELECT DISTINCT t1.CONTRACT_NO,            t1.INSD_ID_SAS,  		    t1.CREATE_DATE,           t1.POL_2,  	      t1.E_STR_DATE_NEW,          t1.E_END_DATE_NEW,           t1.PAY_DAY       FROM WORK.HOSPITAL_5Y_03 t1 	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*3 AND t1.E_STR_DATE_NEW <   t1.CREATE_DATE-365*2; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_04_year_3to4 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.INSD_ID_SAS,  		   t1.CREATE_DATE,           t1.POL_2,  	      t1.E_STR_DATE_NEW,          t1.E_END_DATE_NEW,           t1.PAY_DAY       FROM WORK.HOSPITAL_5Y_03 t1 	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*4 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*3; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_04_year_4to5 AS     SELECT DISTINCT t1.CONTRACT_NO,          t1.INSD_ID_SAS,  		  t1.CREATE_DATE,           t1.POL_2,  	      t1.E_STR_DATE_NEW,          t1.E_END_DATE_NEW,           t1.PAY_DAY       FROM WORK.HOSPITAL_5Y_03 t1 	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*5 AND t1.E_STR_DATE_NEW <   t1.CREATE_DATE-365*4; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_05_year_0to1 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.INSD_ID_SAS,  		 t1.POL_2,            t1.E_STR_DATE_NEW,            t1.E_END_DATE_NEW,            /* NEW_PAY_DAY */             (MIN( t1.CREATE_DATE-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*1,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_04_year_0to1 t1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_05_year_1to2 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.INSD_ID_SAS,  		 t1.POL_2,            t1.E_STR_DATE_NEW,            t1.E_END_DATE_NEW,            /* NEW_PAY_DAY */             (MIN( t1.CREATE_DATE-365*1-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*2,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_04_year_1to2 t1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_05_year_2to3 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.INSD_ID_SAS,  		 t1.POL_2,            t1.E_STR_DATE_NEW,            t1.E_END_DATE_NEW,            /* NEW_PAY_DAY */             (MIN( t1.CREATE_DATE-365*2-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*3,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_04_year_2to3 t1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_05_year_3to4 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.INSD_ID_SAS,  		 t1.POL_2,            t1.E_STR_DATE_NEW,            t1.E_END_DATE_NEW,            /* NEW_PAY_DAY */             (MIN( t1.CREATE_DATE-365*3-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*4,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_04_year_3to4 t1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_05_year_4to5 AS     SELECT DISTINCT t1.CONTRACT_NO,           t1.INSD_ID_SAS,  		 t1.POL_2,            t1.E_STR_DATE_NEW,            t1.E_END_DATE_NEW,            /* NEW_PAY_DAY */             (MIN( t1.CREATE_DATE-365*4-1,t1.E_END_DATE_NEW)- MAX( t1.CREATE_DATE-365*5,t1.E_STR_DATE_NEW)+1) AS NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_04_year_4to5 t1; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_06_0to1 AS     SELECT DISTINCT t1.POL_2,            t1.CONTRACT_NO,            /* SUM_of_NEW_PAY_DAY */             (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_05_YEAR_0to1 t1 	  WHERE t1.NEW_PAY_DAY>0       GROUP BY t1.POL_2,                t1.CONTRACT_NO       ORDER BY t1.CONTRACT_NO;  QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE Meow.HOSPITAL_5Y_07_0to1 AS     SELECT DISTINCT t1.CONTRACT_NO,            /* MAX_of_SUM_of_NEW_PAY_DAY */              (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2015       FROM WORK.HOSPITAL_5Y_06_0to1 t1       GROUP BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_06_1to2 AS     SELECT DISTINCT t1.POL_2,            t1.CONTRACT_NO,            /* SUM_of_NEW_PAY_DAY */             (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_05_YEAR_1to2 t1 WHERE t1.NEW_PAY_DAY>0       GROUP BY t1.POL_2,                t1.CONTRACT_NO       ORDER BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE Meow.HOSPITAL_5Y_07_1to2 AS     SELECT DISTINCT t1.CONTRACT_NO,            /* MAX_of_SUM_of_NEW_PAY_DAY */             (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2014       FROM WORK.HOSPITAL_5Y_06_1to2 t1       GROUP BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_06_2to3 AS     SELECT DISTINCT t1.POL_2,            t1.CONTRACT_NO,            /* SUM_of_NEW_PAY_DAY */             (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_05_YEAR_2to3 t1 WHERE t1.NEW_PAY_DAY>0       GROUP BY t1.POL_2,                t1.CONTRACT_NO       ORDER BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE Meow.HOSPITAL_5Y_07_2to3 AS     SELECT DISTINCT t1.CONTRACT_NO,            /* MAX_of_SUM_of_NEW_PAY_DAY */             (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2013       FROM WORK.HOSPITAL_5Y_06_2to3 t1       GROUP BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_06_3to4 AS     SELECT DISTINCT t1.POL_2,            t1.CONTRACT_NO,            /* SUM_of_NEW_PAY_DAY */             (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_05_YEAR_3to4 t1 WHERE t1.NEW_PAY_DAY>0       GROUP BY t1.POL_2,                t1.CONTRACT_NO       ORDER BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE Meow.HOSPITAL_5Y_07_3to4 AS     SELECT DISTINCT t1.CONTRACT_NO,            /* MAX_of_SUM_of_NEW_PAY_DAY */             (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2012       FROM WORK.HOSPITAL_5Y_06_3to4 t1       GROUP BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE WORK.HOSPITAL_5Y_06_4to5 AS     SELECT DISTINCT t1.POL_2,            t1.CONTRACT_NO,            /* SUM_of_NEW_PAY_DAY */             (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY       FROM WORK.HOSPITAL_5Y_05_YEAR_4to5 t1 WHERE t1.NEW_PAY_DAY>0       GROUP BY t1.POL_2,                t1.CONTRACT_NO       ORDER BY t1.CONTRACT_NO; QUIT;
1. proc_sql=================
PROC SQL;    CREATE TABLE Meow.HOSPITAL_5Y_07_4to5 AS     SELECT DISTINCT t1.CONTRACT_NO,            /* MAX_of_SUM_of_NEW_PAY_DAY */             (MAX(t1.SUM_of_NEW_PAY_DAY)) AS HSP_DAY_Y2011       FROM WORK.HOSPITAL_5Y_06_4to5 t1       GROUP BY t1.CONTRACT_NO; QUIT;

In [7]:
def dbfromname_tosql(dbname, from_name):
    tosql = "CREATE TABLE "+ dbname + " FROM "
    from_list = re.split("\s+", from_name)
    if len(from_list) > 1 :
        tosql += from_list[0] + " merge " + from_list[1] 
    else : 
        tosql += from_list[0]
    return( tosql )

In [14]:
re.split("\s+", "WORK.SPECIAL_to_icd_03_1 SPECIAL_to_icd_03_2")

['WORK.SPECIAL_to_icd_03_1', 'SPECIAL_to_icd_03_2']

In [32]:
xx = "proc transpose data=WORK.SPECIAL_to_icd_02_1 out=WORK.SPECIAL_to_icd_03_1(rename=(col1=ICD_CODE));"
re.findall(sfc.upper_lower_regrex("out") + "\s*?=(.*?);", r)[0]

'WORK.SPECIAL_to_icd_03_1(rename=(col1=ICD_CODE))'

In [19]:
re.sub("\\(", "", "(123456)")

'123456)'

In [24]:
'''t1.CONTRACT_NO,
t1.UPDATE_DATE'''

't1.CONTRACT_NO,\nt1.UPDATE_DATE'

In [86]:
re.findall("PROC(.*?\r|\r|\n)QUIT",'''PROC 123456789
123456789

                            QUIT''')

[]

In [73]:
print('''PROC 
123456789

                            QUIT''')

PROC
123456789

                            QUIT

In [21]:
print(sfc.mc.mermaid_txt)

graph TD;subgraph Meow.SPCL_DTATA007_X_00;2(<center><b>FROM</b><br>QUERY.DTATA007_APPROVE_HISTORY, t1</center>)-->1{<center><b>FROM</b></center>};3(<center><b>FROM</b><br>Meow.SPCL_DTATA006, t2</center>)-->1{<center><b>FROM</b></center>};1{<center><b>FROM</b></center>}-->|<center>QUERY.DTATA007_APPROVE_HISTORY t1<b> <u>RIGHT JOIN</u> </b>Meow.SPCL_DTATA006 t2 ON <br> t1.REFUSE_FILENO = t2.REFUSE_FILENO  </center>|4{<center><b>SELECT</b></center>};4{<center><b>SELECT</b></center>}-->|"<center>t2.CONTRACT_NO, <br>(CATX( '_' , <br>t1.REFUSE_FILENO , <br> t1.CODE_CAT , <br> t1.APPROVE_CODE))<b> <u>AS</u> </b>unique_code, <br> t2.CREATE_DATE, <br> t2.REFUSE_FILENO, <br>t2.APPLY_NO, <br> t2.UPDATE_DATE, <br> t2.ID_SAS<b> <u>AS</u> </b>INSD_ID_SAS, <br> t2.POLICY_NO, <br> t2.KIND, <br>t1.CODE_CAT, <br> t1.APPROVE_CODE, <br> t1.APPROVE_DETAIL, <br> t1.MEMO_PUBLIC, <br> t1.MEMO_PRIVATE</center>"|5(<center><b>TABLE</b><br>Meow.SPCL_DTATA007_X_00, </center>);end;  style 2 fill:#28FF28;

In [9]:
"'_'"

"'_'"

In [ ]:
graph TD;subgraph Meow.SPCL_DTATA006;
2(<center><b>FROM</b><br>Meow.POL_ALL_X_01, t1</center>)-->1{<center><b>FROM</b></center>};
3(<center><b>FROM</b><br>QUERY.DTATA006_WEAKRECORD_Q, t2</center>)-->1{<center><b>FROM</b></center>};
1{<center><b>FROM</b></center>}-->|<center>Meow.POL_ALL_X_01 t1<b> <u>LEFT JOIN</u> </b>QUERY.DTATA006_WEAKRECORD_Q t2 ON <br> t1.INSD_ID_SAS = t2.ID_SAS </center>|4{<center><b>WHERE</b></center>};4{<center><b>WHERE</b></center>}-->|<center>WHERE t2.REFUSE_FILENO<b> <u>NOT</u> </b>= '' AND <br>t2.UPDATE_DATE < t1.CREATE_DATE</center>|5{<center><b>SELECT</b></center>};5{<center><b>SELECT</b></center>}-->|"<center>t1.CONTRACT_NO, <br> t1.CREATE_DATE, <br>t2.REFUSE_FILENO, <br>t2.APPLY_NO, <br> t2.UPDATE_DATE, <br> t2.ID_SAS, <br> t2.POLICY_NO, <br> t2.KIND</center>"|6(<center><b>TABLE</b><br>Meow.SPCL_DTATA006, </center>);
end; 
subgraph Meow.SPCL_DTATA007_X_00;
8(<center><b>FROM</b><br>QUERY.DTATA007_APPROVE_HISTORY, t1</center>)-->7{<center><b>FROM</b></center>};
9(<center><b>FROM</b><br>Meow.SPCL_DTATA006, t2</center>)-->7{<center><b>FROM</b></center>};
7{<center><b>FROM</b></center>}-->|<center>QUERY.DTATA007_APPROVE_HISTORY t1<b> <u>RIGHT JOIN</u> </b>Meow.SPCL_DTATA006 t2 ON <br> t1.REFUSE_FILENO = t2.REFUSE_FILENO  </center>|10{<center><b>SELECT</b></center>};
10{<center><b>SELECT</b></center>}-->|"<center>t2.CONTRACT_NO, <br>(CATX( '_' , <br>t1.REFUSE_FILENO , <br> t1.CODE_CAT , <br> t1.APPROVE_CODE))<b> <u>AS</u> </b>unique_code, <br> t2.CREATE_DATE, <br> t2.REFUSE_FILENO, <br>t2.APPLY_NO, <br> t2.UPDATE_DATE, <br> t2.ID_SAS<b> <u>AS</u> </b>INSD_ID_SAS, <br> t2.POLICY_NO, <br> t2.KIND, <br>t1.CODE_CAT, <br> t1.APPROVE_CODE, <br> t1.APPROVE_DETAIL, <br> t1.MEMO_PUBLIC, <br> t1.MEMO_PRIVATE</center>"|11(<center><b>TABLE</b><br>Meow.SPCL_DTATA007_X_00, </center>);
end;
6-.->9;
style 3 fill:#28FF28; 
style 8 fill:#28FF28;

In [18]:
x = sas_query.node_property
x

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
0,1,1,MAIN,FROM,value,SUBQ.MAIN_FROM1 AS t1 ;,,,
1,2,1,MAIN,FROM,token,"alias:t1, Database:SUBQ, Table:MAIN_FROM1",t1,SUBQ,MAIN_FROM1
2,3,1,MAIN,SELECT,value,AVG(sum_column1),,,
3,4,1,MAIN,TABLE,token,NOCREATETB.query1,,NOCREATETB,QUERY1
4,5,1,MAIN_FROM1,FROM,value,t1,,,
5,6,1,MAIN_FROM1,FROM,token,"alias:, Database:, Table:t1",,,T1
6,7,1,MAIN_FROM1,GROUPBY,value,column1,,,
7,8,1,MAIN_FROM1,SELECT,value,SUM(column1) AS sum_column1,,,
8,9,1,MAIN_FROM1,TABLE,token,NOCREATETB.query1--SUBQ.MAIN_FROM1,,SUBQ,MAIN_FROM1
9,10,2,MAIN,FROM,value,SUBQ.MAIN_FROM1 AS t1 ;,,,
10,11,2,MAIN,FROM,token,"alias:t1, Database:SUBQ, Table:MAIN_FROM1",t1,SUBQ,MAIN_FROM1
11,12,2,MAIN,SELECT,value,AVG(sum_column1),,,
12,13,2,MAIN,TABLE,token,NOCREATETB.query2,,NOCREATETB,QUERY2
13,14,2,MAIN_FROM1,FROM,value,t1,,,
14,15,2,MAIN_FROM1,FROM,token,"alias:, Database:, Table:t1",,,T1
15,16,2,MAIN_FROM1,GROUPBY,value,column1,,,
16,17,2,MAIN_FROM1,SELECT,value,SUM(column1) AS sum_column1,,,
17,18,2,MAIN_FROM1,TABLE,token,NOCREATETB.query2--SUBQ.MAIN_FROM1,,SUBQ,MAIN_FROM1
18,19,3,MAIN,FROM,value,FINAL_PAYDAY_2,,,
19,20,3,MAIN,FROM,token,"alias:, Database:, Table:FINAL_PAYDAY_2",,,FINAL_PAYDAY_2
20,21,3,MAIN,GROUPBY,value,"1,2,3 ;",,,
21,22,3,MAIN,SELECT,value,"POLICY_NO, PROD_ID, OCR_ID_SAS, max (ACN...",,,
22,23,3,MAIN,TABLE,token,A,,DROP1,A
23,24,4,MAIN,FROM,value,TEMP_FINAL_PAYDAY,,,
24,25,4,MAIN,FROM,token,"alias:, Database:, Table:TEMP_FINAL_PAYDAY",,DROP2,TEMP_FINAL_PAYDAY
25,26,4,MAIN,GROUPBY,value,"1,2,3 ;",,,
26,27,4,MAIN,SELECT,value,"POLICY_NO, PROD_ID, OCR_ID_SAS, max (ACN...",,,
27,28,4,MAIN,TABLE,token,FINAL_PAYDAY,,,FINAL_PAYDAY
28,29,5,MAIN,FROM,value,FINAL_PAYDAY_3,,,
29,30,5,MAIN,FROM,token,"alias:, Database:, Table:FINAL_PAYDAY_3",,,FINAL_PAYDAY_3
30,31,5,MAIN,GROUPBY,value,"1,2,3 ;",,,
31,32,5,MAIN,SELECT,value,"POLICY_NO, PROD_ID, OCR_ID_SAS, max (ACN...",,,
32,33,5,MAIN,TABLE,token,A,,,A
33,34,6,MAIN,FROM,value,WORK.CLAM_CAT_T AND (PROC_TRANSPOSE_FLOWCHART),,,
34,35,6,MAIN,FROM,token,"alias:AND, Database:WORK, Table:CLAM_CAT_T",AND,WORK,CLAM_CAT_T
35,36,6,MAIN,TABLE,token,WORK.CLAM_CAT_T2 drop = _name_,,WORK,CLAM_CAT_T2
36,37,7,MAIN,FROM,value,WORK.QUERY_FOR_M_TYPE_ALL_0004 AND (PROC_SORT_...,,,
37,38,7,MAIN,FROM,token,"alias:AND, Database:WORK, Table:QUERY_FOR_M_TY...",AND,WORK,QUERY_FOR_M_TYPE_ALL_0004
38,39,7,MAIN,TABLE,token,WORK.CLAM_CAT_T,,WORK,CLAM_CAT_T

In [6]:
x[x["query_id"].isin() & (self.node_property["state_parentname"] == "") & (self.node_property["state_realname"] == dropname_list[0]) , "state_parentname"]

TypeError: isin() missing 1 required positional argument: 'values'

In [21]:
x.at[x["state"]=="FROM", "state"] = x[x["state"]=="FROM"]["state"].str.cat(["123"]*len(x[x["state"]=="FROM"]))

In [25]:
(x["state"]=="FROM").sum()

0

In [24]:
x[(x["query_id"] == "1") & (x["subq_name"] == "MAIN") & (x["state"] == "TABLE")]["state_value"].values[0]

'NOCREATETB.query1'

In [24]:
x.at[x["node_id"] == "9", "state_value"] = "123456"

5

In [25]:
x

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
0,1,1,MAIN,FROM,value,SUBQ.MAIN_FROM1 AS t1 ;,,,
1,2,1,MAIN,FROM,token,"alias:t1, Database:SUBQ, Table:MAIN_FROM1",t1,SUBQ,MAIN_FROM1
2,3,1,MAIN,SELECT,value,AVG(sum_column1),,,
3,4,1,MAIN,TABLE,token,NOCREATETB.query1,,NOCREATETB,QUERY1
4,5,1,MAIN_FROM1,FROM,value,t1,,,
5,6,1,MAIN_FROM1,FROM,token,"alias:, Database:, Table:t1",,,T1
6,7,1,MAIN_FROM1,GROUPBY,value,column1,,,
7,8,1,MAIN_FROM1,SELECT,value,SUM(column1) AS sum_column1,,,
8,9,1,MAIN_FROM1,TABLE,token,123456,,SUBQ,MAIN_FROM1
9,10,2,MAIN,FROM,value,TEMP_FINAL_PAYDAY,,,
10,11,2,MAIN,FROM,token,"alias:, Database:, Table:TEMP_FINAL_PAYDAY",,,TEMP_FINAL_PAYDAY
11,12,2,MAIN,GROUPBY,value,"1,2,3 ;",,,
12,13,2,MAIN,SELECT,value,"POLICY_NO, PROD_ID, OCR_ID_SAS, max (ACN...",,,
13,14,2,MAIN,TABLE,token,FINAL_PAYDAY,,,FINAL_PAYDAY
14,15,3,MAIN,FROM,value,WORK.CLAM_CAT_T AND (PROC_TRANSPOSE_FLOWCHART),,,
15,16,3,MAIN,FROM,token,"alias:AND, Database:WORK, Table:CLAM_CAT_T",AND,WORK,CLAM_CAT_T
16,17,3,MAIN,TABLE,token,WORK.CLAM_CAT_T2 drop = _name_,,WORK,CLAM_CAT_T2
17,18,4,MAIN,FROM,value,WORK.QUERY_FOR_M_TYPE_ALL_0004 AND (PROC_SORT_...,,,
18,19,4,MAIN,FROM,token,"alias:AND, Database:WORK, Table:QUERY_FOR_M_TY...",AND,WORK,QUERY_FOR_M_TYPE_ALL_0004
19,20,4,MAIN,TABLE,token,WORK.CLAM_CAT_T,,WORK,CLAM_CAT_T

In [8]:
x["state"] = x["state"].str.lower()

In [9]:
x

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
0,1,1,MAIN,from,value,"& BASE t1, QUERY.DTAAB001_Q t2",,,
1,2,1,MAIN,from,token,"alias:t1, Database:, Table:BASE",t1,,BASE
2,3,1,MAIN,from,token,"alias:t2, Database:QUERY, Table:DTAAB001_Q",t2,QUERY,DTAAB001_Q
3,4,1,MAIN,where,value,WHERE (t1.APLY_NO = t2.APLY_NO AND t1.APLY_DAT...,,,
4,5,1,MAIN,select,value,"DISTINCT t1.OCR_ID, t1.OCR_DATE, ...",,,
5,6,1,MAIN,table,token,WORK.CLAM_CAT,,WORK,CLAM_CAT

In [8]:
pd.DataFrame(sas_query.from_to_property)

      0   1
0  from  to
1     2   1
2     1   3
3     3   4

In [8]:
pd.DataFrame(sas_query.from_to_query)

      0   1
0  from  to
1     4   6

In [11]:
print(re.sub('\\"', "'",'456456"123"456456'))

456456'123'456456

In [19]:
''' ' ''' + ''' \"  '''

 '  "

In [10]:
print("\\\\")

\\

In [15]:
sas_query.sql_parsed_list['1'].structured_dict

{'MAIN': {'': {'value': 'CREATE'},
  'TABLE': {'value': 'WORK.HOSPITAL_5Y_06_4to5',
   'token': [[None, 'WORK', 'HOSPITAL_5Y_06_4to5']]},
  'OTHER': {'value': 'AS'},
  'SELECT': {'value': 'DISTINCT t1.POL_2, t1.CONTRACT_NO, (SUM(t1.NEW_PAY_DAY)) AS SUM_of_NEW_PAY_DAY'},
  'FROM': {'value': 'WORK.HOSPITAL_5Y_05_YEAR_4to5 t1',
   'token': [['t1', 'WORK', 'HOSPITAL_5Y_05_YEAR_4to5']]},
  'WHERE': {'value': 'WHERE t1.NEW_PAY_DAY>0'},
  'GROUPBY': {'value': 't1.POL_2,t1.CONTRACT_NO'},
  'ORDERBY': {'value': 't1.CONTRACT_NO ;'}}}

In [37]:
sas_query.sql_parsed_list['1'].structured_dict['MAIN']['TABLE'] = {'token' : [['', 'QUERYID', 'query' + '1']], 'value': 'QUERYID.query' + '1'}

In [3]:
sas_query.sql_parsed_list['1'].structured_dict['MAIN']

{'FROM': {'token': [['Ranking', 'SUBQ', 'MAIN_FROM1']],
  'value': 'SUBQ.MAIN_FROM1 AS Ranking'},
 'SELECT': {'value': '*'},
 'TABLE': {'token': [['', 'QUERYID', 'query1']], 'value': 'QUERYID.query1'},
 'WHERE': {'value': 'WHERE Rank % 10 = 0;'}}

In [4]:
sas_query.sql_parsed_list['1'].structured_dict['MAIN_FROM1']

{'FROM': {'token': [[None, None, 'Table1']], 'value': 'Table1'},
 'SELECT': {'value': '*, (Dense_Rank() OVER (ORDER BY Column ASC)) AS Rank, b'},
 'TABLE': {'token': [['', 'SUBQ', 'MAIN_FROM1']], 'value': 'SUBQ.MAIN_FROM1'}}

In [20]:
from selenium import webdriver
driver = webdriver.Chrome() #開啟firefox

driver.get("https://mermaid-js.github.io/mermaid-live-editor/") #前往這個網址

# 尋找網頁中的搜尋框
inputElement = driver.find_element_by_xpath("//div[@class='view-lines']")
print(inputElement.text)
# 在搜尋框中輸入文字
inputElement.send_keys("Selenium")


# driver.close()#關閉瀏覽器

graph TD
  A[Christmas] -->|Get money| B(Go shopping)
  B --> C{Let me think}
  C -->|One| D[Laptop]
  C -->|Two| E[iPhone]
  C -->|Three| F[fa:fa-car Car]

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=83.0.4103.106)

In [21]:
re.sub("\\/.*?\\/", "", query4)

"\n\nPROC SQL;\n   CREATE TABLE Meow.HOSPITAL_5Y_01 AS \n   SELECT DISTINCT t1.CONTRACT_NO, \n         t1.CREATE_DATE,\n          t1.INSD_ID_SAS,\n          t2.APLY_NO,\n\t\t  t2.POLICY_NO AS POL_2, \n\t\t  t2.PROD_ID,\n\t      t2.OCR_DATE,\n\t\t  t2.E_STR_DATE,\n\t\t  t2.E_END_DATE,\n\t\t  t2.CLAM_AMT_CODE,\n\t\t  t2.CLAM_AMT_NAME,\n\t\t  t2.CLAM_CAT,\n\t\t  t2.OCR_RESN, \n          t2.BONE_CODE, \n          t2.BONE_NAME, \n\t\t  t2.OP_CODE,\n          t2.OP_NAME,\n\t\t  t2.PAY_DAY,\n\t\t  t2.PAY_AMT,\n\t\t  t2.PAY_STS\n      FROM Meow.POL_ALL_X_01 t1\n           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)\n      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_02 AS \n   SELECT DISTINCT  t1.CONTRACT_NO, \n           t1.CREATE_DATE, \n          t1.INSD_ID_SAS,\n          t1.APLY_NO,\n\t\t  t1.POL_2 , \n\t\t  t1.PROD_ID,\n\t      t1.OCR_DATE,\n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME, \n\t\t   t1.CLAM_AMT_CODE,\n\t\t  t1.CLAM_AMT_NAME,\n\t\t  t1.OP_CODE,\n          t1.OP_NAME,\n\t\t  t1.PAY_DAY\n      FROM Meow.HOSPITAL_5Y_01 t1\n      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;\nQUIT;\n\n%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_03_1);\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_03 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n          t1.INSD_ID_SAS,\n           t1.CREATE_DATE, \n          t1.POL_2, \n          t1.OCR_DATE, \n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t    \n\t\t  (CASE\n         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,\n  \n\t\t(CASE \n\t\tWHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n\t\tELSE t1.OCR_DATE\n\t\tEND)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,\n\t\t   t1.CLAM_AMT_CODE, \n          t1.CLAM_AMT_NAME,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_02 t1;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS \n   SELECT DISTINCT t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;\nQUIT;\n\n"

In [16]:
query4

"\n\nPROC SQL;\n   CREATE TABLE Meow.HOSPITAL_5Y_01 AS \n   SELECT DISTINCT t1.CONTRACT_NO, \n         t1.CREATE_DATE,\n          t1.INSD_ID_SAS,\n          t2.APLY_NO,\n\t\t  t2.POLICY_NO AS POL_2, \n\t\t  t2.PROD_ID,\n\t      t2.OCR_DATE,\n\t\t  t2.E_STR_DATE,\n\t\t  t2.E_END_DATE,\n\t\t  t2.CLAM_AMT_CODE,\n\t\t  t2.CLAM_AMT_NAME,\n\t\t  t2.CLAM_CAT,\n\t\t  t2.OCR_RESN, \n          t2.BONE_CODE, \n          t2.BONE_NAME, \n\t\t  t2.OP_CODE,\n          t2.OP_NAME,\n\t\t  t2.PAY_DAY,\n\t\t  t2.PAY_AMT,\n\t\t  t2.PAY_STS\n      FROM Meow.POL_ALL_X_01 t1\n           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)\n      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_02 AS \n   SELECT DISTINCT  t1.CONTRACT_NO, \n           t1.CREATE_DATE, \n          t1.INSD_ID_SAS,\n          t1.APLY_NO,\n\t\t  t1.POL_2 , \n\t\t  t1.PROD_ID,\n\t      t1.OCR_DATE,\n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME, \n\t\t   t1.CLAM_AMT_CODE,\n\t\t  t1.CLAM_AMT_NAME,\n\t\t  t1.OP_CODE,\n          t1.OP_NAME,\n\t\t  t1.PAY_DAY\n      FROM Meow.HOSPITAL_5Y_01 t1\n      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;\nQUIT;\n\n%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_03_1);\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_03 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n          t1.INSD_ID_SAS,\n           t1.CREATE_DATE, \n          t1.POL_2, \n          t1.OCR_DATE, \n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t    /* E_STR_DATE_NEW */\n\t\t  (CASE\n         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,\n  /* E_END_DATE_NEW */\n\t\t(CASE \n\t\tWHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n\t\tELSE t1.OCR_DATE\n\t\tEND)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,\n\t\t   t1.CLAM_AMT_CODE, \n          t1.CLAM_AMT_NAME,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_02 t1;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS \n   SELECT DISTINCT t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;\nQUIT;\n\n"

In [3]:
sas_query.from_to_query

[['from', 'to'], ['6', '8']]

In [4]:
sas_query.from_to_property

[['from', 'to'],
 ['2', '1'],
 ['3', '1'],
 ['1', '4'],
 ['4', '5'],
 ['5', '6'],
 ['8', '7'],
 ['9', '7'],
 ['7', '10'],
 ['10', '11']]

In [5]:
for item in sas_query.node_dict.items():
    print(str(item[0]) + " : " + "Node_prop : " + str(item[1][3]) + "," + str(item[1][4]) + " \n    Node_value : " + str(item[1][5]))

1 : Node_prop : FROM,value
    Node_value : Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
2 : Node_prop : FROM,token
    Node_value : alias:, Database:Meow, Table:POL_ALL_X_01
3 : Node_prop : FROM,token
    Node_value : alias:t2, Database:QUERY, Table:DTAAB001_Q
4 : Node_prop : WHERE,value
    Node_value : WHERE t1.CREATE_DATE > t2.OCR_DATE ;
5 : Node_prop : SELECT,value
    Node_value : DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO
6 : Node_prop : TABLE,token
    Node_value : MEOW.PAST_CLAIM_APLY_NO
7 : Node_prop : FROM,value
    Node_value : MEOW.PAST_CLAIM_APLY_NO t1 INNER JOIN QUERY.DTAAA020_AE t2 ON (t1.APLY_NO = t2.APLY_NO) ;
8 : Node_prop : FROM,token
    Node_value : alias:t1, Database:MEOW, Table:PAST_CLAIM_APLY_NO
9 : Node_prop : FROM,token
    Node_value : alias:t2, Database:QUERY, Table:DTAAA020_AE
10 : Node_prop : SELECT,value
    Node_value : DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO, t2.DIAG_SER_NO, t2.CFM_ICD_CODE1, t2.CFM_ICD_CODE2, t2.CFM_ICD_CODE3, t2.CFM_ICD_CODE4, t2.CFM_ICD_CODE5
11 : Node_prop : TABLE,token
    Node_value : WORK.PAST_CLAIM_ICDS

In [2]:
import markdown
text = """
# Title

Some text.

~~~mermaid
graph TB
A --> B
B --> C
~~~

Some other text.

~~~mermaid
graph TB
D --> E
E --> F
~~~
"""

html = markdown.markdown(text, extensions=['md_mermaid'])

print(html)

<h1>Title</h1>
<p>Some text.</p>
<div class="mermaid">
graph TB
A --> B
B --> C
</div>

<p>Some other text.</p>
<div class="mermaid">
graph TB
D --> E
E --> F
</div>

<script>mermaid.initialize({startOnLoad:true});</script>

In [237]:
class Mermaid_creator():
    
    def __init__(self):
        self.mermaid_txt = "graph TD;"
    
    # 00 Close Sentence
    def close_sentence(self):
        self.mermaid_txt += ";"
    
    # 01 Add Node    
    def add_node(self, shape = "", txt = "", node_id = ""):
        # Setting node id 
        self.mermaid_txt += str(node_id)
        
        # Setting texts
        if shape == "rectangular":
            self.mermaid_txt += "[" + txt +"]"
            
        elif shape == "roundedges":
            self.mermaid_txt += "(" + txt +")"
            
        elif shape == "circle":
            self.mermaid_txt += "((" + txt +"))"
            
        elif shape == "tag":
            self.mermaid_txt += ">" + txt +"]"
            
        elif shape == "diamond":
            self.mermaid_txt += "{" + txt +"}" 
            
            
    # 02 Add Link        
    def add_link(self, shape = "", txt = ""):
        
        # Setting relation texts
        if shape == "":
            print("please set a shape for line")
        
        # 01 Arrowhead
        elif shape == "arrowhead" :
            if txt == "" : 
                self.mermaid_txt += "-->"
            else:
                self.mermaid_txt += "-->" + "|" + txt + "|"
        
        # 02 Openlink
        elif shape == "openlink" :
            if txt == "" : 
                self.mermaid_txt += "---"
            else:
                self.mermaid_txt += "---" + "|" + txt + "|"
                
        # 03 Dotted link
        elif shape == "dottedlink" :
            if txt == "" : 
                self.mermaid_txt += "-.->"
            else:
                self.mermaid_txt += "-." + txt + ".->"
        
        # 03 Thick link
        elif shape == "thicklink" :
            if txt == "" : 
                self.mermaid_txt += "==>"
            else:
                self.mermaid_txt += "==" + txt + "==>"
                
    # 03 Subgraphs        
    def subgraph(self, state = "", txt = ""):
        # Setting relation texts
        if state == "" :
            print("please set a shape and text for subgraph")
            
        if state == "start":
            self.mermaid_txt += "subgraph " + txt + ";"
            
        if state == "end" and txt == "":
            self.mermaid_txt += "end; "
            
    # 04 Setting Style 
    def add_node_color(self, node_id, color) :
        # Setting node Color
        self.mermaid_txt += "\n style " + node_id + " fill:" + color + ";"

In [7]:
mc = Mermaid_creator()
mc.subgraph(state = "start", txt = "123456789")

In [8]:
mc = Mermaid_creator()

mc.subgraph(state = "start", txt = "123456789")
mc.add_node(shape = "rectangular", txt = "First Node", node_id = "1")
mc.add_link(shape = "arrowhead", txt = "")
mc.add_node(shape = "rectangular", txt = "Second Node", node_id = "2")
mc.close_sentence()

mc.add_node(shape = "roundedges", txt = "Third Node", node_id = "3")
mc.add_link(shape = "arrowhead", txt = "Some relations")
mc.add_node(shape = "rectangular", txt = "Second Node", node_id = "2")
mc.close_sentence()
mc.subgraph(state = "end")

mc.add_node(shape = "rectangular", txt = "Second Node", node_id = "2")
mc.add_link(shape = "dottedlink", txt = "table connect")
mc.add_node(shape = "diamond", txt = "Forth Node", node_id = "4")
mc.close_sentence()

mc.add_node(node_id = "4")
mc.add_link(shape = "dottedlink", txt = "table connect")
mc.add_node(node_id = "5")
mc.close_sentence()

In [9]:
mc.mermaid_txt

'graph TD;subgraph 123456789;1[First Node]-->2[Second Node];3(Third Node)-->|Some relations|2[Second Node];end; 2[Second Node]-.table connect.->4{Forth Node};4-.table connect.->5;'

In [10]:
sas_query.from_to_property
sas_query.from_to_query
sas_query.node_property

[['node_id',
  'query_id',
  'subq_name',
  'state',
  'token_tag',
  'state_value',
  'state_alias',
  'state_parentname',
  'state_realname'],
 ['1',
  '1',
  'MAIN',
  'FROM',
  'value',
  'Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)',
  '',
  '',
  ''],
 ['2',
  '1',
  'MAIN',
  'FROM',
  'token',
  'alias:, Database:Meow, Table:POL_ALL_X_01',
  '',
  'Meow',
  'POL_ALL_X_01'],
 ['3',
  '1',
  'MAIN',
  'FROM',
  'token',
  'alias:t2, Database:QUERY, Table:DTAAB001_Q',
  't2',
  'QUERY',
  'DTAAB001_Q'],
 ['4',
  '1',
  'MAIN',
  'WHERE',
  'value',
  'WHERE t1.CREATE_DATE > t2.OCR_DATE ;',
  '',
  '',
  ''],
 ['5',
  '1',
  'MAIN',
  'SELECT',
  'value',
  'DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO',
  '',
  '',
  ''],
 ['6',
  '1',
  'MAIN',
  'TABLE',
  'token',
  'MEOW.PAST_CLAIM_APLY_NO',
  '',
  'MEOW',
  'PAST_CLAIM_APLY_NO'],
 ['7',
  '2',
  'MAIN',
  'FROM',
  'value',
  'MEOW.PAST_CLAIM_APLY_NO t1 INNER JOIN QUERY.DTAAA020_AE t2 ON (t1.APLY_NO = t2.APLY_NO) ;',
  '',
  '',
  ''],
 ['8',
  '2',
  'MAIN',
  'FROM',
  'token',
  'alias:t1, Database:MEOW, Table:PAST_CLAIM_APLY_NO',
  't1',
  'MEOW',
  'PAST_CLAIM_APLY_NO'],
 ['9',
  '2',
  'MAIN',
  'FROM',
  'token',
  'alias:t2, Database:QUERY, Table:DTAAA020_AE',
  't2',
  'QUERY',
  'DTAAA020_AE'],
 ['10',
  '2',
  'MAIN',
  'SELECT',
  'value',
  'DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO, t2.DIAG_SER_NO, t2.CFM_ICD_CODE1, t2.CFM_ICD_CODE2, t2.CFM_ICD_CODE3, t2.CFM_ICD_CODE4, t2.CFM_ICD_CODE5',
  '',
  '',
  ''],
 ['11',
  '2',
  'MAIN',
  'TABLE',
  'token',
  'WORK.PAST_CLAIM_ICDS',
  '',
  'WORK',
  'PAST_CLAIM_ICDS']]

In [43]:
import pandas as pd
node_property

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
0,1,1,MAIN,FROM,value,Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q ...,,,
1,2,1,MAIN,FROM,token,"alias:, Database:Meow, Table:POL_ALL_X_01",,Meow,POL_ALL_X_01
2,3,1,MAIN,FROM,token,"alias:t2, Database:QUERY, Table:DTAAB001_Q",t2,QUERY,DTAAB001_Q
3,4,1,MAIN,WHERE,value,WHERE t1.CREATE_DATE > t2.OCR_DATE ;,,,
4,5,1,MAIN,SELECT,value,"DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO",,,
5,6,1,MAIN,TABLE,token,MEOW.PAST_CLAIM_APLY_NO,,MEOW,PAST_CLAIM_APLY_NO
6,7,2,MAIN,FROM,value,MEOW.PAST_CLAIM_APLY_NO t1 INNER JOIN QUERY.DT...,,,
7,8,2,MAIN,FROM,token,"alias:t1, Database:MEOW, Table:PAST_CLAIM_APLY_NO",t1,MEOW,PAST_CLAIM_APLY_NO
8,9,2,MAIN,FROM,token,"alias:t2, Database:QUERY, Table:DTAAA020_AE",t2,QUERY,DTAAA020_AE
9,10,2,MAIN,SELECT,value,"DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY...",,,
10,11,2,MAIN,TABLE,token,WORK.PAST_CLAIM_ICDS,,WORK,PAST_CLAIM_ICDS

In [211]:
node_property = pd.DataFrame(sas_query.node_property[1:], columns = sas_query.node_property[0])
node_property[(node_property["node_id"] == "3") & (node_property["token_tag"] == "token")]

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
2,3,1,MAIN,FROM,token,"alias:t2, Database:QUERY, Table:DTAAB001_Q",t2,QUERY,DTAAB001_Q

In [90]:
node_property[node_property["node_id"] == "3"]["node_id"].tolist()

['3']

In [238]:
import pandas as pd
class Sqltoflowchart():
    
    def __init__(self, from_to_node, from_to_query, node_property):
        self.from_to_node = from_to_node
        self.from_to_query = from_to_query
        self.node_property = pd.DataFrame(node_property[1:], columns= node_property[0])
        self.mc = Mermaid_creator()
    
    # 00_1 regrex Setting (upper and lower no different)
    def upper_lower_regrex(self, string):
        regex_txt = ""
        for c in string:
            if c == " " : 
                regex_txt += " "
            else:
                regex_txt += "[" + c.lower() + c.upper() + "]"
        return(regex_txt)
    
    # 01 Create node txt
    def Create_nodetxt(self, node_id, node):
        token_tag = node["token_tag"].tolist()[0]
        node_value = ""
        node_value += "<b>" + node["state"].tolist()[0] + "</b>"
        
        if token_tag == "token" :
            node_value += "<br>" + node["state_parentname"].tolist()[0] + "." + node["state_realname"].tolist()[0] + ", " + node["state_alias"].tolist()[0]
        
        ## Add <center> </center>
        node_value = "<center>" + node_value + "</center>"
        
        return node_value
    
    # 02 Create relation txt
    def Create_relationtxt(self, node_id, node):
        token_tag = node["token_tag"].tolist()[0]
        relation_value = ""
        
        if token_tag == "token" : 
            print("Empty relation (Class Sqltoflowchart - def Create_relationtxt)")
        else :
            relation_value = node[ "state_value" ].tolist()[0]
            relation_value = re.sub("\\(|\\)", " ", relation_value)
            relation_value = re.sub(";", "", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("INNER JOIN "), "<b>INNER JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("LEFT JOIN "), "<b>LEFT JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("RIGHT JOIN "), "<b>RIGHT JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("OUTER JOIN "), "<b>OUTER JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("CROSS JOIN "), "<b>CROSS JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("DISTINCT "), "<b>DISTINCT </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("ON "), "ON <br>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex(","), ", <br>", relation_value)
#             print("Need txt relation (Class Sqltoflowchart - def Create_relationtxt)")
        ## Add <center> </center>
        relation_value = "<center>" + relation_value + "</center>"
        
        return(relation_value)    
    
    #03 Create mermaid plot
    def mermaid_plot(self):
        #### 03_2 Initial Subgraph start drawing
        subgraph_sign = 0 # Record the subgraph , start->set 1, end->set 0
        
        
        #01 Node relation create
        for from_to in self.from_to_node :
            from_id = ""
            to_id = ""
            from_node = ""
            to_node = ""
            node_txt = ""
            relation = ""
            
            if from_to[0] == "from" :
                print("columnnames" + str(from_to))
                continue
            
            
            # 03_1 Initial setting from and to node setting 
            from_id = from_to[0]
            to_id = from_to[1]
            from_node = self.node_property[self.node_property["node_id"] == from_id]
            to_node = self.node_property[self.node_property["node_id"] == to_id]
            
            #03_2 Subgraph start drawing(from_node) ===============================
            
            if from_node["state"].tolist()[0] == "FROM" and from_node["token_tag"].tolist()[0] == "token" and subgraph_sign == 0 :
                subgraph_sign = 1
                self.mc.subgraph(state = "start", txt = "<needtobereplacetable>")
                
                
            #03_3 From node create (from_node)===============================
            node_txt = self.Create_nodetxt(node_id = from_id, node = from_node)
            if from_node["token_tag"].tolist()[0] == "token" :
                self.mc.add_node(shape = "roundedges", txt = node_txt, node_id = from_id)
            else : 
                self.mc.add_node(shape = "diamond", txt = node_txt, node_id = from_id)
            
            
            #03_4 From relation create (from_node)===============================
            relation_txt = self.Create_relationtxt(node_id = from_id, node = from_node)
            if from_node["token_tag"].tolist()[0] == "token" :
                self.mc.add_link(shape = "arrowhead", txt = "")
            else : 
                self.mc.add_link(shape = "arrowhead", txt = relation_txt)
            
            
            
            #03_5 To node create (to_node)===============================
            node_txt = self.Create_nodetxt(node_id = to_id, node = to_node)
            if to_node["token_tag"].tolist()[0] == "token" :
                self.mc.add_node(shape = "roundedges", txt = node_txt, node_id = to_id)
            else : 
                self.mc.add_node(shape = "diamond", txt = node_txt, node_id = to_id)
            
            #03_6 End Line ===============================
            self.mc.close_sentence()
            
            
            #03_7 Subgraph end drawing (to_node) ===============================
            ## 01 "TABLE" state, "token" token_tag setting end line
            ## 02 Replace the  mermaid_txt <needtobereplacetable> replace to TABLE name 
            if to_node["state"].tolist()[0] == "TABLE" and to_node["token_tag"].tolist()[0] == "token" and subgraph_sign == 1 :
                subgraph_sign = 0
                self.mc.subgraph(state = "end")
                self.mc.mermaid_txt = re.sub("\\<needtobereplacetable\\>", to_node["state_value"].tolist()[0], self.mc.mermaid_txt)
                print("replace relation (Class Sqltoflowchart - def Create_relationtxt)")
            
        #02 query relation create
        for from_to_query in self.from_to_query :
            from_id = ""
            to_id = ""
            if from_to_query[0] == "from" :
                print("columnnames" + str(from_to_query))
                continue
            print("columnnames" + str(from_to_query))
            # 04_1 Initial setting from and to node setting 
            from_id = from_to_query[0]
            to_id = from_to_query[1]
            
            self.mc.add_node(node_id = from_id)
            self.mc.add_link(shape = "dottedlink", txt = "")
            self.mc.add_node(node_id = to_id)
            self.mc.close_sentence()
            
    #04 Draw mermaid plot
    def mermaid_drawnode(self, keyword, token_tag, color):
        draw_nodes = self.node_property[(self.node_property["state_parentname"] == keyword) & (self.node_property["token_tag"] == token_tag)]
        for node_id in draw_nodes["node_id"]:
            self.mc.add_node_color(node_id, color)

In [239]:
sfc = Sqltoflowchart(sas_query.from_to_property,
sas_query.from_to_query,
sas_query.node_property)

In [214]:
sas_query.from_to_query

[['from', 'to'], ['6', '8']]

In [240]:
sfc.mermaid_plot()
sfc.mermaid_drawnode(keyword = "QUERY", token_tag = "token", color = "#28FF28")

columnnames['from', 'to']
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
columnnames['from', 'to']
columnnames['6', '8']

In [241]:
sfc.mc.mermaid_txt

'graph TD;subgraph MEOW.PAST_CLAIM_APLY_NO;2(<center><b>FROM</b><br>Meow.POL_ALL_X_01, </center>)-->1{<center><b>FROM</b></center>};3(<center><b>FROM</b><br>QUERY.DTAAB001_Q, t2</center>)-->1{<center><b>FROM</b></center>};1{<center><b>FROM</b></center>}-->|<center>Meow.POL_ALL_X_01 <b>INNER JOIN </b>QUERY.DTAAB001_Q t2 ON <br> t1.INSD_ID_SAS = t2.OCR_ID_SAS </center>|4{<center><b>WHERE</b></center>};4{<center><b>WHERE</b></center>}-->|<center>WHERE t1.CREATE_DATE > t2.OCR_DATE </center>|5{<center><b>SELECT</b></center>};5{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br>t2.APLY_NO</center>|6(<center><b>TABLE</b><br>MEOW.PAST_CLAIM_APLY_NO, </center>);end; subgraph WORK.PAST_CLAIM_ICDS;8(<center><b>FROM</b><br>MEOW.PAST_CLAIM_APLY_NO, t1</center>)-->7{<center><b>FROM</b></center>};9(<center><b>FROM</b><br>QUERY.DTAAA020_AE, t2</center>)-->7{<center><b>FROM</b></center>};7{<center><b>FROM</b></center>}-->|<center>MEOW.PAST_CLAIM_APLY_NO t1 <b>INNER JOIN </b>QUERY.DTAAA020_AE t2 ON <br> t1.APLY_NO = t2.APLY_NO  </center>|10{<center><b>SELECT</b></center>};10{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br>t2.APLY_NO, <br> t2.DIAG_SER_NO, <br> t2.CFM_ICD_CODE1, <br> t2.CFM_ICD_CODE2, <br> t2.CFM_ICD_CODE3, <br> t2.CFM_ICD_CODE4, <br> t2.CFM_ICD_CODE5</center>|11(<center><b>TABLE</b><br>WORK.PAST_CLAIM_ICDS, </center>);end; 6-.->8;\n style 3 fill:#28FF28;\n style 9 fill:#28FF28;'

In [79]:
sas_query.from_to_property

[['from', 'to'],
 ['2', '1'],
 ['3', '1'],
 ['1', '4'],
 ['4', '5'],
 ['5', '6'],
 ['8', '7'],
 ['9', '7'],
 ['7', '10'],
 ['10', '11']]

In [75]:
regex_txt = ""
for c in "INNER JOIN ":
    if c == " " : 
        regex_txt += " "
    else:
        regex_txt += "[" + c.lower() + c.upper() + "]"
print(regex_txt)

[iI][nN][nN][eE][rR] [jJ][oO][iI][nN]

In [78]:
sfc.Create_relationtxt(node_id = "7", node = sfc.node_property[sfc.node_property["node_id"] == "7"])

'MEOW.PAST_CLAIM_APLY_NO t1 <b>INNER JOIN </b>QUERY.DTAAA020_AE t2 ON <br> t1.APLY_NO = t2.APLY_NO  ;'

## mermaid plot 
### supermarkdown

In [153]:
re.sub("\\<needtobereplacetable\\>", "xxxx", "<needtobereplacetable>;")

'xxxx;'

In [64]:
re.sub( regex_txt, "", " FROM Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS) ")

' FROM Meow.POL_ALL_X_01 QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS) '

In [93]:
from SuperMarkdown import SuperMarkdown

supermd = SuperMarkdown.SuperMarkdown()

In [10]:
import markdown

text = """

~~~mermaid
graph LR
A[Zip file]-->B[\"R (abc) functions\"]
A[Zip file]-->C[manual<br>for R<br>functions]
A[Zip file]-->D[vingettes]
D[vingettes]-->E[data]
D[vingettes]-->F[figures]
D[vingettes]-->G((R<br>markdown<br>file))
A[Zip file]-->H((README<br>file))

style B fill:red
~~~
"""

html = markdown.markdown(text, extensions=['md_mermaid'])

print(html)

<div class="mermaid">
graph LR
A[Zip file]-->B["R (abc) functions"]
A[Zip file]-->C[manual<br>for R<br>functions]
A[Zip file]-->D[vingettes]
D[vingettes]-->E[data]
D[vingettes]-->F[figures]
D[vingettes]-->G((R<br>markdown<br>file))
A[Zip file]-->H((README<br>file))

style B fill:red
</div>

<script>mermaid.initialize({startOnLoad:true});</script>

In [5]:
"x" + "y" +\
"z"

'xyz'

In [7]:
a = []

In [12]:
a = a+[1,2,3,4]

In [8]:
re.findall("a.*y|t.*y","baartty")

['aartty']

dict_items([(1, 5)])