In [2]:
from sqlparsemodel.Sqlstructure import Sqlstructure
from sqlparsemodel.Sastructure import Sastructure
from sqlparsemodel.Mermaidplot import Sqltoflowchart
from sqlparsemodel.Querystate import Querystate
import re 
Querystate = Querystate()

In [36]:
query = '''


PROC SQL;
   CREATE TABLE MEOW.PAST_CLAIM_APLY_NO AS 
   SELECT DISTINCT t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO
      FROM Meow.POL_ALL_X_01
           INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.OCR_DATE ;
QUIT;



PROC SQL;
   CREATE TABLE WORK.PAST_CLAIM_ICDS AS 
   SELECT DISTINCT 
          t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO, 
          t2.DIAG_SER_NO, 
          t2.CFM_ICD_CODE1, 
          t2.CFM_ICD_CODE2, 
          t2.CFM_ICD_CODE3, 
          t2.CFM_ICD_CODE4, 
          t2.CFM_ICD_CODE5
      FROM MEOW.PAST_CLAIM_APLY_NO t1
	       INNER JOIN (SELECT * FROM QUERY.DTAAA020_AE) t2 ON (t1.APLY_NO = t2.APLY_NO);
QUIT;'''

query = '''


PROC SQL;
   CREATE TABLE MEOW.PAST_CLAIM_APLY_NO AS 
   SELECT DISTINCT t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO
      FROM Meow.POL_ALL_X_01
           INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.OCR_DATE ;
QUIT;



PROC SQL;
   CREATE TABLE WORK.PAST_CLAIM_ICDS AS 
   SELECT DISTINCT 
          t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
          t2.APLY_NO, 
          t2.DIAG_SER_NO, 
          t2.CFM_ICD_CODE1, 
          t2.CFM_ICD_CODE2, 
          t2.CFM_ICD_CODE3, 
          t2.CFM_ICD_CODE4, 
          t2.CFM_ICD_CODE5
      FROM MEOW.PAST_CLAIM_APLY_NO t1
	       INNER JOIN QUERY.DTAAA020_AE t2 ON (t1.APLY_NO = t2.APLY_NO);
QUIT;'''

query3 = '''
PROC SQL;
   CREATE TABLE Meow.product_mkt_type_cd AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
          t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1'
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;
PROC SQL;
   CREATE TABLE Meow.Main_policy AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
                 t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1' AND t1.BASE_COVERAGE_INDICATOR_CD='1'
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;
PROC SQL;
   CREATE TABLE Meow.ADD_policy AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
          t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1' AND t1.BASE_COVERAGE_INDICATOR_CD='2'
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;
PROC SQL;
   CREATE TABLE Meow.ALL_policy AS 
   SELECT t1.INSURANCE_PRODUCT_CD, 
          t1.PRODUCT_MKT_M_TYPE_CD
      FROM CR20.LIFE_INSURANCE_PRODUCT_V t1
	  WHERE  t1.X_SYS_TYPE = '1' 
      ORDER BY t1.INSURANCE_PRODUCT_CD;
QUIT;

'''

query4 = '''

PROC SQL;
   CREATE TABLE Meow.HOSPITAL_5Y_01 AS 
   SELECT DISTINCT t1.CONTRACT_NO, 
         t1.CREATE_DATE,
          t1.INSD_ID_SAS,
          t2.APLY_NO,
		  t2.POLICY_NO AS POL_2, 
		  t2.PROD_ID,
	      t2.OCR_DATE,
		  t2.E_STR_DATE,
		  t2.E_END_DATE,
		  t2.CLAM_AMT_CODE,
		  t2.CLAM_AMT_NAME,
		  t2.CLAM_CAT,
		  t2.OCR_RESN, 
          t2.BONE_CODE, 
          t2.BONE_NAME, 
		  t2.OP_CODE,
          t2.OP_NAME,
		  t2.PAY_DAY,
		  t2.PAY_AMT,
		  t2.PAY_STS
      FROM Meow.POL_ALL_X_01 t1
           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_02 AS 
   SELECT DISTINCT  t1.CONTRACT_NO, 
           t1.CREATE_DATE, 
          t1.INSD_ID_SAS,
          t1.APLY_NO,
		  t1.POL_2 , 
		  t1.PROD_ID,
	      t1.OCR_DATE,
		  t1.E_STR_DATE,
		  t1.E_END_DATE,
		  t1.OCR_RESN, 
          t1.BONE_CODE, 
          t1.BONE_NAME, 
		   t1.CLAM_AMT_CODE,
		  t1.CLAM_AMT_NAME,
		  t1.OP_CODE,
          t1.OP_NAME,
		  t1.PAY_DAY
      FROM Meow.HOSPITAL_5Y_01 t1
      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;
QUIT;


PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_03 AS 
   SELECT DISTINCT  t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
           t1.CREATE_DATE, 
          t1.POL_2, 
          t1.OCR_DATE, 
		  t1.E_STR_DATE,
		  t1.E_END_DATE,
		    /* E_STR_DATE_NEW */
		  (CASE
         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE
          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,
  /* E_END_DATE_NEW */
		(CASE 
		WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE
		ELSE t1.OCR_DATE
		END)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,
		   t1.CLAM_AMT_CODE, 
          t1.CLAM_AMT_NAME,
		  t1.OCR_RESN, 
          t1.BONE_CODE, 
          t1.BONE_NAME,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_02 t1;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS 
   SELECT DISTINCT  t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
		  t1.OCR_RESN, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE ;
QUIT;

PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
		  t1.OCR_RESN, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;
QUIT;

'''

query5 = '''
PROC SQL;
   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS 
   SELECT DISTINCT t1.CONTRACT_NO,
         t1.INSD_ID_SAS, 
		  t1.CREATE_DATE,
          t1.POL_2, 
		  t1.OCR_RESN, 
	      t1.E_STR_DATE_NEW,
         t1.E_END_DATE_NEW,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_03 t1
	  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;
QUIT;

'''

query4 = re.sub("\\/.*?\\/", "",query4)

sas_query = Sastructure(query4)

sfc = Sqltoflowchart(sas_query.from_to_property,
 sas_query.from_to_query,
 sas_query.node_property )

sfc.mermaid_plot()
sfc.mermaid_drawnode(keyword = "QUERY", token_tag = "token", color = "#28FF28")
sfc.mermaid_drawnode(keyword = "CR20", token_tag = "token", color = "#FFAA33")
sfc.mc.mermaid_txt

=======================
CREATE TABLE Meow.HOSPITAL_5Y_01 AS
   SELECT DISTINCT t1.CONTRACT_NO,
         t1.CREATE_DATE,
          t1.INSD_ID_SAS,
          t2.APLY_NO,
		  t2.POLICY_NO AS POL_2,
		  t2.PROD_ID,
	      t2.OCR_DATE,
		  t2.E_STR_DATE,
		  t2.E_END_DATE,
		  t2.CLAM_AMT_CODE,
		  t2.CLAM_AMT_NAME,
		  t2.CLAM_CAT,
		  t2.OCR_RESN,
          t2.BONE_CODE,
          t2.BONE_NAME,
		  t2.OP_CODE,
          t2.OP_NAME,
		  t2.PAY_DAY,
		  t2.PAY_AMT,
		  t2.PAY_STS
      FROM Meow.POL_ALL_X_01 t1
           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ;
{}
|- 0 Newline ' '
|- 1 Whitespace ' '
|- 2 Whitespace ' '
|- 3 Whitespace ' '
|- 4 DDL 'CREATE'
|- 5 Whitespace ' '
|- 6 Keyword 'TABLE'
|- 7 Whitespace ' '
|- 8 Identifier 'Meow.H...'
|  |- 0 Name 'Meow'
|  |- 1 Punctuation '.'
|  `- 2 Name 'HOSPIT...'
|- 9 Whitespace ' '
|- 10 Keyword 'AS'
|- 11 Whitespace ' '
|- 12 Newline ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 DML 'SELECT'
|- 17 Whitespace ' '
|- 18 Keyword 'DISTIN...'
|- 19 Whitespace ' '
|- 20 IdentifierList 't1.CON...'
|  |- 0 Identifier 't1.CON...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CONTRA...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Newline ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Whitespace ' '
|  |- 12 Whitespace ' '
|  |- 13 Identifier 't1.CRE...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CREATE...'
|  |- 14 Punctuation ','
|  |- 15 Newline ' '
|  |- 16 Whitespace ' '
|  |- 17 Whitespace ' '
|  |- 18 Whitespace ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Identifier 't1.INS...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 27 Punctuation ','
|  |- 28 Newline ' '
|  |- 29 Whitespace ' '
|  |- 30 Whitespace ' '
|  |- 31 Whitespace ' '
|  |- 32 Whitespace ' '
|  |- 33 Whitespace ' '
|  |- 34 Whitespace ' '
|  |- 35 Whitespace ' '
|  |- 36 Whitespace ' '
|  |- 37 Whitespace ' '
|  |- 38 Whitespace ' '
|  |- 39 Identifier 't2.APL...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'APLY_NO'
|  |- 40 Punctuation ','
|  |- 41 Newline ' '
|  |- 42 Whitespace ' '
|  |- 43 Whitespace ' '
|  |- 44 Whitespace ' '
|  |- 45 Whitespace ' '
|  |- 46 Identifier 't2.POL...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  |- 2 Name 'POLICY...'
|  |  |- 3 Whitespace ' '
|  |  |- 4 Keyword 'AS'
|  |  |- 5 Whitespace ' '
|  |  `- 6 Identifier 'POL_2'
|  |     `- 0 Name 'POL_2'
|  |- 47 Punctuation ','
|  |- 48 Whitespace ' '
|  |- 49 Newline ' '
|  |- 50 Whitespace ' '
|  |- 51 Whitespace ' '
|  |- 52 Whitespace ' '
|  |- 53 Whitespace ' '
|  |- 54 Identifier 't2.PRO...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 55 Punctuation ','
|  |- 56 Newline ' '
|  |- 57 Whitespace ' '
|  |- 58 Whitespace ' '
|  |- 59 Whitespace ' '
|  |- 60 Whitespace ' '
|  |- 61 Whitespace ' '
|  |- 62 Whitespace ' '
|  |- 63 Whitespace ' '
|  |- 64 Identifier 't2.OCR...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_DA...'
|  |- 65 Punctuation ','
|  |- 66 Newline ' '
|  |- 67 Whitespace ' '
|  |- 68 Whitespace ' '
|  |- 69 Whitespace ' '
|  |- 70 Whitespace ' '
|  |- 71 Identifier 't2.E_S...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'E_STR_...'
|  |- 72 Punctuation ','
|  |- 73 Newline ' '
|  |- 74 Whitespace ' '
|  |- 75 Whitespace ' '
|  |- 76 Whitespace ' '
|  |- 77 Whitespace ' '
|  |- 78 Identifier 't2.E_E...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'E_END_...'
|  |- 79 Punctuation ','
|  |- 80 Newline ' '
|  |- 81 Whitespace ' '
|  |- 82 Whitespace ' '
|  |- 83 Whitespace ' '
|  |- 84 Whitespace ' '
|  |- 85 Identifier 't2.CLA...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CLAM_A...'
|  |- 86 Punctuation ','
|  |- 87 Newline ' '
|  |- 88 Whitespace ' '
|  |- 89 Whitespace ' '
|  |- 90 Whitespace ' '
|  |- 91 Whitespace ' '
|  |- 92 Identifier 't2.CLA...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CLAM_A...'
|  |- 93 Punctuation ','
|  |- 94 Newline ' '
|  |- 95 Whitespace ' '
|  |- 96 Whitespace ' '
|  |- 97 Whitespace ' '
|  |- 98 Whitespace ' '
|  |- 99 Identifier 't2.CLA...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CLAM_C...'
|  |- 100 Punctuation ','
|  |- 101 Newline ' '
|  |- 102 Whitespace ' '
|  |- 103 Whitespace ' '
|  |- 104 Whitespace ' '
|  |- 105 Whitespace ' '
|  |- 106 Identifier 't2.OCR...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_RE...'
|  |- 107 Punctuation ','
|  |- 108 Whitespace ' '
|  |- 109 Newline ' '
|  |- 110 Whitespace ' '
|  |- 111 Whitespace ' '
|  |- 112 Whitespace ' '
|  |- 113 Whitespace ' '
|  |- 114 Whitespace ' '
|  |- 115 Whitespace ' '
|  |- 116 Whitespace ' '
|  |- 117 Whitespace ' '
|  |- 118 Whitespace ' '
|  |- 119 Whitespace ' '
|  |- 120 Identifier 't2.BON...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'BONE_C...'
|  |- 121 Punctuation ','
|  |- 122 Whitespace ' '
|  |- 123 Newline ' '
|  |- 124 Whitespace ' '
|  |- 125 Whitespace ' '
|  |- 126 Whitespace ' '
|  |- 127 Whitespace ' '
|  |- 128 Whitespace ' '
|  |- 129 Whitespace ' '
|  |- 130 Whitespace ' '
|  |- 131 Whitespace ' '
|  |- 132 Whitespace ' '
|  |- 133 Whitespace ' '
|  |- 134 Identifier 't2.BON...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'BONE_N...'
|  |- 135 Punctuation ','
|  |- 136 Whitespace ' '
|  |- 137 Newline ' '
|  |- 138 Whitespace ' '
|  |- 139 Whitespace ' '
|  |- 140 Whitespace ' '
|  |- 141 Whitespace ' '
|  |- 142 Identifier 't2.OP_...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OP_CODE'
|  |- 143 Punctuation ','
|  |- 144 Newline ' '
|  |- 145 Whitespace ' '
|  |- 146 Whitespace ' '
|  |- 147 Whitespace ' '
|  |- 148 Whitespace ' '
|  |- 149 Whitespace ' '
|  |- 150 Whitespace ' '
|  |- 151 Whitespace ' '
|  |- 152 Whitespace ' '
|  |- 153 Whitespace ' '
|  |- 154 Whitespace ' '
|  |- 155 Identifier 't2.OP_...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OP_NAME'
|  |- 156 Punctuation ','
|  |- 157 Newline ' '
|  |- 158 Whitespace ' '
|  |- 159 Whitespace ' '
|  |- 160 Whitespace ' '
|  |- 161 Whitespace ' '
|  |- 162 Identifier 't2.PAY...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PAY_DAY'
|  |- 163 Punctuation ','
|  |- 164 Newline ' '
|  |- 165 Whitespace ' '
|  |- 166 Whitespace ' '
|  |- 167 Whitespace ' '
|  |- 168 Whitespace ' '
|  |- 169 Identifier 't2.PAY...'
|  |  |- 0 Name 't2'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PAY_AMT'
|  |- 170 Punctuation ','
|  |- 171 Newline ' '
|  |- 172 Whitespace ' '
|  |- 173 Whitespace ' '
|  |- 174 Whitespace ' '
|  |- 175 Whitespace ' '
|  `- 176 Identifier 't2.PAY...'
|     |- 0 Name 't2'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PAY_STS'
|- 21 Newline ' '
|- 22 Whitespace ' '
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 Keyword 'FROM'
|- 29 Whitespace ' '
|- 30 Identifier 'Meow.P...'
|  |- 0 Name 'Meow'
|  |- 1 Punctuation '.'
|  |- 2 Name 'POL_AL...'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't1'
|     `- 0 Name 't1'
|- 31 Newline ' '
|- 32 Whitespace ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
|- 39 Whitespace ' '
|- 40 Whitespace ' '
|- 41 Whitespace ' '
|- 42 Whitespace ' '
|- 43 Keyword 'LEFT J...'
|- 44 Whitespace ' '
|- 45 Identifier 'QUERY....'
|  |- 0 Name 'QUERY'
|  |- 1 Punctuation '.'
|  |- 2 Name 'DTAAB0...'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't2'
|     `- 0 Name 't2'
|- 46 Whitespace ' '
|- 47 Keyword 'ON'
|- 48 Whitespace ' '
|- 49 Parenthesis '(t1.IN...'
|  |- 0 Punctuation '('
|  |- 1 Comparison 't1.INS...'
|  |  |- 0 Identifier 't1.INS...'
|  |  |  |- 0 Name 't1'
|  |  |  |- 1 Punctuation '.'
|  |  |  `- 2 Name 'INSD_I...'
|  |  |- 1 Whitespace ' '
|  |  |- 2 Comparison '='
|  |  |- 3 Whitespace ' '
|  |  `- 4 Identifier 't2.OCR...'
|  |     |- 0 Name 't2'
|  |     |- 1 Punctuation '.'
|  |     `- 2 Name 'OCR_ID...'
|  `- 2 Punctuation ')'
|- 50 Newline ' '
|- 51 Whitespace ' '
|- 52 Whitespace ' '
|- 53 Whitespace ' '
|- 54 Whitespace ' '
|- 55 Whitespace ' '
|- 56 Whitespace ' '
`- 57 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Comparison 't1.CRE...'
   |  |- 0 Identifier 't1.CRE...'
   |  |  |- 0 Name 't1'
   |  |  |- 1 Punctuation '.'
   |  |  `- 2 Name 'CREATE...'
   |  |- 1 Whitespace ' '
   |  |- 2 Comparison '>'
   |  |- 3 Whitespace ' '
   |  `- 4 Identifier 't2.ISS...'
   |     |- 0 Name 't2'
   |     |- 1 Punctuation '.'
   |     `- 2 Name 'ISSUE_...'
   |- 3 Whitespace ' '
   `- 4 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T1.CREATE_DATE > T2.ISSUE_DATE ;
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
JOIN表示句:LEFT JOIN
ON表示句:ON
WHERE表示句:WHERE T1.CREATE_DATE > T2.ISSUE_DATE ;
=======================
CREATE TABLE WORK.HOSPITAL_5Y_02 AS
   SELECT DISTINCT  t1.CONTRACT_NO,
           t1.CREATE_DATE,
          t1.INSD_ID_SAS,
          t1.APLY_NO,
		  t1.POL_2 ,
		  t1.PROD_ID,
	      t1.OCR_DATE,
		  t1.E_STR_DATE,
		  t1.E_END_DATE,
		  t1.OCR_RESN,
          t1.BONE_CODE,
          t1.BONE_NAME,
		   t1.CLAM_AMT_CODE,
		  t1.CLAM_AMT_NAME,
		  t1.OP_CODE,
          t1.OP_NAME,
		  t1.PAY_DAY
      FROM Meow.HOSPITAL_5Y_01 t1
      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;
{}
|- 0 Newline ' '
|- 1 Whitespace ' '
|- 2 Whitespace ' '
|- 3 Whitespace ' '
|- 4 DDL 'CREATE'
|- 5 Whitespace ' '
|- 6 Keyword 'TABLE'
|- 7 Whitespace ' '
|- 8 Identifier 'WORK.H...'
|  |- 0 Name 'WORK'
|  |- 1 Punctuation '.'
|  `- 2 Name 'HOSPIT...'
|- 9 Whitespace ' '
|- 10 Keyword 'AS'
|- 11 Whitespace ' '
|- 12 Newline ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 DML 'SELECT'
|- 17 Whitespace ' '
|- 18 Keyword 'DISTIN...'
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 IdentifierList 't1.CON...'
|  |- 0 Identifier 't1.CON...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CONTRA...'
|  |- 1 Punctuation ','
|  |- 2 Whitespace ' '
|  |- 3 Newline ' '
|  |- 4 Whitespace ' '
|  |- 5 Whitespace ' '
|  |- 6 Whitespace ' '
|  |- 7 Whitespace ' '
|  |- 8 Whitespace ' '
|  |- 9 Whitespace ' '
|  |- 10 Whitespace ' '
|  |- 11 Whitespace ' '
|  |- 12 Whitespace ' '
|  |- 13 Whitespace ' '
|  |- 14 Whitespace ' '
|  |- 15 Identifier 't1.CRE...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CREATE...'
|  |- 16 Punctuation ','
|  |- 17 Whitespace ' '
|  |- 18 Newline ' '
|  |- 19 Whitespace ' '
|  |- 20 Whitespace ' '
|  |- 21 Whitespace ' '
|  |- 22 Whitespace ' '
|  |- 23 Whitespace ' '
|  |- 24 Whitespace ' '
|  |- 25 Whitespace ' '
|  |- 26 Whitespace ' '
|  |- 27 Whitespace ' '
|  |- 28 Whitespace ' '
|  |- 29 Identifier 't1.INS...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'INSD_I...'
|  |- 30 Punctuation ','
|  |- 31 Newline ' '
|  |- 32 Whitespace ' '
|  |- 33 Whitespace ' '
|  |- 34 Whitespace ' '
|  |- 35 Whitespace ' '
|  |- 36 Whitespace ' '
|  |- 37 Whitespace ' '
|  |- 38 Whitespace ' '
|  |- 39 Whitespace ' '
|  |- 40 Whitespace ' '
|  |- 41 Whitespace ' '
|  |- 42 Identifier 't1.APL...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'APLY_NO'
|  |- 43 Punctuation ','
|  |- 44 Newline ' '
|  |- 45 Whitespace ' '
|  |- 46 Whitespace ' '
|  |- 47 Whitespace ' '
|  |- 48 Whitespace ' '
|  |- 49 Identifier 't1.POL...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'POL_2'
|  |- 50 Whitespace ' '
|  |- 51 Punctuation ','
|  |- 52 Whitespace ' '
|  |- 53 Newline ' '
|  |- 54 Whitespace ' '
|  |- 55 Whitespace ' '
|  |- 56 Whitespace ' '
|  |- 57 Whitespace ' '
|  |- 58 Identifier 't1.PRO...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'PROD_ID'
|  |- 59 Punctuation ','
|  |- 60 Newline ' '
|  |- 61 Whitespace ' '
|  |- 62 Whitespace ' '
|  |- 63 Whitespace ' '
|  |- 64 Whitespace ' '
|  |- 65 Whitespace ' '
|  |- 66 Whitespace ' '
|  |- 67 Whitespace ' '
|  |- 68 Identifier 't1.OCR...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_DA...'
|  |- 69 Punctuation ','
|  |- 70 Newline ' '
|  |- 71 Whitespace ' '
|  |- 72 Whitespace ' '
|  |- 73 Whitespace ' '
|  |- 74 Whitespace ' '
|  |- 75 Identifier 't1.E_S...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'E_STR_...'
|  |- 76 Punctuation ','
|  |- 77 Newline ' '
|  |- 78 Whitespace ' '
|  |- 79 Whitespace ' '
|  |- 80 Whitespace ' '
|  |- 81 Whitespace ' '
|  |- 82 Identifier 't1.E_E...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'E_END_...'
|  |- 83 Punctuation ','
|  |- 84 Newline ' '
|  |- 85 Whitespace ' '
|  |- 86 Whitespace ' '
|  |- 87 Whitespace ' '
|  |- 88 Whitespace ' '
|  |- 89 Identifier 't1.OCR...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OCR_RE...'
|  |- 90 Punctuation ','
|  |- 91 Whitespace ' '
|  |- 92 Newline ' '
|  |- 93 Whitespace ' '
|  |- 94 Whitespace ' '
|  |- 95 Whitespace ' '
|  |- 96 Whitespace ' '
|  |- 97 Whitespace ' '
|  |- 98 Whitespace ' '
|  |- 99 Whitespace ' '
|  |- 100 Whitespace ' '
|  |- 101 Whitespace ' '
|  |- 102 Whitespace ' '
|  |- 103 Identifier 't1.BON...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'BONE_C...'
|  |- 104 Punctuation ','
|  |- 105 Whitespace ' '
|  |- 106 Newline ' '
|  |- 107 Whitespace ' '
|  |- 108 Whitespace ' '
|  |- 109 Whitespace ' '
|  |- 110 Whitespace ' '
|  |- 111 Whitespace ' '
|  |- 112 Whitespace ' '
|  |- 113 Whitespace ' '
|  |- 114 Whitespace ' '
|  |- 115 Whitespace ' '
|  |- 116 Whitespace ' '
|  |- 117 Identifier 't1.BON...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'BONE_N...'
|  |- 118 Punctuation ','
|  |- 119 Whitespace ' '
|  |- 120 Newline ' '
|  |- 121 Whitespace ' '
|  |- 122 Whitespace ' '
|  |- 123 Whitespace ' '
|  |- 124 Whitespace ' '
|  |- 125 Whitespace ' '
|  |- 126 Identifier 't1.CLA...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CLAM_A...'
|  |- 127 Punctuation ','
|  |- 128 Newline ' '
|  |- 129 Whitespace ' '
|  |- 130 Whitespace ' '
|  |- 131 Whitespace ' '
|  |- 132 Whitespace ' '
|  |- 133 Identifier 't1.CLA...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'CLAM_A...'
|  |- 134 Punctuation ','
|  |- 135 Newline ' '
|  |- 136 Whitespace ' '
|  |- 137 Whitespace ' '
|  |- 138 Whitespace ' '
|  |- 139 Whitespace ' '
|  |- 140 Identifier 't1.OP_...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OP_CODE'
|  |- 141 Punctuation ','
|  |- 142 Newline ' '
|  |- 143 Whitespace ' '
|  |- 144 Whitespace ' '
|  |- 145 Whitespace ' '
|  |- 146 Whitespace ' '
|  |- 147 Whitespace ' '
|  |- 148 Whitespace ' '
|  |- 149 Whitespace ' '
|  |- 150 Whitespace ' '
|  |- 151 Whitespace ' '
|  |- 152 Whitespace ' '
|  |- 153 Identifier 't1.OP_...'
|  |  |- 0 Name 't1'
|  |  |- 1 Punctuation '.'
|  |  `- 2 Name 'OP_NAME'
|  |- 154 Punctuation ','
|  |- 155 Newline ' '
|  |- 156 Whitespace ' '
|  |- 157 Whitespace ' '
|  |- 158 Whitespace ' '
|  |- 159 Whitespace ' '
|  `- 160 Identifier 't1.PAY...'
|     |- 0 Name 't1'
|     |- 1 Punctuation '.'
|     `- 2 Name 'PAY_DAY'
|- 22 Newline ' '
|- 23 Whitespace ' '
|- 24 Whitespace ' '
|- 25 Whitespace ' '
|- 26 Whitespace ' '
|- 27 Whitespace ' '
|- 28 Whitespace ' '
|- 29 Keyword 'FROM'
|- 30 Whitespace ' '
|- 31 Identifier 'Meow.H...'
|  |- 0 Name 'Meow'
|  |- 1 Punctuation '.'
|  |- 2 Name 'HOSPIT...'
|  |- 3 Whitespace ' '
|  `- 4 Identifier 't1'
|     `- 0 Name 't1'
|- 32 Newline ' '
|- 33 Whitespace ' '
|- 34 Whitespace ' '
|- 35 Whitespace ' '
|- 36 Whitespace ' '
|- 37 Whitespace ' '
|- 38 Whitespace ' '
`- 39 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Comparison 't1.PAY...'
   |  |- 0 Identifier 't1.PAY...'
   |  |  |- 0 Name 't1'
   |  |  |- 1 Punctuation '.'
   |  |  `- 2 Name 'PAY_AMT'
   |  |- 1 Whitespace ' '
   |  |- 2 Comparison '>'
   |  |- 3 Whitespace ' '
   |  `- 4 Integer '0'
   |- 3 Whitespace ' '
   |- 4 Keyword 'AND'
   |- 5 Whitespace ' '
   |- 6 Identifier 't1.PAY...'
   |  |- 0 Name 't1'
   |  |- 1 Punctuation '.'
   |  `- 2 Name 'PAY_STS'
   |- 7 Whitespace ' '
   |- 8 Keyword 'NOT'
   |- 9 Whitespace ' '
   |- 10 Comparison '='
   |- 11 Whitespace ' '
   |- 12 Single "'5'"
   |- 13 Whitespace ' '
   |- 14 Whitespace ' '
   |- 15 Keyword 'AND'
   |- 16 Whitespace ' '
   |- 17 Identifier 'CLAM_A...'
   |  `- 0 Name 'CLAM_A...'
   |- 18 Whitespace ' '
   |- 19 Keyword 'in'
   |- 20 Parenthesis '( 'BEE...'
   |  |- 0 Punctuation '('
   |  |- 1 Whitespace ' '
   |  |- 2 IdentifierList ''BEE1'...'
   |  |  |- 0 Single "'BEE1'"
   |  |  |- 1 Whitespace ' '
   |  |  |- 2 Punctuation ','
   |  |  |- 3 Whitespace ' '
   |  |  `- 4 Single "'BEF1'"
   |  `- 3 Punctuation ')'
   |- 21 Whitespace ' '
   |- 22 Keyword 'AND'
   |- 23 Whitespace ' '
   |- 24 Whitespace ' '
   |- 25 Identifier 't1.CLA...'
   |  |- 0 Name 't1'
   |  |- 1 Punctuation '.'
   |  `- 2 Name 'CLAM_C...'
   |- 26 Whitespace ' '
   |- 27 Keyword 'in'
   |- 28 Whitespace ' '
   |- 29 Parenthesis '('E' ,...'
   |  |- 0 Punctuation '('
   |  |- 1 IdentifierList ''E' ,'...'
   |  |  |- 0 Single "'E'"
   |  |  |- 1 Whitespace ' '
   |  |  |- 2 Punctuation ','
   |  |  `- 3 Single "'F'"
   |  `- 2 Punctuation ')'
   |- 30 Whitespace ' '
   |- 31 Keyword 'AND'
   |- 32 Whitespace ' '
   |- 33 Comparison 't1.BON...'
   |  |- 0 Identifier 't1.BON...'
   |  |  |- 0 Name 't1'
   |  |  |- 1 Punctuation '.'
   |  |  `- 2 Name 'BONE_C...'
   |  |- 1 Whitespace ' '
   |  |- 2 Comparison '='
   |  `- 3 Single "''"
   |- 34 Whitespace ' '
   `- 35 Punctuation ';'
None
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T1.PAY_AMT > 0 AND T1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE IN( 'BEE1' , 'BEF1') AND  T1.CLAM_CAT IN ('E' ,'F') AND T1.BONE_CODE ='' ;
1
================
SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T1.PAY_AMT > 0 AND T1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE IN( 'BEE1' , 'BEF1') AND  T1.CLAM_CAT IN ('E' ,'F') AND T1.BONE_CODE ='' ;
=======================
CREATE TABLE WORK.HOSPITAL_5Y_03 AS
   SELECT DISTINCT  t1.CONTRACT_NO,
          t1.INSD_ID_SAS,
           t1.CREATE_DATE,
          t1.POL_2,
          t1.OCR_DATE,
		  t1.E_STR_DATE,
		  t1.E_END_DATE,

		  (CASE
         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE
          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,

		(CASE
		WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE
		ELSE t1.OCR_DATE
		END)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,
		   t1.CLAM_AMT_CODE,
          t1.CLAM_AMT_NAME,
		  t1.OCR_RESN,
          t1.BONE_CODE,
          t1.BONE_NAME,
          t1.PAY_DAY
      FROM WORK.HOSPITAL_5Y_02 t1;
{}
|- 0 Newline ' '
|- 1 Whitespace ' '
|- 2 Whitespace ' '
|- 3 Whitespace ' '
|- 4 DDL 'CREATE'
|- 5 Whitespace ' '
|- 6 Keyword 'TABLE'
|- 7 Whitespace ' '
|- 8 Identifier 'WORK.H...'
|  |- 0 Name 'WORK'
|  |- 1 Punctuation '.'
|  `- 2 Name 'HOSPIT...'
|- 9 Whitespace ' '
|- 10 Keyword 'AS'
|- 11 Whitespace ' '
|- 12 Newline ' '
|- 13 Whitespace ' '
|- 14 Whitespace ' '
|- 15 Whitespace ' '
|- 16 DML 'SELECT'
|- 17 Whitespace ' '
|- 18 Keyword 'DISTIN...'
|- 19 Whitespace ' '
|- 20 Whitespace ' '
|- 21 IdentifierList 't1.CON...'

SELECT表示句:TABLE
OTHER表示句:AS
SELECT表示句:SELECT
FROM表示句:FROM
WHERE表示句:WHERE T1.E_END_DATE_NEW >=  T1.CREATE_DATE-365*2 AND T1.E_STR_DATE_NEW <  T1.CREATE_DATE-365*1 ;
columnnames['from', 'to']
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
columnnames['from', 'to']
columnnames['6', '8']
columnnames['11', '13']
columnnames['15', '17']
columnnames['15', '22']

"graph TD;subgraph Meow.HOSPITAL_5Y_01;2(<center><b>FROM</b><br>Meow.POL_ALL_X_01, t1</center>)-->1{<center><b>FROM</b></center>};3(<center><b>FROM</b><br>QUERY.DTAAB001_Q, t2</center>)-->1{<center><b>FROM</b></center>};1{<center><b>FROM</b></center>}-->|<center>Meow.POL_ALL_X_01 t1 <b>LEFT JOIN </b>QUERY.DTAAB001_Q t2 ON <br> t1.INSD_ID_SAS = t2.OCR_ID_SAS </center>|4{<center><b>WHERE</b></center>};4{<center><b>WHERE</b></center>}-->|<center>WHERE t1.CREATE_DATE > t2.ISSUE_DATE </center>|5{<center><b>SELECT</b></center>};5{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br> t1.CREATE_DATE, <br>t1.INSD_ID_SAS, <br>t2.APLY_NO, <br>t2.POLICY_NO AS POL_2, <br> t2.PROD_ID, <br>t2.OCR_DATE, <br>t2.E_STR_DATE, <br>t2.E_END_DATE, <br>t2.CLAM_AMT_CODE, <br>t2.CLAM_AMT_NAME, <br>t2.CLAM_CAT, <br>t2.OCR_RESN, <br> t2.BONE_CODE, <br> t2.BONE_NAME, <br> t2.OP_CODE, <br>t2.OP_NAME, <br>t2.PAY_DAY, <br>t2.PAY_AMT, <br>t2.PAY_STS</center>|6(<center><b>TABLE</b><br>Meow.HOSPITAL_5Y_01, </center>);end; subgraph WORK.HOSPITAL_5Y_02;8(<center><b>FROM</b><br>Meow.HOSPITAL_5Y_01, t1</center>)-->7{<center><b>FROM</b></center>};7{<center><b>FROM</b></center>}-->|<center>Meow.HOSPITAL_5Y_01 t1</center>|9{<center><b>WHERE</b></center>};9{<center><b>WHERE</b></center>}-->|<center>WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in  'BEE1' , <br> 'BEF1'  AND  t1.CLAM_CAT in  'E' , <br>'F'  AND t1.BONE_CODE ='' </center>|10{<center><b>SELECT</b></center>};10{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br> t1.CREATE_DATE, <br> t1.INSD_ID_SAS, <br>t1.APLY_NO, <br>t1.POL_2 , <br> t1.PROD_ID, <br>t1.OCR_DATE, <br>t1.E_STR_DATE, <br>t1.E_END_DATE, <br>t1.OCR_RESN, <br> t1.BONE_CODE, <br> t1.BONE_NAME, <br> t1.CLAM_AMT_CODE, <br>t1.CLAM_AMT_NAME, <br>t1.OP_CODE, <br>t1.OP_NAME, <br>t1.PAY_DAY</center>|11(<center><b>TABLE</b><br>WORK.HOSPITAL_5Y_02, </center>);end; subgraph WORK.HOSPITAL_5Y_03;13(<center><b>FROM</b><br>WORK.HOSPITAL_5Y_02, t1</center>)-->12{<center><b>FROM</b></center>};12{<center><b>FROM</b></center>}-->|<center>WORK.HOSPITAL_5Y_02 t1 </center>|14{<center><b>SELECT</b></center>};14{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br>t1.CREATE_DATE, <br> t1.POL_2, <br> t1.OCR_DATE, <br> t1.E_STR_DATE, <br>t1.E_END_DATE, <br> CASEWHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATEELSE t1.OCR_DATE END   FORMAT=date9. AS E_STR_DATE_NEW, <br> CASE WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATEELSE t1.OCR_DATEEND +t1.PAY_DAY -1  FORMAT=date9. AS E_END_DATE_NEW, <br>t1.CLAM_AMT_CODE, <br> t1.CLAM_AMT_NAME, <br>t1.OCR_RESN, <br> t1.BONE_CODE, <br> t1.BONE_NAME, <br>t1.PAY_DAY</center>|15(<center><b>TABLE</b><br>WORK.HOSPITAL_5Y_03, </center>);end; subgraph WORK.HOSPITAL_5Y_04_year_0to1;17(<center><b>FROM</b><br>WORK.HOSPITAL_5Y_03, t1</center>)-->16{<center><b>FROM</b></center>};16{<center><b>FROM</b></center>}-->|<center>WORK.HOSPITAL_5Y_03 t1</center>|18{<center><b>WHERE</b></center>};18{<center><b>WHERE</b></center>}-->|<center>WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE </center>|19{<center><b>SELECT</b></center>};19{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br> t1.CREATE_DATE, <br>t1.POL_2, <br> t1.OCR_RESN, <br> t1.E_STR_DATE_NEW, <br>t1.E_END_DATE_NEW, <br>t1.PAY_DAY</center>|20(<center><b>TABLE</b><br>WORK.HOSPITAL_5Y_04_year_0to1, </center>);end; subgraph WORK.HOSPITAL_5Y_04_year_1to2;22(<center><b>FROM</b><br>WORK.HOSPITAL_5Y_03, t1</center>)-->21{<center><b>FROM</b></center>};21{<center><b>FROM</b></center>}-->|<center>WORK.HOSPITAL_5Y_03 t1</center>|23{<center><b>WHERE</b></center>};23{<center><b>WHERE</b></center>}-->|<center>WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 </center>|24{<center><b>SELECT</b></center>};24{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br> t1.CREATE_DATE, <br>t1.POL_2, <br> t1.OCR_RESN, <br> t1.E_STR_DATE_NEW, <br>t1.E_END_DATE_NEW, <br>t1.PAY_DAY</center>|25(<center><b>TABLE</b><br>WORK.HOSPITAL_5Y_04_year_1to2, </center>);end; 6-.->8;11-.->13;15-.->17;15-.->22;\n style 3 fill:#28FF28;"

In [21]:
re.sub("\\/.*?\\/", "", query4)

"\n\nPROC SQL;\n   CREATE TABLE Meow.HOSPITAL_5Y_01 AS \n   SELECT DISTINCT t1.CONTRACT_NO, \n         t1.CREATE_DATE,\n          t1.INSD_ID_SAS,\n          t2.APLY_NO,\n\t\t  t2.POLICY_NO AS POL_2, \n\t\t  t2.PROD_ID,\n\t      t2.OCR_DATE,\n\t\t  t2.E_STR_DATE,\n\t\t  t2.E_END_DATE,\n\t\t  t2.CLAM_AMT_CODE,\n\t\t  t2.CLAM_AMT_NAME,\n\t\t  t2.CLAM_CAT,\n\t\t  t2.OCR_RESN, \n          t2.BONE_CODE, \n          t2.BONE_NAME, \n\t\t  t2.OP_CODE,\n          t2.OP_NAME,\n\t\t  t2.PAY_DAY,\n\t\t  t2.PAY_AMT,\n\t\t  t2.PAY_STS\n      FROM Meow.POL_ALL_X_01 t1\n           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)\n      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_02 AS \n   SELECT DISTINCT  t1.CONTRACT_NO, \n           t1.CREATE_DATE, \n          t1.INSD_ID_SAS,\n          t1.APLY_NO,\n\t\t  t1.POL_2 , \n\t\t  t1.PROD_ID,\n\t      t1.OCR_DATE,\n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME, \n\t\t   t1.CLAM_AMT_CODE,\n\t\t  t1.CLAM_AMT_NAME,\n\t\t  t1.OP_CODE,\n          t1.OP_NAME,\n\t\t  t1.PAY_DAY\n      FROM Meow.HOSPITAL_5Y_01 t1\n      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;\nQUIT;\n\n%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_03_1);\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_03 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n          t1.INSD_ID_SAS,\n           t1.CREATE_DATE, \n          t1.POL_2, \n          t1.OCR_DATE, \n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t    \n\t\t  (CASE\n         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,\n  \n\t\t(CASE \n\t\tWHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n\t\tELSE t1.OCR_DATE\n\t\tEND)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,\n\t\t   t1.CLAM_AMT_CODE, \n          t1.CLAM_AMT_NAME,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_02 t1;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS \n   SELECT DISTINCT t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;\nQUIT;\n\n"

In [16]:
query4

"\n\nPROC SQL;\n   CREATE TABLE Meow.HOSPITAL_5Y_01 AS \n   SELECT DISTINCT t1.CONTRACT_NO, \n         t1.CREATE_DATE,\n          t1.INSD_ID_SAS,\n          t2.APLY_NO,\n\t\t  t2.POLICY_NO AS POL_2, \n\t\t  t2.PROD_ID,\n\t      t2.OCR_DATE,\n\t\t  t2.E_STR_DATE,\n\t\t  t2.E_END_DATE,\n\t\t  t2.CLAM_AMT_CODE,\n\t\t  t2.CLAM_AMT_NAME,\n\t\t  t2.CLAM_CAT,\n\t\t  t2.OCR_RESN, \n          t2.BONE_CODE, \n          t2.BONE_NAME, \n\t\t  t2.OP_CODE,\n          t2.OP_NAME,\n\t\t  t2.PAY_DAY,\n\t\t  t2.PAY_AMT,\n\t\t  t2.PAY_STS\n      FROM Meow.POL_ALL_X_01 t1\n           LEFT JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)\n      WHERE t1.CREATE_DATE > t2.ISSUE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_02 AS \n   SELECT DISTINCT  t1.CONTRACT_NO, \n           t1.CREATE_DATE, \n          t1.INSD_ID_SAS,\n          t1.APLY_NO,\n\t\t  t1.POL_2 , \n\t\t  t1.PROD_ID,\n\t      t1.OCR_DATE,\n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME, \n\t\t   t1.CLAM_AMT_CODE,\n\t\t  t1.CLAM_AMT_NAME,\n\t\t  t1.OP_CODE,\n          t1.OP_NAME,\n\t\t  t1.PAY_DAY\n      FROM Meow.HOSPITAL_5Y_01 t1\n      WHERE t1.PAY_AMT > 0 AND t1.PAY_STS NOT = '5'  AND CLAM_AMT_CODE in( 'BEE1' , 'BEF1') AND  t1.CLAM_CAT in ('E' ,'F') AND t1.BONE_CODE ='' ;\nQUIT;\n\n%_eg_conditional_dropds(WORK.QUERY_FOR_HOSPITAL_5Y_03_1);\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_03 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n          t1.INSD_ID_SAS,\n           t1.CREATE_DATE, \n          t1.POL_2, \n          t1.OCR_DATE, \n\t\t  t1.E_STR_DATE,\n\t\t  t1.E_END_DATE,\n\t\t    /* E_STR_DATE_NEW */\n\t\t  (CASE\n         WHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n          ELSE t1.OCR_DATE END)  FORMAT=date9. AS E_STR_DATE_NEW,\n  /* E_END_DATE_NEW */\n\t\t(CASE \n\t\tWHEN t1.E_STR_DATE NOT IS MISSING THEN t1.E_STR_DATE\n\t\tELSE t1.OCR_DATE\n\t\tEND)+t1.PAY_DAY-1  FORMAT=date9. AS E_END_DATE_NEW,\n\t\t   t1.CLAM_AMT_CODE, \n          t1.CLAM_AMT_NAME,\n\t\t  t1.OCR_RESN, \n          t1.BONE_CODE, \n          t1.BONE_NAME,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_02 t1;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_0to1 AS \n   SELECT DISTINCT  t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=   t1.CREATE_DATE-365*1 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE ;\nQUIT;\n\nPROC SQL;\n   CREATE TABLE WORK.HOSPITAL_5Y_04_year_1to2 AS \n   SELECT DISTINCT t1.CONTRACT_NO,\n         t1.INSD_ID_SAS, \n\t\t  t1.CREATE_DATE,\n          t1.POL_2, \n\t\t  t1.OCR_RESN, \n\t      t1.E_STR_DATE_NEW,\n         t1.E_END_DATE_NEW,\n          t1.PAY_DAY\n      FROM WORK.HOSPITAL_5Y_03 t1\n\t  WHERE t1.E_END_DATE_NEW >=  t1.CREATE_DATE-365*2 AND t1.E_STR_DATE_NEW <  t1.CREATE_DATE-365*1 ;\nQUIT;\n\n"

In [3]:
sas_query.from_to_query

[['from', 'to'], ['6', '8']]

In [4]:
sas_query.from_to_property

[['from', 'to'],
 ['2', '1'],
 ['3', '1'],
 ['1', '4'],
 ['4', '5'],
 ['5', '6'],
 ['8', '7'],
 ['9', '7'],
 ['7', '10'],
 ['10', '11']]

In [5]:
for item in sas_query.node_dict.items():
    print(str(item[0]) + " : " + "Node_prop : " + str(item[1][3]) + "," + str(item[1][4]) + " \n    Node_value : " + str(item[1][5]))

1 : Node_prop : FROM,value
    Node_value : Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)
2 : Node_prop : FROM,token
    Node_value : alias:, Database:Meow, Table:POL_ALL_X_01
3 : Node_prop : FROM,token
    Node_value : alias:t2, Database:QUERY, Table:DTAAB001_Q
4 : Node_prop : WHERE,value
    Node_value : WHERE t1.CREATE_DATE > t2.OCR_DATE ;
5 : Node_prop : SELECT,value
    Node_value : DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO
6 : Node_prop : TABLE,token
    Node_value : MEOW.PAST_CLAIM_APLY_NO
7 : Node_prop : FROM,value
    Node_value : MEOW.PAST_CLAIM_APLY_NO t1 INNER JOIN QUERY.DTAAA020_AE t2 ON (t1.APLY_NO = t2.APLY_NO) ;
8 : Node_prop : FROM,token
    Node_value : alias:t1, Database:MEOW, Table:PAST_CLAIM_APLY_NO
9 : Node_prop : FROM,token
    Node_value : alias:t2, Database:QUERY, Table:DTAAA020_AE
10 : Node_prop : SELECT,value
    Node_value : DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO, t2.DIAG_SER_NO, t2.CFM_ICD_CODE1, t2.CFM_ICD_CODE2, t2.CFM_ICD_CODE3, t2.CFM_ICD_CODE4, t2.CFM_ICD_CODE5
11 : Node_prop : TABLE,token
    Node_value : WORK.PAST_CLAIM_ICDS

In [2]:
import markdown
text = """
# Title

Some text.

~~~mermaid
graph TB
A --> B
B --> C
~~~

Some other text.

~~~mermaid
graph TB
D --> E
E --> F
~~~
"""

html = markdown.markdown(text, extensions=['md_mermaid'])

print(html)

<h1>Title</h1>
<p>Some text.</p>
<div class="mermaid">
graph TB
A --> B
B --> C
</div>

<p>Some other text.</p>
<div class="mermaid">
graph TB
D --> E
E --> F
</div>

<script>mermaid.initialize({startOnLoad:true});</script>

In [237]:
class Mermaid_creator():
    
    def __init__(self):
        self.mermaid_txt = "graph TD;"
    
    # 00 Close Sentence
    def close_sentence(self):
        self.mermaid_txt += ";"
    
    # 01 Add Node    
    def add_node(self, shape = "", txt = "", node_id = ""):
        # Setting node id 
        self.mermaid_txt += str(node_id)
        
        # Setting texts
        if shape == "rectangular":
            self.mermaid_txt += "[" + txt +"]"
            
        elif shape == "roundedges":
            self.mermaid_txt += "(" + txt +")"
            
        elif shape == "circle":
            self.mermaid_txt += "((" + txt +"))"
            
        elif shape == "tag":
            self.mermaid_txt += ">" + txt +"]"
            
        elif shape == "diamond":
            self.mermaid_txt += "{" + txt +"}" 
            
            
    # 02 Add Link        
    def add_link(self, shape = "", txt = ""):
        
        # Setting relation texts
        if shape == "":
            print("please set a shape for line")
        
        # 01 Arrowhead
        elif shape == "arrowhead" :
            if txt == "" : 
                self.mermaid_txt += "-->"
            else:
                self.mermaid_txt += "-->" + "|" + txt + "|"
        
        # 02 Openlink
        elif shape == "openlink" :
            if txt == "" : 
                self.mermaid_txt += "---"
            else:
                self.mermaid_txt += "---" + "|" + txt + "|"
                
        # 03 Dotted link
        elif shape == "dottedlink" :
            if txt == "" : 
                self.mermaid_txt += "-.->"
            else:
                self.mermaid_txt += "-." + txt + ".->"
        
        # 03 Thick link
        elif shape == "thicklink" :
            if txt == "" : 
                self.mermaid_txt += "==>"
            else:
                self.mermaid_txt += "==" + txt + "==>"
                
    # 03 Subgraphs        
    def subgraph(self, state = "", txt = ""):
        # Setting relation texts
        if state == "" :
            print("please set a shape and text for subgraph")
            
        if state == "start":
            self.mermaid_txt += "subgraph " + txt + ";"
            
        if state == "end" and txt == "":
            self.mermaid_txt += "end; "
            
    # 04 Setting Style 
    def add_node_color(self, node_id, color) :
        # Setting node Color
        self.mermaid_txt += "\n style " + node_id + " fill:" + color + ";"

In [7]:
mc = Mermaid_creator()
mc.subgraph(state = "start", txt = "123456789")

In [8]:
mc = Mermaid_creator()

mc.subgraph(state = "start", txt = "123456789")
mc.add_node(shape = "rectangular", txt = "First Node", node_id = "1")
mc.add_link(shape = "arrowhead", txt = "")
mc.add_node(shape = "rectangular", txt = "Second Node", node_id = "2")
mc.close_sentence()

mc.add_node(shape = "roundedges", txt = "Third Node", node_id = "3")
mc.add_link(shape = "arrowhead", txt = "Some relations")
mc.add_node(shape = "rectangular", txt = "Second Node", node_id = "2")
mc.close_sentence()
mc.subgraph(state = "end")

mc.add_node(shape = "rectangular", txt = "Second Node", node_id = "2")
mc.add_link(shape = "dottedlink", txt = "table connect")
mc.add_node(shape = "diamond", txt = "Forth Node", node_id = "4")
mc.close_sentence()

mc.add_node(node_id = "4")
mc.add_link(shape = "dottedlink", txt = "table connect")
mc.add_node(node_id = "5")
mc.close_sentence()

In [9]:
mc.mermaid_txt

'graph TD;subgraph 123456789;1[First Node]-->2[Second Node];3(Third Node)-->|Some relations|2[Second Node];end; 2[Second Node]-.table connect.->4{Forth Node};4-.table connect.->5;'

In [10]:
sas_query.from_to_property
sas_query.from_to_query
sas_query.node_property

[['node_id',
  'query_id',
  'subq_name',
  'state',
  'token_tag',
  'state_value',
  'state_alias',
  'state_parentname',
  'state_realname'],
 ['1',
  '1',
  'MAIN',
  'FROM',
  'value',
  'Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS)',
  '',
  '',
  ''],
 ['2',
  '1',
  'MAIN',
  'FROM',
  'token',
  'alias:, Database:Meow, Table:POL_ALL_X_01',
  '',
  'Meow',
  'POL_ALL_X_01'],
 ['3',
  '1',
  'MAIN',
  'FROM',
  'token',
  'alias:t2, Database:QUERY, Table:DTAAB001_Q',
  't2',
  'QUERY',
  'DTAAB001_Q'],
 ['4',
  '1',
  'MAIN',
  'WHERE',
  'value',
  'WHERE t1.CREATE_DATE > t2.OCR_DATE ;',
  '',
  '',
  ''],
 ['5',
  '1',
  'MAIN',
  'SELECT',
  'value',
  'DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO',
  '',
  '',
  ''],
 ['6',
  '1',
  'MAIN',
  'TABLE',
  'token',
  'MEOW.PAST_CLAIM_APLY_NO',
  '',
  'MEOW',
  'PAST_CLAIM_APLY_NO'],
 ['7',
  '2',
  'MAIN',
  'FROM',
  'value',
  'MEOW.PAST_CLAIM_APLY_NO t1 INNER JOIN QUERY.DTAAA020_AE t2 ON (t1.APLY_NO = t2.APLY_NO) ;',
  '',
  '',
  ''],
 ['8',
  '2',
  'MAIN',
  'FROM',
  'token',
  'alias:t1, Database:MEOW, Table:PAST_CLAIM_APLY_NO',
  't1',
  'MEOW',
  'PAST_CLAIM_APLY_NO'],
 ['9',
  '2',
  'MAIN',
  'FROM',
  'token',
  'alias:t2, Database:QUERY, Table:DTAAA020_AE',
  't2',
  'QUERY',
  'DTAAA020_AE'],
 ['10',
  '2',
  'MAIN',
  'SELECT',
  'value',
  'DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO, t2.DIAG_SER_NO, t2.CFM_ICD_CODE1, t2.CFM_ICD_CODE2, t2.CFM_ICD_CODE3, t2.CFM_ICD_CODE4, t2.CFM_ICD_CODE5',
  '',
  '',
  ''],
 ['11',
  '2',
  'MAIN',
  'TABLE',
  'token',
  'WORK.PAST_CLAIM_ICDS',
  '',
  'WORK',
  'PAST_CLAIM_ICDS']]

In [43]:
import pandas as pd
node_property

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
0,1,1,MAIN,FROM,value,Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q ...,,,
1,2,1,MAIN,FROM,token,"alias:, Database:Meow, Table:POL_ALL_X_01",,Meow,POL_ALL_X_01
2,3,1,MAIN,FROM,token,"alias:t2, Database:QUERY, Table:DTAAB001_Q",t2,QUERY,DTAAB001_Q
3,4,1,MAIN,WHERE,value,WHERE t1.CREATE_DATE > t2.OCR_DATE ;,,,
4,5,1,MAIN,SELECT,value,"DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY_NO",,,
5,6,1,MAIN,TABLE,token,MEOW.PAST_CLAIM_APLY_NO,,MEOW,PAST_CLAIM_APLY_NO
6,7,2,MAIN,FROM,value,MEOW.PAST_CLAIM_APLY_NO t1 INNER JOIN QUERY.DT...,,,
7,8,2,MAIN,FROM,token,"alias:t1, Database:MEOW, Table:PAST_CLAIM_APLY_NO",t1,MEOW,PAST_CLAIM_APLY_NO
8,9,2,MAIN,FROM,token,"alias:t2, Database:QUERY, Table:DTAAA020_AE",t2,QUERY,DTAAA020_AE
9,10,2,MAIN,SELECT,value,"DISTINCT t1.CONTRACT_NO,t1.INSD_ID_SAS,t2.APLY...",,,
10,11,2,MAIN,TABLE,token,WORK.PAST_CLAIM_ICDS,,WORK,PAST_CLAIM_ICDS

In [211]:
node_property = pd.DataFrame(sas_query.node_property[1:], columns = sas_query.node_property[0])
node_property[(node_property["node_id"] == "3") & (node_property["token_tag"] == "token")]

,node_id,query_id,subq_name,state,token_tag,state_value,state_alias,state_parentname,state_realname
2,3,1,MAIN,FROM,token,"alias:t2, Database:QUERY, Table:DTAAB001_Q",t2,QUERY,DTAAB001_Q

In [90]:
node_property[node_property["node_id"] == "3"]["node_id"].tolist()

['3']

In [238]:
import pandas as pd
class Sqltoflowchart():
    
    def __init__(self, from_to_node, from_to_query, node_property):
        self.from_to_node = from_to_node
        self.from_to_query = from_to_query
        self.node_property = pd.DataFrame(node_property[1:], columns= node_property[0])
        self.mc = Mermaid_creator()
    
    # 00_1 regrex Setting (upper and lower no different)
    def upper_lower_regrex(self, string):
        regex_txt = ""
        for c in string:
            if c == " " : 
                regex_txt += " "
            else:
                regex_txt += "[" + c.lower() + c.upper() + "]"
        return(regex_txt)
    
    # 01 Create node txt
    def Create_nodetxt(self, node_id, node):
        token_tag = node["token_tag"].tolist()[0]
        node_value = ""
        node_value += "<b>" + node["state"].tolist()[0] + "</b>"
        
        if token_tag == "token" :
            node_value += "<br>" + node["state_parentname"].tolist()[0] + "." + node["state_realname"].tolist()[0] + ", " + node["state_alias"].tolist()[0]
        
        ## Add <center> </center>
        node_value = "<center>" + node_value + "</center>"
        
        return node_value
    
    # 02 Create relation txt
    def Create_relationtxt(self, node_id, node):
        token_tag = node["token_tag"].tolist()[0]
        relation_value = ""
        
        if token_tag == "token" : 
            print("Empty relation (Class Sqltoflowchart - def Create_relationtxt)")
        else :
            relation_value = node[ "state_value" ].tolist()[0]
            relation_value = re.sub("\\(|\\)", " ", relation_value)
            relation_value = re.sub(";", "", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("INNER JOIN "), "<b>INNER JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("LEFT JOIN "), "<b>LEFT JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("RIGHT JOIN "), "<b>RIGHT JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("OUTER JOIN "), "<b>OUTER JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("CROSS JOIN "), "<b>CROSS JOIN </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("DISTINCT "), "<b>DISTINCT </b>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex("ON "), "ON <br>", relation_value)
            relation_value = re.sub(self.upper_lower_regrex(","), ", <br>", relation_value)
#             print("Need txt relation (Class Sqltoflowchart - def Create_relationtxt)")
        ## Add <center> </center>
        relation_value = "<center>" + relation_value + "</center>"
        
        return(relation_value)    
    
    #03 Create mermaid plot
    def mermaid_plot(self):
        #### 03_2 Initial Subgraph start drawing
        subgraph_sign = 0 # Record the subgraph , start->set 1, end->set 0
        
        
        #01 Node relation create
        for from_to in self.from_to_node :
            from_id = ""
            to_id = ""
            from_node = ""
            to_node = ""
            node_txt = ""
            relation = ""
            
            if from_to[0] == "from" :
                print("columnnames" + str(from_to))
                continue
            
            
            # 03_1 Initial setting from and to node setting 
            from_id = from_to[0]
            to_id = from_to[1]
            from_node = self.node_property[self.node_property["node_id"] == from_id]
            to_node = self.node_property[self.node_property["node_id"] == to_id]
            
            #03_2 Subgraph start drawing(from_node) ===============================
            
            if from_node["state"].tolist()[0] == "FROM" and from_node["token_tag"].tolist()[0] == "token" and subgraph_sign == 0 :
                subgraph_sign = 1
                self.mc.subgraph(state = "start", txt = "<needtobereplacetable>")
                
                
            #03_3 From node create (from_node)===============================
            node_txt = self.Create_nodetxt(node_id = from_id, node = from_node)
            if from_node["token_tag"].tolist()[0] == "token" :
                self.mc.add_node(shape = "roundedges", txt = node_txt, node_id = from_id)
            else : 
                self.mc.add_node(shape = "diamond", txt = node_txt, node_id = from_id)
            
            
            #03_4 From relation create (from_node)===============================
            relation_txt = self.Create_relationtxt(node_id = from_id, node = from_node)
            if from_node["token_tag"].tolist()[0] == "token" :
                self.mc.add_link(shape = "arrowhead", txt = "")
            else : 
                self.mc.add_link(shape = "arrowhead", txt = relation_txt)
            
            
            
            #03_5 To node create (to_node)===============================
            node_txt = self.Create_nodetxt(node_id = to_id, node = to_node)
            if to_node["token_tag"].tolist()[0] == "token" :
                self.mc.add_node(shape = "roundedges", txt = node_txt, node_id = to_id)
            else : 
                self.mc.add_node(shape = "diamond", txt = node_txt, node_id = to_id)
            
            #03_6 End Line ===============================
            self.mc.close_sentence()
            
            
            #03_7 Subgraph end drawing (to_node) ===============================
            ## 01 "TABLE" state, "token" token_tag setting end line
            ## 02 Replace the  mermaid_txt <needtobereplacetable> replace to TABLE name 
            if to_node["state"].tolist()[0] == "TABLE" and to_node["token_tag"].tolist()[0] == "token" and subgraph_sign == 1 :
                subgraph_sign = 0
                self.mc.subgraph(state = "end")
                self.mc.mermaid_txt = re.sub("\\<needtobereplacetable\\>", to_node["state_value"].tolist()[0], self.mc.mermaid_txt)
                print("replace relation (Class Sqltoflowchart - def Create_relationtxt)")
            
        #02 query relation create
        for from_to_query in self.from_to_query :
            from_id = ""
            to_id = ""
            if from_to_query[0] == "from" :
                print("columnnames" + str(from_to_query))
                continue
            print("columnnames" + str(from_to_query))
            # 04_1 Initial setting from and to node setting 
            from_id = from_to_query[0]
            to_id = from_to_query[1]
            
            self.mc.add_node(node_id = from_id)
            self.mc.add_link(shape = "dottedlink", txt = "")
            self.mc.add_node(node_id = to_id)
            self.mc.close_sentence()
            
    #04 Draw mermaid plot
    def mermaid_drawnode(self, keyword, token_tag, color):
        draw_nodes = self.node_property[(self.node_property["state_parentname"] == keyword) & (self.node_property["token_tag"] == token_tag)]
        for node_id in draw_nodes["node_id"]:
            self.mc.add_node_color(node_id, color)

In [239]:
sfc = Sqltoflowchart(sas_query.from_to_property,
sas_query.from_to_query,
sas_query.node_property)

In [214]:
sas_query.from_to_query

[['from', 'to'], ['6', '8']]

In [240]:
sfc.mermaid_plot()
sfc.mermaid_drawnode(keyword = "QUERY", token_tag = "token", color = "#28FF28")

columnnames['from', 'to']
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
Empty relation (Class Sqltoflowchart - def Create_relationtxt)
replace relation (Class Sqltoflowchart - def Create_relationtxt)
columnnames['from', 'to']
columnnames['6', '8']

In [241]:
sfc.mc.mermaid_txt

'graph TD;subgraph MEOW.PAST_CLAIM_APLY_NO;2(<center><b>FROM</b><br>Meow.POL_ALL_X_01, </center>)-->1{<center><b>FROM</b></center>};3(<center><b>FROM</b><br>QUERY.DTAAB001_Q, t2</center>)-->1{<center><b>FROM</b></center>};1{<center><b>FROM</b></center>}-->|<center>Meow.POL_ALL_X_01 <b>INNER JOIN </b>QUERY.DTAAB001_Q t2 ON <br> t1.INSD_ID_SAS = t2.OCR_ID_SAS </center>|4{<center><b>WHERE</b></center>};4{<center><b>WHERE</b></center>}-->|<center>WHERE t1.CREATE_DATE > t2.OCR_DATE </center>|5{<center><b>SELECT</b></center>};5{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br>t2.APLY_NO</center>|6(<center><b>TABLE</b><br>MEOW.PAST_CLAIM_APLY_NO, </center>);end; subgraph WORK.PAST_CLAIM_ICDS;8(<center><b>FROM</b><br>MEOW.PAST_CLAIM_APLY_NO, t1</center>)-->7{<center><b>FROM</b></center>};9(<center><b>FROM</b><br>QUERY.DTAAA020_AE, t2</center>)-->7{<center><b>FROM</b></center>};7{<center><b>FROM</b></center>}-->|<center>MEOW.PAST_CLAIM_APLY_NO t1 <b>INNER JOIN </b>QUERY.DTAAA020_AE t2 ON <br> t1.APLY_NO = t2.APLY_NO  </center>|10{<center><b>SELECT</b></center>};10{<center><b>SELECT</b></center>}-->|<center><b>DISTINCT </b>t1.CONTRACT_NO, <br>t1.INSD_ID_SAS, <br>t2.APLY_NO, <br> t2.DIAG_SER_NO, <br> t2.CFM_ICD_CODE1, <br> t2.CFM_ICD_CODE2, <br> t2.CFM_ICD_CODE3, <br> t2.CFM_ICD_CODE4, <br> t2.CFM_ICD_CODE5</center>|11(<center><b>TABLE</b><br>WORK.PAST_CLAIM_ICDS, </center>);end; 6-.->8;\n style 3 fill:#28FF28;\n style 9 fill:#28FF28;'

In [79]:
sas_query.from_to_property

[['from', 'to'],
 ['2', '1'],
 ['3', '1'],
 ['1', '4'],
 ['4', '5'],
 ['5', '6'],
 ['8', '7'],
 ['9', '7'],
 ['7', '10'],
 ['10', '11']]

In [75]:
regex_txt = ""
for c in "INNER JOIN ":
    if c == " " : 
        regex_txt += " "
    else:
        regex_txt += "[" + c.lower() + c.upper() + "]"
print(regex_txt)

[iI][nN][nN][eE][rR] [jJ][oO][iI][nN]

In [78]:
sfc.Create_relationtxt(node_id = "7", node = sfc.node_property[sfc.node_property["node_id"] == "7"])

'MEOW.PAST_CLAIM_APLY_NO t1 <b>INNER JOIN </b>QUERY.DTAAA020_AE t2 ON <br> t1.APLY_NO = t2.APLY_NO  ;'

## mermaid plot 
### supermarkdown

In [153]:
re.sub("\\<needtobereplacetable\\>", "xxxx", "<needtobereplacetable>;")

'xxxx;'

In [64]:
re.sub( regex_txt, "", " FROM Meow.POL_ALL_X_01 INNER JOIN QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS) ")

' FROM Meow.POL_ALL_X_01 QUERY.DTAAB001_Q t2 ON (t1.INSD_ID_SAS = t2.OCR_ID_SAS) '

In [93]:
from SuperMarkdown import SuperMarkdown

supermd = SuperMarkdown.SuperMarkdown()

In [10]:
import markdown

text = """

~~~mermaid
graph LR
A[Zip file]-->B[\"R (abc) functions\"]
A[Zip file]-->C[manual<br>for R<br>functions]
A[Zip file]-->D[vingettes]
D[vingettes]-->E[data]
D[vingettes]-->F[figures]
D[vingettes]-->G((R<br>markdown<br>file))
A[Zip file]-->H((README<br>file))

style B fill:red
~~~
"""

html = markdown.markdown(text, extensions=['md_mermaid'])

print(html)

<div class="mermaid">
graph LR
A[Zip file]-->B["R (abc) functions"]
A[Zip file]-->C[manual<br>for R<br>functions]
A[Zip file]-->D[vingettes]
D[vingettes]-->E[data]
D[vingettes]-->F[figures]
D[vingettes]-->G((R<br>markdown<br>file))
A[Zip file]-->H((README<br>file))

style B fill:red
</div>

<script>mermaid.initialize({startOnLoad:true});</script>

True