In [1]:
import sqlparse

In [2]:
sqlparse.split('select * from foo; select * from bar;')

['select * from foo;', 'select * from bar;']

In [4]:
sql = 'select * from foo where id in (select id from bar);'
print (sqlparse.format(sql, reindent=True, keyword_case='upper'))

SELECT *
FROM foo
WHERE id IN
    (SELECT id
     FROM bar);

In [6]:
sql = '''CREATE TABLE TABLE_TO_CREATE NOLOGGING AS
SELECT DISTINCT
A.COLA,
B.COLB,
DECODE(A.DECODE_CONDITION, 1, '是', '否') DECODED,
ROW_NUMBER() OVER(PARTITION BY A.CLASS_CONDITION ORDER BY A.RAND_CONDITION DESC) RN
FROM FSCRM.TABLE_A A,
(SELECT * FROM TABLE_C C WHERE C.SOMETHING='SOMETHING' AND C.NUM=1234) B 
WHERE A.COMPARE_CONDITION=B.COMPARE_CONDITION
AND A.NUM NOT IN (1, 2, 3)
AND NOT EXISTS (SELECT D.COLD FROM TABLE_D WHERE A.COLA=D.COLD)
ORDER BY A.ORDER_CONDITION
/* COMMENTS */
;'''
res = sqlparse.parse(sql)
res

stmt = res[0]
str(stmt)  # converting it back to unicode
'select * from someschema.mytable where id = 1'
# This is how the internal representation looks like:
stmt.tokens

[<DDL 'CREATE' at 0x264740FEA08>,
 <Whitespace ' ' at 0x264740FE048>,
 <Keyword 'TABLE' at 0x264740FE9A8>,
 <Whitespace ' ' at 0x264740FE1C8>,
 <Identifier 'TABLE_...' at 0x26473995B48>,
 <Whitespace ' ' at 0x264740FE648>,
 <Keyword 'AS' at 0x264740FE8E8>,
 <Newline ' ' at 0x264740FE528>,
 <DML 'SELECT' at 0x264740FE588>,
 <Whitespace ' ' at 0x264740FE708>,
 <Keyword 'DISTIN...' at 0x26472904348>,
 <Newline ' ' at 0x26473EA8828>,
 <IdentifierList 'A.COLA...' at 0x2647399B6C8>,
 <IdentifierList '(A.DEC...' at 0x2647399B7C8>,
 <Identifier '() OVER' at 0x2647399B048>,
 <Identifier '(PARTI...' at 0x2647399B4C8>,
 <Newline ' ' at 0x2647398D588>,
 <Keyword 'FROM' at 0x2647398D5E8>,
 <Whitespace ' ' at 0x2647398D648>,
 <IdentifierList 'FSCRM....' at 0x2647399B748>,
 <Whitespace ' ' at 0x26473991468>,
 <Newline ' ' at 0x264739914C8>,
 <Where 'WHERE ...' at 0x264739951C8>,
 <Keyword 'ORDER ...' at 0x26473993B28>,
 <Whitespace ' ' at 0x26473993B88>,
 <Identifier 'A.ORDE...' at 0x26473995AC8>,
 <Punctuation ';' at 0x26473993E28>]